    <div class="row wrapper">

        <div class="tab-content">
            <div class="tab-pane one_col active" id="one_col">
                {{> tabs.isaiah}}
            </div>
            <div class="tab-pane three_col" id="three_col">
                {{> tabs.3col}}
            </div>
            <div class="tab-pane commentary" id="commentary">
                {{> tabs.commentary}}
            </div>
            <div class="tab-pane concordance" id="concordance">
                {{> tabs.concordance}}
            </div>
        </div>

    </div>