    <div class="row wrapper">

        <div class="tab-content">
            <div class="tab-pane one_col active" id="one_col">
                <main class="col-xs-12 col-sm-8 left-column" role="main">

                    <h4 class="mini-header">Isaiah Institute Translation</h4>

                    <div class="chapter-heading"><i>{{chapter_heading}}</i></div>

                    <hr>

                    <div id="scripture_area" class="one-col-padding scripture-text">
                        {{iit_html}}
                        <!--
                        <span class="prose">
                            <a href="#versemodal" class="modal-trigger verse-number prose" data-toggle="modal">1</a> When Ahaz son of Jotham, the son of Uzziah, was king of Judah, Rezin king of Aram and Pekah son of Remaliah king of Israel came up to Jerusalem to wage war against it, but could not overpower it.
                        </span>
                        <span class="prose">
                            <a href="#versemodal" class="modal-trigger verse-number prose" data-toggle="modal">2</a> And when the house of David was informed that Aram was leading Ephraim on, the king’s mind and the minds of his people were shaken, as trees in a forest are shaken by a gale.
                        </span>
                        <div class="spacer"></div>
                        <span class="prose inline">
                            <a href="#versemodal" class="modal-trigger verse-number prose" data-toggle="modal">3</a> Then Jehovah said to Isaiah, Go out and meet Ahaz, you and your son Shear-Jashub,<sup>1</sup> at the end of the aqueduct of the Upper Reservoir, on the road to the Laundry Plaza. </span>
                        <span class="prose inline">
                            <a href="#versemodal" class="modal-trigger verse-number prose" data-toggle="modal">4</a> Say to him, See to it that you remain calm and unafraid. Be not intimidated by these two smoking tail ends of kindling, by the burning anger of Rezin and Aram and the son of Remaliah,
                        </span>
                        <span class="prose inline">
                            <a href="#versemodal" class="modal-trigger verse-number prose" data-toggle="modal">5</a> even though Aram has conceived an evil plot against you, as has Ephraim and the son of Remaliah, who say,
                        </span>
                        <span class="prose inline">
                            <a href="#versemodal" class="modal-trigger verse-number prose" data-toggle="modal">6</a> Let us invade Judah and stir up trouble there. We will take it for ourselves by force and set a ruler over it—the son of Tabeal.
                        </span>
                        <div class="spacer"></div>
                        <span class="poetry">
                            <a href="#versemodal" class="modal-trigger verse-number" data-toggle="modal">7</a> Thus says my Lord Jehovah:
                            <span class="indent">It shall not occur or transpire.</span>
                        </span>
                        <span class="poetry">
                            <a href="#versemodal" class="modal-trigger verse-number" data-toggle="modal">8</a> For as surely as Damascus is the capital of Aram
                            <span class="indent">and Rezin the head of Damascus,</span>
                            within sixty-five<sup>2</sup> years shall Ephraim
                            <span class="indent">be shattered as a nation.</span>
                        </span>
                        <div class="spacer"></div>
                        <span class="poetry">
                            <a href="#versemodal" class="modal-trigger verse-number" data-toggle="modal">9</a> But as surely as Samaria is the capital of Ephraim
                            <span class="indent">and the son of Remaliah the head of Samaria,</span>
                        you will not believe it,
                            <span class="indent">because you are not loyal.</span>
                        </span>
                        <div class="spacer"></div>
                        <span class="prose">
                            <a href="#versemodal" class="modal-trigger verse-number prose" data-toggle="modal">13</a> Then Isaiah said, Take heed, O house of David! Is it not enough for you to try the patience of men? Must you also try the patience of my God?
                        </span>
                        <div class="spacer"></div>
                        <span class="prose">
                            <a href="#versemodal" class="modal-trigger verse-number" data-toggle="modal">20</a> In that day my Lord will use a <a href="#defmodal" class="modal-trigger def-trigger red" data-toggle="modal">razor</a> hired at the River – the king of Assyria – to shave your head and the hair of your legs, and to cut off even your beard.
                        </span>
                        <div class="spacer"></div>
                        <span class="prose">
                            <a href="#versemodal" class="modal-trigger verse-number" data-toggle="modal">21</a> In that day a man will keep alive a young cow and a pair of sheep. <a href="#versemodal" class="modal-trigger verse-number" data-toggle="modal">22</a> And because of their plentiful milk, men will eat the cream. All who remain in the land will feed on cream and honey.
                        </span>
                        -->
                    </div> <!-- End One Col Padding -->

                    <hr>

                    <div class="bottom-links pull-right"><?php include('nav-links-light.php'); ?></div>

                    <ul class="footnotes">
                        {{#footnotes}}
                        <li><sup>{{id}}</sup> {{footnote_text}}</li>
                        {{/footnotes}}
                    </ul>

                </main>

                <?php include('aside-isaiah.php'); ?>
            </div>
            <div class="tab-pane three_col" id="three_col">
                <main class="col-xs-12 full-width" role="main">

                <h4 class="mini-header">Comparative Translation</h4>

                <div class="chapter-heading"><i><?php echo get_book_chapter_header($book_title, $chapter); ?></i></div>

                <div class="row">

                    <hr>

                    <table class="three-column table">
                        <thead>
                        <tr>
                            <th class="col-xs-4"><div class="full-table-title">King James Version</div><div class="mobile-table-title">KJV</div></th>
                            <th class="comp-vs-num">vs</th>
                            <th class="col-xs-4" style="width: 36%"><div class="full-table-title">Isaiah Institute Translation</div><div class="mobile-table-title">IIT</div></th>
                            <th class="col-xs-4"><div class="full-table-title">Masoretic Text</div><div class="mobile-table-title">HEB</div></th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php echo getThreeColHtml($chapter); ?>
                        <!--<tr>
                            <td>For the head of Syria is Damascus, and the head of Damascus is Rezin; and within threescore and five years shall Ephraim be broken, that it be not a people.</td>
                            <td class="comp-vs-num">0</td>
                            <td>Jehovah will cause his voice to resound,
                            <br><span class="indent">and make visible his arm descending in furious rage,</span>
                            with flashes of devouring fire,
                            <br><span class="indent">explosive discharges and pounding hail.</span></td>
                            <td class="heb-col">כִּי רֹאשׁ אֲרָם דַּמֶּשֶׂק וְרֹאשׁ דַּמֶּשֶׂק רְצִין וּבְעוֹד שִׁשִּׁים וְחָמֵשׁ שָׁנָה יֵחַת אֶפְרַיִם מֵעָם ׃</td>
                        </tr>
                        <tr>
                            <td>And it came to pass in the days of Ahaz the son of Jotham, the son of Uzziah, king of Judah, that Rezin the king of Syria, and Pekah the son of Remaliah, king of Israel, went up toward Jerusalem to war against it, but could not prevail against it.</td>
                            <td class="comp-vs-num">1</td>
                            <td>When Ahaz son of Jotham, the son of Uzziah, was king of Judah, Rezin king of Aram and Pekah son of Remaliah king of Israel came up to Jerusalem to wage war against it, but could not overpower it.</td>
                            <td class="heb-col">וַיְהִי בִּימֵי אָחָז בֶּן־יוֹתָם בֶּן־עֻזִּיָּהוּ מֶלֶךְ יְהוּדָה עָלָה רְצִין מֶלֶךְ־אֲרָם וּפֶקַח בֶּן־רְמַלְיָהוּ מֶלֶךְ־יִשְׂרָאֵל יְרוּשָׁלִַם לַמִּלְחָמָה עָלֶיהָ וְלֹא יָכֹל לְהִלָּחֵם עָלֶיהָ ׃	</td>
                        </tr>
                        <tr>
                            <td>And it was told the house of David, saying, Syria is confederate with Ephraim. And his heart was moved, and the heart of his people, as the trees of the wood are moved with the wind.</td>
                            <td class="comp-vs-num">2</td>
                            <td>And when the house of David was informed that Aram was leading Ephraim on, the king’s mind and the minds of his people were shaken, as trees in a forest are shaken by a gale.</td>
                            <td class="heb-col">וַיֻּגַּד לְבֵית דָּוִד לֵאמֹר נָחָה אֲרָם עַל־אֶפְרָיִם וַיָּנַע לְבָבוֹ וּלְבַב עַמּוֹ כְּנוֹעַ עֲצֵי־יַעַר מִפְּנֵי־רוּחַ ׃</td>
                        </tr>
                        <tr>
                            <td>Then said the Lord unto Isaiah, Go forth now to meet Ahaz, thou, and Shear-jashub thy son, at the end of the conduit of the upper pool in the highway of the fuller's field;</td>
                            <td class="comp-vs-num">3</td>
                            <td>Then Jehovah said to Isaiah, Go out and meet Ahaz, you and your son Shear-Jashub,a at the end of the aqueduct of the Upper Reservoir, on the road to the Laundry Plaza.</td>
                            <td class="heb-col">וַיֹּאמֶר יְהוָה אֶל־יְשַׁעְיָהוּ צֵא־נָא לִקְרַאת אָחָז אַתָּה וּשְׁאָריָשׁוּב בְּנֶךָ אֶל־קְצֵה תְּעָלַת הַבְּרֵכָה הָעֶלְיוֹנָה אֶל־מְסִלַּת שְׂדֵה כוֹבֵס ׃</td>
                        </tr>
                        <tr>
                            <td>And say unto him, Take heed, and be quiet; fear not, neither be fainthearted for the two tails of these smoking firebrands, for the fierce anger of Rezin with Syria , and of the son of Remaliah.</td>
                            <td class="comp-vs-num">4</td>
                            <td>Say to him, See to it that you remain calm and unafraid. Be not intimidated by these two smoking tail ends of kindling, by the burning anger of Rezin and Aram and the son of Remaliah, </td>
                            <td class="heb-col">וְאָמַרְתָּ אֵלָיו הִשָּׁמֵר וְהַשְׁקֵט אַל־תִּירָא וּלְבָבְךָ אַל־יֵרַךְ מִשְּׁנֵי זַנְבוֹת הָאוּדִים הָעֲשֵׁנִים הָאֵלֶּה בָּחֳרִי־אַף רְצִין וַאֲרָם וּבֶן־רְמַלְיָהוּ ׃</td>
                        </tr>
                        <tr>
                            <td>Because Syria , Ephraim, and the son of Remaliah, have taken evil counsel against thee, saying,</td>
                            <td class="comp-vs-num">5</td>
                            <td>even though Aram has conceived an evil plot against you, as has Ephraim and the son of Remaliah, who say,</td>
                            <td class="heb-col">נַעֲלֶה בִיהוּדָה וּנְקִיצֶנָּה וְנַבְקִעֶנָּה אֵלֵינוּ וְנַמְלִיךְ מֶלֶךְ בְּתוֹכָהּ אֵת בֶּן־טָבְאַל ׃</td>
                        </tr>
                        <tr>
                            <td>Let us go up against Judah , and vex it, and let us make a breach therein for us, and set a king in the midst of it, even the son of Tabeal:</td>
                            <td class="comp-vs-num">6</td>
                            <td>Let us invade Judah and stir up trouble there. We will take it for ourselves by force and set a ruler over it—the son of Tabeal.</td>
                            <td class="heb-col">נַעֲלֶה בִיהוּדָה וּנְקִיצֶנָּה וְנַבְקִעֶנָּה אֵלֵינוּ וְנַמְלִיךְ מֶלֶךְ בְּתוֹכָהּ אֵת בֶּן־טָבְאַל ׃</td>
                        </tr>
                        <tr>
                            <td>Thus saith the Lord God, It shall not stand, neither shall it come to pass.</td>
                            <td class="comp-vs-num">7</td>
                            <td>Thus says my Lord Jehovah:
                            <br><span class="indent">It shall not occur or transpire.</span></td>
                            <td class="heb-col">כֹּה אָמַר אֲדֹנָי יְהוִה לֹא תָקוּם וְלֹא תִהְיֶה ׃</td>
                        </tr>
                        <tr>
                            <td>For the head of Syria is Damascus, and the head of Damascus is Rezin; and within threescore and five years shall Ephraim be broken, that it be not a people.</td>
                            <td class="comp-vs-num">8</td>
                            <td>For as surely as Damascus is the capital of Aram
                            <br><span class="indent">and Rezin the head of Damascus,</span>
                            within sixty-five<sup>2</sup> years shall Ephraim
                            <br><span class="indent">be shattered as a nation.</span></td>
                            <td class="heb-col">כִּי רֹאשׁ אֲרָם דַּמֶּשֶׂק וְרֹאשׁ דַּמֶּשֶׂק רְצִין וּבְעוֹד שִׁשִּׁים וְחָמֵשׁ שָׁנָה יֵחַת אֶפְרַיִם מֵעָם ׃</td>
                        </tr>
                        <tr>
                            <td>
                                And the head of Ephraim is Samaria, and the head of Samaria is Remaliah's son. If ye will not believe, surely ye shall not be established.
                            </td>
                            <td class="comp-vs-num">9</td>
                            <td>
                                But as surely as Samaria is the capital of Ephraim
                                <br><span class="indent">and the son of Remaliah the head of Samaria,</span>
                                you will not believe it,
                                <br><span class="indent">because you are not loyal.</span>
                            </td>
                            <td class="heb-col">
                וְרֹאשׁ אֶפְרַיִם שֹׁמְרוֹן וְרֹאשׁ שֹׁמְרוֹן בֶּן־רְמַלְיָהוּ אִם לֹא תַאֲמִינוּ כִּי לֹא תֵאָמֵנוּ ׃
                            </td>
                        </tr>
                        <tr>
                            <td>Moreover the Lord spake again unto Ahaz, saying,</td>
                            <td class="comp-vs-num">10</td>
                            <td>Again Jehovah addressed Ahaz, and said,</td>
                            <td class="heb-col">וַיּוֹסֶף יְהוָה דַּבֵּר אֶל־אָחָז לֵאמֹר ׃</td>
                        </tr>
                        <tr>
                            <td>And the head of Ephraim is Samaria, and the head of Samaria is Remaliah's son. If ye will not believe, surely ye shall not be established.</td>
                            <td class="comp-vs-num">11</td>
                            <td>Ask a sign for yourself from Jehovah your God, whether in the depths below or in the heights above.</td>
                            <td class="heb-col">וְרֹאשׁ אֶפְרַיִם שֹׁמְרוֹן וְרֹאשׁ שֹׁמְרוֹן בֶּן־רְמַלְיָהוּ אִם לֹא תַאֲמִינוּ כִּי לֹא תֵאָמֵנוּ ׃</td>
                        </tr>
                        <tr>
                            <td>But Ahaz said, I will not ask, neither will I tempt the Lord.</td>
                            <td class="comp-vs-num">12</td>
                            <td>But Ahaz said, I will not. I will not put Jehovah to the test.</td>
                            <td class="heb-col">וַיֹּאמֶר אָחָז לֹא־אֶשְׁאַל וְלֹא־אֲנַסֶּה אֶת־יְהוָה ׃</td>
                        </tr>
                        <tr>
                            <td>And he said, Hear ye now, O house of David; Is it a small thing for you to weary men, but will ye weary my God also?</td>
                            <td class="comp-vs-num">13</td>
                            <td>Then Isaiah said, Take heed, O house of David! Is it not enough for you to try the patience of men? Must you also try the patience of my God?</td>
                            <td class="heb-col">וַיֹּאמֶר שִׁמְעוּ־נָא בֵּית דָּוִד הַמְעַט מִכֶּם הַלְאוֹת אֲנָשִׁים כִּי תַלְאוּ גַּם אֶת־אֱלֹהָי ׃</td>
                        </tr>
                        <tr>
                            <td>Therefore the Lord himself shall give you a sign; Behold, a virgin shall conceive, and bear a son, and shall call his name Immanuel.</td>
                            <td class="comp-vs-num">14</td>
                            <td>Therefore will my Lord of himself give you a sign: the young woman with child shall give birth to a son and name him Immanuel.<sup>3</sup></td>
                            <td class="heb-col">לָכֵן יִתֵּן אֲדֹנָי הוּא לָכֶם אוֹת הִנֵּה הָעַלְמָה הָרָה וְיֹלֶדֶת בֵּן וְקָרָאת שְׁמוֹ עִמָּנוּאֵל ׃</td>
                        </tr>
                        <tr>
                            <td>Butter and honey shall he eat, that he may know to refuse the evil, and choose the good.</td>
                            <td class="comp-vs-num">15</td>
                            <td>Cream and honey will he eat by the time he has learned to reject what is evil and choose what is good.</td>
                            <td class="heb-col">חֶמְאָה וּדְבַשׁ יֹאכֵל לְדַעְתּוֹ מָאוֹס בָּרָע וּבָחוֹר בַּטּוֹב ׃</td>
                        </tr>
                        <tr>
                            <td>For before the child shall know to refuse the evil, and choose the good, the land that thou abhorrest shall be forsaken of both her kings.</td>
                            <td class="comp-vs-num">16</td>
                            <td>But before the child learns to reject the evil and choose the good, the land whose two rulers you loathe shall lie forsaken. </td>
                            <td class="heb-col">כִּי בְּטֶרֶם יֵדַע הַנַּעַר מָאֹס בָּרָע וּבָחֹר בַּטּוֹב תֵּעָזֵב הָאֲדָמָה אֲשֶׁר אַתָּה קָץ מִפְּנֵי שְׁנֵי מְלָכֶיהָ ׃</td>
                        </tr>
                        <tr>
                            <td>The Lord shall bring upon thee, and upon thy people, and upon thy father's house, days that have not come, from the day that Ephraim departed from Judah ; even the king of Assyria .</td>
                            <td class="comp-vs-num">17</td>
                            <td>Jehovah will bring upon you and your people and your father’s house a day unlike any since Ephraim broke away from Judah—the day of the king of Assyria.</td>
                            <td class="heb-col">יָבִיא יְהוָה עָלֶיךָ וְעַל־עַמְּךָ וְעַל־בֵּית אָבִיךָ יָמִים אֲשֶׁר לֹא־בָאוּ לְמִיּוֹם סוּר־אֶפְרַיִם מֵעַל יְהוּדָה אֵת מֶלֶךְ אַשּׁוּר ׃</td>
                        </tr>
                        <tr>
                            <td>And it shall come to pass in that day, that the Lord shall hiss for the fly that is in the uttermost part of the rivers of Egypt , and for the bee that is in the land of Assyria.</td>
                            <td class="comp-vs-num">18</td>
                            <td>In that day Jehovah will signal for the flies from the far rivers of Egypt and for the bees in the land of Assyria.</td>
                            <td class="heb-col">הָיָה בַּיּוֹם הַהוּא יִשְׁרֹק יְהוָה לַזְּבוּב אֲשֶׁר בִּקְצֵה יְאֹרֵי מִצְרָיִם וְלַדְּבוֹרָה אֲשֶׁר בְּאֶרֶץ אַשּׁוּר ׃</td>
                        </tr>
                        <tr>
                            <td>And they shall come, and shall rest all of them in the desolate valleys, and in the holes of the rocks, and upon all thorns, and upon all bushes.</td>
                            <td class="comp-vs-num">19</td>
                            <td>And they will come and settle with one accord in the river beds of the prairie and in rocky ravines, and by all ditches and water holes.</td>
                            <td class="heb-col">וּבָאוּ וְנָחוּ כֻלָּם בְּנַחֲלֵי הַבַּתּוֹת וּבִנְקִיקֵי הַסְּלָעִים וּבְכֹל הַנַּעֲצוּצִים וּבְכֹל הַנַּהֲלֹלִים ׃</td>
                        </tr>
                        <tr>
                            <td>In the same day shall the Lord shave with a razor that is hired, namely, by them beyond the river, by the king of Assyria , the head, and the hair of the feet: and it shall also consume the beard.</td>
                            <td class="comp-vs-num">20</td>
                            <td>In that day my Lord will use a razor hired at the River—the king of Assyria—to shave your head and the hair of your legs, and to cut off even your beard.</td>
                            <td class="heb-col">בַּיּוֹם הַהוּא יְגַלַּח אֲדֹנָי בְּתַעַר הַשְּׂכִירָה בְּעֶבְרֵי נָהָר בְּמֶלֶךְ אַשּׁוּר אֶת־הָרֹאשׁ וְשַׂעַר הָרַגְלָיִם וְגַם אֶת־הַזָּקָן תִּסְפֶּה ׃</td>
                        </tr>
                        <tr>
                            <td>And it shall come to pass in that day, that a man shall nourish a young cow, and two sheep; </td>
                            <td class="comp-vs-num">21</td>
                            <td>In that day a man will keep alive a young cow and a pair of sheep.</td>
                            <td class="heb-col">וְהָיָה בַּיּוֹם הַהוּא יְחַיֶּה־אִישׁ עֶגְלַת בָּקָר וּשְׁתֵּי־צֹאן ׃</td>
                        </tr>
                        <tr>
                            <td>And it shall come to pass, for the abundance of milk that they shall give he shall eat butter: for butter and honey shall every one eat that is left in the land.</td>
                            <td class="comp-vs-num">22</td>
                            <td>And because of their plentiful milk, men will eat the cream. All who remain in the land will feed on cream and honey.</td>
                            <td class="heb-col">וְהָיָה מֵרֹב עֲשׂוֹת חָלָב יֹאכַל חֶמְאָה כִּי־חֶמְאָה וּדְבַשׁ יֹאכֵל כָּל־הַנּוֹתָר בְּקֶרֶב הָאָרֶץ ׃</td>
                        </tr>
                        <tr>
                            <td>And it shall come to pass in that day, that every place shall be, where there were a thousand vines at a thousand silverlings, it shall even be for briers and thorns.</td>
                            <td class="comp-vs-num">23</td>
                            <td>In that day every plot of ground with a thousand vines worth a thousand pieces of currency shall be briars and thorns.</td>
                            <td class="heb-col">וְהָיָה בַּיּוֹם הַהוּא יִהְיֶה כָל־מָקוֹם אֲשֶׁר יִהְיֶה־שָּׁם אֶלֶף גֶּפֶן בְּאֶלֶף כָּסֶף לַשָּׁמִיר וְלַשַּׁיִת יִהְיֶה ׃</td>
                        </tr>
                        <tr>
                            <td>With arrows and with bows shall men come thither; because all the land shall become briers and thorns.</td>
                            <td class="comp-vs-num">24</td>
                            <td>Men will go there with bows and arrows, for the whole land shall revert to wilderness.</td>
                            <td class="heb-col">בַּחִצִּים וּבַקֶּשֶׁת יָבוֹא שָׁמָּה כִּי־שָׁמִיר וָשַׁיִת תִּהְיֶה כָל־הָאָרֶץ ׃</td>
                        </tr>
                        <tr>
                            <td>And on all hills that shall be digged with the mattock, there shall not come thither the fear of briers and thorns: but it shall be for the sending forth of oxen, and for the treading of lesser cattle.</td>
                            <td class="comp-vs-num">25</td>
                            <td>And on all hillsides cultivated by the hoe you will no longer go for fear of the briars and thorns, but they shall serve as a cattle range, a terrain for sheep to tread down.</td>
                            <td class="heb-col">וְכֹל הֶהָרִים אֲשֶׁר בַּמַּעְדֵּר יֵעָדֵרוּן לֹא־תָבוֹא שָׁמָּה יִרְאַת שָׁמִיר וָשָׁיִת וְהָיָה לְמִשְׁלַח שׁוֹר וּלְמִרְמַס שֶׂה ׃</td>
                        </tr>-->
                        <!--tr>
                            <td class="comp-vs-num"></td>
                            <td></td>
                            <td></td>
                            <td class="heb-col"></td>
                        </tr-->
                        </tbody>
                    </table>
                </div>

                <div class="bottom-links pull-right"><?php include('nav-links-light.php'); ?></div>

                <ul class="footnotes">
                    <li><sup>1</sup> That is, <i>A Remnant Shall Return.</i></li>
                    <li><sup>2</sup> Many commentators: <i>six or five.</i></li>
                    <li><sup>3</sup> That is, <i>God Is with Us.</i></li>
                </ul>

                <hr>

                <h4>Isaiah Chapter Index</h4>

                <?php include('widget-chapter-sel.php'); ?>

                </main>
            </div>
            <div class="tab-pane commentary" id="commentary">
                <main class="col-xs-12 col-sm-8 left-column" role="main">

                    <h4 class="mini-header">Apocalyptic Commentary</h4>

                    <div class="chapter-heading"><i>King Ahaz' transgression of the terms of his covenant leads to a hostile world
                            power gaining supremacy.</i></div>

                    <hr>

                    <div class="one-col-padding">

                        <div class="commentary">
                            <span class="prose"><span class="verse-number">1</span> When Ahaz son of Jotham, the son of Uzziah, was king of Judah, Rezin king of Aram and Pekah son of Remaliah king of Israel came up to Jerusalem to wage war against it, but could not overpower it.</span>
                        </div>
                        <p>Two generations of kings from the time Isaiah receives his prophetic commission, an expansionist Assyria threatens to invade the kingdom of Aram (Syria), the ten-tribed Northern Kingdom of Israel, and the Southern Kingdom of Judah and to annex them into its empire. When King Ahaz of Judah refuses to join Aram and Israel in an alliance to resist Assyria, they invade the Southern Kingdom to overthrow Ahaz and put a puppet ruler on his throne who will join their coalition. Ahaz, moreover, becomes an important type in the Book of Isaiah of an end-time ruler who proves disloyal to Israel’s God.</p>
                        <hr>
                        <div class="commentary">
                            <span class="prose"><span class="verse-number">2</span> And when the house of David was informed that Aram was leading Ephraim on, the king-s mind and the minds of his people were shaken, as trees in a forest are shaken by a gale.</span>
                        </div>
                        <p>As descendants of King David, Ahaz and his cabinet of princes are known as the “house of David.” The ten-tribed Northern Kingdom of Israel, often led by a ruler of the tribe of Ephraim, is known simply as “Ephraim” (Isaiah 11:13; Hosea 5:3–14). Besides implying a time of judgment, storm imagery identifies the king’s fear with that of his people, denoting a single reprobate category. Jehovah’s people and the nations who yield to fear aren’t the righteous but the wicked (Isaiah 8:12–15; 12:2; 33:14; 41:5). As here, Isaiah uses the metaphor of “trees” to represent people (Isaiah 14:8; 37:24; 61:3).</p>
                        <hr>
                        <div class="commentary">
                            <span class="prose"><span class="verse-number">3</span> Then Jehovah said to Isaiah, Go out and meet Ahaz, you and your son Shear-Jashub,<sup>1</sup> at the end of the aqueduct of the Upper Reservoir, on the road to the Laundry Plaza.</span>
                        </div>
                        <p>During Ahaz’ reign, when Isaiah couldn’t prophesy directly, he did so indirectly by giving his sons portending names such as Shear-Jashub (se’ar yasub), “A Remnant Shall Repent” or “A Remnant Shall Return.” Symbolic of the Davidic dynasty, the perpetual Gihon Spring—the “Upper Reservoir”—was the place where Davidic kings were anointed (1 Kings 1:33–39). Jehovah’s message to Ahaz was thus to remind him of the Davidic Covenant. If he kept its terms, Jehovah would protect him and his people. If he didn’t, only a repentant remnant of his people would survive a future calamity.</p>
                        <hr>
                        <div class="commentary">
                            <span class="prose"><span class="verse-number">4</span> Say to him, See to it that you remain calm and unafraid. Be not intimidated by these two smoking tail ends of kindling, by the burning anger of Rezin and Aram and the son of Remaliah,</span>
                        </div>
                        <p>The exhortation to remain “calm and unafraid” implies trust in Jehovah and in the protection clause of the Davidic Covenant. Divine protection never fails so long as the terms of the covenant are met when the people keep the king’s law and the king keeps God’s law. The rulers of Aram and the Northern Kingdom are but “smoking tail ends of kindling”—their fires are almost out. Jehovah will make sure they won’t accomplish their goal. Instead of Pekah king of Israel appearing by his full name, he appears only under his surname—“the son of Remaliah”—an intentional derogatory deficiency.</p>
                        <hr>
                        <div class="commentary">
                            <span class="prose inline"><span class="verse-number">5</span> even though Aram has conceived an evil plot against you, as has Ephraim and the son of Remaliah, who say,</span>
                            <span class="commentary prose inline"><span class="verse-number">6</span> Let us invade Judah and stir up trouble there. We will take it for ourselves by force and set a ruler over it-the son of Tabeal.</span>
                        </div>
                        <p>The two northern rulers’ scheme to invade the Kingdom of Judah and replace Ahaz with one of their own—the son of Tabeal—is an “evil” plot (ra‘a) because it contravenes Jehovah’s unconditional promise to King David of an everlasting dynasty of kings to rule on David’s throne (Psalm 89:3–4; Jeremiah 33:17–21). The name Tabeal—a compound of the words “not” (’al) and “good” (tab/tob)—implies that the proposed puppet ruler is not a descendant of David. Because the word “good” signifies covenant keeping and covenant blessing, a name that means “No Good” implies the opposite.</p>
                        <hr>
                        <div class="commentary">
		<span class="poetry"><span class="verse-number">7</span> Thus says my Lord Jehovah:
			<span class="indent">It shall not occur or transpire.</span>
		</span>
		<span class="poetry"><span class="verse-number">8</span> For as surely as Damascus is the capital of Aram
			<span class="indent">and Rezin the head of Damascus, within sixty-five<sup>2</sup> years shall Ephraim be shattered as a nation.</span>
		</span>
		<span class="poetry"><span class="verse-number">9</span> But as surely as Samaria is the capital of Ephraim
			<span class="indent">and the son of Remaliah the head of Samaria,</span>
			you will not believe it,
			<span class="indent">because you are not loyal.</span>
		</span>
                        </div>
                        <p>A scribal error very likely accounts for the figure "sixty-five years." Historically, Isaiah's prophecy was fulfilled within just a few years. Assyria conquered Aram and Israel during Ahaz' reign, so perhaps "six or five" is closer to Isaiah's prediction. The words "capital" and "head" (ro's) are identical in Hebrew. A play on words?"You will not believe it, because you are not loyal" ('im lo' ta'aminu ki lo' te'amenu)-reflects Ahaz' disloyalty to Jehovah. Jehovah's unconditional covenant with David nonetheless ensures that the northern kings' infringing on Ahaz' rights will suffer covenant curses.</p>
                        <hr>
                        <div class="commentary">
		<span class="prose inline">
			<span class="verse-number">10</span> Again Jehovah addressed Ahaz, and said,
		</span>
		<span class="prose inline">
			<span class="verse-number">11</span> Ask a sign for yourself from Jehovah your God, whether in the depths below or in the heights above.
		</span>
		<span class="prose inline">
			<span class="verse-number">12</span> But Ahaz said, I will not. I will not put Jehovah to the test.
		</span>
                        </div>
                        <p>Isaiah’s word to Ahaz—“from Jehovah your God”—is twofold: (1) it is a symbolic reminder of Jehovah’s covenant with King David, Ahaz’ ancestor, including the idea that the scheme to overthrow Ahaz will bring covenant curses on those who attempt it (vv 1–9); and (2) it constitutes a “sign” or “confirmation” (’ot) that Jehovah will fulfill his promise (vv 10–17). Ahaz, however, responds with pious hypocrisy, quoting Deuteronomy 6:16 about not putting Jehovah to the test. In his disloyalty and inability to believe Jehovah’s word, Ahaz refuses confirmation and thus puts himself above Isaiah. </p>
                        <hr>
                        <div class="commentary">
                            <span class="prose"><span class="verse-number">13</span> Then Isaiah said, Take heed, O house of David! Is it not enough for you to try the patience of men? Must you also try the patience of my God?</span>
                        </div>
                        <p>By addressing Ahaz as “the house of David,” Isaiah reminds Ahaz verbally, not just symbolically, of his duty toward his people under the terms of the Davidic Covenant. At the same time, he rebukes Ahaz for his people’s suffering under his oppressive rule. In addition, Isaiah alters the covenant formula “your God” (v 11) to “my God,” inferring that by rejecting Jehovah’s word Ahaz has rejected his God, breaking the terms of the Davidic Covenant. Meanwhile, the presence of Isaiah’s son Shear-Jashub (“A Remnant Shall Return”) symbolically predicts the consequences of Ahaz’ recalcitrance.</p>
                        <hr>
                        <div class="commentary">
                            <span class="prose"><span class="verse-number">14</span> Therefore will my Lord of himself give you a sign: the young woman with child shall give birth to a son and name him Immanuel.<sup>3</sup></span>
                        </div>
                        <p>Ahaz’ disloyalty provides the context of Jehovah’s response to Ahaz. Although Matthew applies Isaiah’s prophecy of the son Immanuel to Jesus (Matthew 1:22–23), that interpretation doesn’t qualify as a personal “sign” or “confirmation” (’ot) to Ahaz. As the name Immanuel (‘immanu ’el)—“God Is with Us”—appears three times (Isaiah 7:14, 8:8, 10), its full meaning is determined within its fuller context. That includes the king of Assyria/Babylon’s invasion of the land of Immanuel in the days of Immanuel (vv 16–20), as happened a generation later in the days of King Hezekiah, Ahaz’ own son:</p>
                        <p>“My Lord will cause to come up over them the great and mighty waters of the River—the king of Assyria in all his glory. He will rise up over all his channels and overflow all his banks. He will sweep into Judea [like] a flood and, passing through, reach the very neck; his outspread wings will span the breadth of your land, O Immanuel. . . . You may take courage in one another, but shall be in fear; you may arm yourselves, but shall be terrorized. Though you hold consultations, they shall come to nought; though you make proposals, they shall not prove firm: God is with us!” (Isaiah 8:7–10).</p>
                        <p><i>Immanuel.</i> Within the larger context of Isaiah’s prophecy, moreover, the son Immanuel is one of three who represent three spiritual categories of people in Jehovah’s Day of Judgment: (1) Immanuel—“God Is with Us”—an elect category whom Jehovah is with, for whose sake he delivers his people; (2) Shear-Jashub—“A Remnant Shall Repent/Return”—those who “repent” (swb) of transgression and “return” (swb) in an end-time exodus to Zion; and (3) Maher-Shalal-Hash-Baz—“Hasten the Plunder, Hurry the Spoil”—those whom the archtyrant destroys on account of their wickedness (Isaiah 8:1–4).</p>
                        <p><i>The young woman with child.</i> As the term Isaiah uses—“young woman” (‘alma)—isn’t the Hebrew word for “virgin” (betula), and as the tense of the Hebrew verb “to be with child” or “to be pregnant” (hara) is present, not future, a “sign” or “confirmation” (’ot) to Ahaz such as this would be most meaningful if the woman was known to him under the immediate circumstances—if she were present, for example, at the Laundry Plaza (v 3). The historical context of Isaiah’s Immanuel prophecy, in other words, and its particular choice of terms, helps determine the full meaning of this verse.</p>
                        <p><i>Shall give birth to a son.</i> While Jehovah’s sign to Ahaz doesn’t exclude Matthew’s interpretation—that in this instance Isaiah was prophesying of Jesus—that interpretation doesn’t accord with the prophecy’s primary intent in Isaiah’s prophecy as a whole. Indeed, it is in the nature of Hebrew prophecy to contain several levels of meaning. On the other hand, Hezekiah—Ahaz’ son—in all respects qualifies as the prophesied Immanuel, whose people Israel’s God is with when he delivers them from the Assyrian army that takes up a position at the very same Laundry Plaza (v 3; Isaiah 36:1–2; 37:33–36).</p>

                    </div> <!-- End One Col Padding -->

                    <hr>

                    <div class="bottom-links pull-right"><?php include('nav-links-light.php'); ?></div>

                    <ul class="footnotes">
                        <li><sup>1</sup> That is, <i>A Remnant Shall Return.</i></li>
                        <li><sup>2</sup> Many commentators: <i>six or five.</i></li>
                        <li><sup>3</sup> That is, <i>God Is with Us.</i></li>
                    </ul>

                </main>

                <?php include('aside-isaiah.php'); ?>
            </div>
            <div class="tab-pane concordance" id="concordance">
                <main class="col-xs-12 col-sm-8 left-column" role="main">

                    <h4 class="mini-header">Interactive Translation & Concordance</h4>

                    <div class="chapter-heading"><i>King Ahaz' transgression of the terms of his covenant leads to a hostile world
                            power gaining supremacy.</i></div>

                    <hr>

                    <div class="one-col-padding">

	<span class="prose">
		<span class="verse-number">1</span> The <a id="c1v1-VISION" href="page-concordance-a.php">vision</a> of <a id="c1v1-ISAIAH" href="page-concordance-a.php">Isaiah</a> the <a id="c1v1-SON" href="page-concordance-a.php">son</a> of <a id="c1v1-AMOZ" href="page-concordance-a.php">Amoz</a> which he <a id="c1v1-BEHELD" href="page-concordance-a.php">beheld</a> concerning <a id="c1v1-JUDEA" href="page-concordance-a.php">Judea</a> and <a id="c1v1-JERUSALEM" href="page-concordance-a.php">Jerusalem</a> during the <a id="c1v1-REIGNS" href="page-concordance-a.php">reigns</a> of <a id="c1v1-UZZIAH" href="page-concordance-a.php">Uzziah</a>, <a id="c1v1-JOTHAM" href="page-concordance-a.php">Jotham</a>, <a id="c1v1-AHAZ" href="page-concordance-a.php">Ahaz</a>, and <a id="c1v1-HEZEKIAH" href="page-concordance-a.php">Hezekiah</a>, <a id="c1v1-KINGS" href="page-concordance-a.php">kings</a> of <a id="c1v1-JUDAH" href="page-concordance-a.php">Judah</a>:
	</span>
                        <div class="spacer"></div>
	<span class="poetry">
		<span class="verse-number">2</span><a id="c1v2-HEAR" href="page-concordance-a.php">Hear</a>, O <a id="c1v2-HEAVENS" href="page-concordance-a.php">heavens</a>! <a id="c1v2-GIVE" href="page-concordance-a.php">Give</a> <a id="c1v2-HEED" href="page-concordance-a.php">heed</a>, O <a id="c1v2-EARTH" href="page-concordance-a.php">earth</a>!
		<span class="indent"><a id="c1v2-JEHOVAH" href="page-concordance-a.php">Jehovah</a> has <a id="c1v2-SPOKEN" href="page-concordance-a.php">spoken</a>:</span>
		I have <a id="c1v2-REARED" href="page-concordance-a.php">reared</a> <a id="c1v2-SONS" href="page-concordance-a.php">sons</a>, <a id="c1v2-BROUGHT" href="page-concordance-a.php">brought</a> them up,
		<span class="indent">but they have <a id="c1v2-REVOLTED" href="page-concordance-a.php">revolted</a> against me.</span>
	</span>

	<span class="poetry">
		<span class="verse-number">3</span> The <a id="c1v3-OX" href="page-concordance-a.php">ox</a> <a id="c1v3-KNOWS" href="page-concordance-a.php">knows</a> its <a id="c1v3-OWNER" hhref="page-concordance-a.php">owner</a>,
		<span class="indent">the <a id="c1v3-ASS" href="page-concordance-a.php">ass</a> its <a id="c1v3-MASTER-S" href="page-concordance-a.php">master?s</a> <a id="c1v3-STALL" href="page-concordance-a.php">stall</a>,</span>
		but <a id="c1v3-ISRAEL" href="page-concordance-a.php">Israel</a> does not <a id="c1v3-KNOW" href="page-concordance-a.php">know</a>;
		<span class="indent">my <a id="c1v3-PEOPLE" href="page-concordance-a.php">people</a> are <a id="c1v3-INSENSIBLE" href="page-concordance-a.php">insensible</a>.</span>
	</span>

                    </div> <!-- End One Col Padding -->

                </main>

                <?php include('aside-isaiah.php'); ?>
            </div>
        </div>

    </div>