            <main class="col-xs-12 col-sm-8 left-column" style="padding-top: 0;" role="main">
                <h1 class="title-chapters">Isaiah Chapter Index</h1>
                <p><a href="/Isaiah-Institute-Translation/">Isaiah Institute Translation by Avraham Gileadi Ph.D.</a></p>
                <hr>
                <div class="row chapter-table">
                    {{#index_chapters}}
                    <span class="col-xs-6 col-lg-4">
                        <h2><a class="btn-chapter-sel" href="/{{id}}">Chapter {{id}}<i class="fa fa-angle-right"></i></a></h2>
                        <p>{{heading_text}}</p>
                    </span>
                    {{/index_chapters}}
                </div>
            </main>
            <!--{\{> asides.chapter-index}}-->
            {{> asides.bible}}