        <main class="col-xs-12 col-sm-8 left-column" role="main">

            <h4 class="mini-header">Alphabetical List</h4>

            {{> widgets.letter-selection-concordance}}

            <h1 class="title-chapters"><a href="#alphamodal" class="modal-trigger" data-toggle="modal">Concordance</a> > {{concordance_letter}}</h1>

            <hr>

            <div class="one-col-padding">

                {{{concordance_html}}}

            </div> <!-- End One Col Padding -->

            {{> widgets.ad-concordance}}

            <ul class="chapter-selection">
                {{#letters}}
                    <li><a class="btn {{button_class}} btn-chapter-sel" href="{{app_url}}/concordance/{{selection_letter}}">{{selection_letter}}</a></li>
                {{/letters}}
            </ul>

        </main>

        {{> asides.concordance}}