        <main class="col-xs-12 col-sm-8 left-column" role="main">

            <h4 class="mini-header">Alphabetical List</h4>

            <div class="non-mobile">

                {{> widgets.letter-selection-concordance}}

                <hr>

            </div>

            <div class="one-col-padding">

                {{{concordance_html}}}

            </div> <!-- End One Col Padding -->


        </main>

        {{> asides.concordance}}