        <main class="col-xs-12 col-sm-8 left-column" role="main">

            <h4 class="mini-header">Alphabetical List</h4>

            <div class="non-mobile">

                {{> widgets.letter-selection-concordance}}

                <h1 class="full-only page-title"><a href="#alphamodal" class="modal-trigger" data-toggle="modal">Concordance</a> > {{concordance_letter}}</h1>

                <hr>

            </div>

            <div class="one-col-padding">

                {{{concordance_html}}}

            </div> <!-- End One Col Padding -->
            
            {{> widgets.ad-concordance}}

            <ul class="chapter-selection">
                {{#letters}}
                    <li><a class="btn {{button_class}} btn-chapter-sel" href="/concordance/{{selection_letter}}">{{selection_letter}}</a></li>
                {{/letters}}
            </ul>

        </main>

        {{> asides.concordance}}