        <main class="col-xs-12" role="main">

            <p><b>{{result_count}}</b> results found for: <b>{{search_term}}</b></p>
            <hr>

            {{{search_html}}}

            {{> navigation.search-pagination}}

        </main>