        <main class="col-xs-12" role="main">

            {{> widgets.search-mobile}}

            <h1 class="full-only">Search</h1>

            <p class="search-results-title"><b>{{result_count}}</b> results found for: <b>{{search_term}}</b></p>
            <hr>

            {{{search_html}}}

            {{> navigation.search-pagination}}

        </main>