<main id="content" class="sub col-xs-12 left-column" style="padding-top: 0;" role="main">
    <div id="store" class="page">
        <h1 class="title-chapters">Store</h1>
        <h2>Books</h2>

        <div class="row">

            <div class="col-xs-12 col-sm-4 col-lg-3">
                <center>
                    <img src="https://lh3.googleusercontent.com/1eDasmISq9MmcKie9gp6SdCaWSNfWDQ9OLsrHqcz8o4=w135-h207-p-no" height="200px"><br>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" >
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="VKQL4KPHTKJJ6">
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                    <p><b style="color:orange">NEW!</b> Windows on the Prophecy of Isaiah: Study Tools for Understanding Isaiah</p>
                    <span class="price">$25.95</span>
                </center>
            </div>

            <div class="col-xs-12 col-sm-4 col-lg-3">
                <center>
                    <img src="https://lh3.googleusercontent.com/qpQWNG9RScCVrjE8LxBDVTBdAt61j2oKNVHnpn9dfOk=w147-h224-p-no" height="200px"><br>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" >
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="JD4HLGZDU98NC">
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                    <p>Apocalyptic Commentary of the Book of Isaiah</p>
                    <span class="price">$29.95</span>
                </center>
            </div>

            <div class="col-xs-12 col-sm-4 col-lg-3">
                <center>
                    <img src="https://lh3.googleusercontent.com/EXdPhNr_Tz0YvIMAhxPTvHFKk_pxa_pPqrCJq9mwvF0=w136-h207-p-no" height="200px"><br>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" >
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="BEPD4PPQRRLPS">
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                    <p>Isaiah Decoded: Ascending the Ladder to Heaven</p>
                    <span class="price">$27.95</span>
                </center>
            </div>

            <div class="col-xs-12 col-sm-4 col-lg-3">
                <center>
                    <img src="https://lh3.googleusercontent.com/dazdIMmmtH-xjLYl5G5Mk_llpA78y6u2mAZfjmQDtuM=w147-h224-p-no" height="200px"><br>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" >
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="FUYJBQNZDWNTN">
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                    <p>The Book of Isaiah: Analytical Translation with Comprehensive Concordance</p>
                    <span class="price">$22.95</span>
                </center>
            </div>

            <div class="col-xs-12 col-sm-4 col-lg-3">
                <center>
                    <img src="https://lh3.googleusercontent.com/i0Uc6aRLTezenYYgPvS2rDb_gyNNA1tDQ_MfrF77U7M=w152-h224-p-no" height="200px"><br>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" >
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="JQ4NJTV5LJXWC">
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                    <p>The End from the Beginning: The Apocalyptic Vision of Isaiah</p>
                    <span class="price">$22.95</span>
                </center>
            </div>

            <div class="col-xs-12 col-sm-4 col-lg-3">
                <center>
                    <img src="https://lh3.googleusercontent.com/R92gz7Pt4TDviBGf7qwMfxaebxk3aIqxwMAZYtRgV6A=w136-h207-p-no" height="200px"><br>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" >
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="A89TVHLEJ22PG">
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                    <p>The Literary Message of Isaiah</p>
                    <span class="price">$22.95</span>
                </center>
            </div>

			<div class="col-xs-12 col-sm-4 col-lg-3">
				<center>
					<img src="https://lh3.googleusercontent.com/wwgoXWTu8mtH4RRl9uLjlipR-LUaEt7TujeTBu6hfC8=w222-h221-p-no" height="200px"><br>
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="K8EXVDW9LU5C6">
						<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
						<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
					</form>
					<p><b style="color:orange">NEW!</b> Isaiah Six-Pack</p>
					<span class="formats">($32.70 savings)</span>
					<span class="price">$120.00</span>
				</center>
			</div>
        </div>

        <h2>eBooks</h2>

        <div class="row">

            <div class="col-xs-12 col-sm-4 col-lg-3">
                <center>
                    <img src="https://lh3.googleusercontent.com/1eDasmISq9MmcKie9gp6SdCaWSNfWDQ9OLsrHqcz8o4=w135-h207-p-no" height="200px"><br>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" >
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="VERMVSSU5ZJVL">
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                    <p><b style="color:orange">NEW!</b> Windows on the Prophecy of Isaiah: Study Tools for Understanding Isaiah E-Book</p>
                    <span class="formats">Formats: epub, mobi</span>
                    <span class="price">$8.95</span>
                </center>
            </div>

            <div class="col-xs-12 col-sm-4 col-lg-3">
                <center>
                    <img src="https://lh3.googleusercontent.com/qpQWNG9RScCVrjE8LxBDVTBdAt61j2oKNVHnpn9dfOk=w147-h224-p-no" height="200px"><br>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" >
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="RSUKLPMKRJJWS">
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                    <p>Apocalyptic Commentary of the Book of Isaiah</p>
                    <span class="formats">Formats: epub, mobi, pdf</span>
                    <span class="price">$10.95</span>
                </center>
            </div>

            <div class="col-xs-12 col-sm-4 col-lg-3">
                <center>
                    <img src="https://lh3.googleusercontent.com/EXdPhNr_Tz0YvIMAhxPTvHFKk_pxa_pPqrCJq9mwvF0=w136-h207-p-no" height="200px"><br>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" >
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="V5986R43EB7BC">
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                    <p>Isaiah Decoded: Ascending the Ladder to Heaven</p>
                    <span class="formats">Formats: epub, mobi, pdf, pdb, lrf, prc</span>
                    <span class="price">$8.95</span>
                </center>
            </div>

            <div class="col-xs-12 col-sm-4 col-lg-3">
                <center>
                    <img src="https://lh3.googleusercontent.com/Ty0crf9ko7lhDYIeelg01RTh1lYwBgqqyL5D8vo45jo=w151-h224-p-no" height="200px"><br>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" >
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="JX7QDYTFQGH9A">
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                    <p>The Book of Isaiah: New Translation</p>
                    <span class="formats">Formats: epub, mobi, pdb, lrf, prc</span>
                    <span class="price">$5.95	</span>
                </center>
            </div>

            <div class="col-xs-12 col-sm-4 col-lg-3">
                <center>
                    <img src="https://lh3.googleusercontent.com/i0Uc6aRLTezenYYgPvS2rDb_gyNNA1tDQ_MfrF77U7M=w152-h224-p-no" height="200px"><br>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" >
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="F77BAYDG6ML86">
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                    <p>The End from the Beginning: The Apocalyptic Vision of Isaiah</p>
                    <span class="formats">Formats: epub, mobi, pdf, pdb, lrf, prc</span>
                    <span class="price">$7.95</span>
                </center>
            </div>

            <div class="col-xs-12 col-sm-4 col-lg-3">
                <center>
                    <img src="https://lh3.googleusercontent.com/R92gz7Pt4TDviBGf7qwMfxaebxk3aIqxwMAZYtRgV6A=w136-h207-p-no" height="200px"><br>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" >
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="GFUJTRY7A85HL">
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                    <p>The Literary Message of Isaiah</p>
                    <span class="formats">Formats: epub, mobi, pdf, pdb, lrf, prc</span>
                    <span class="price">$9.95</span>
                </center>
            </div>

        </div>

        <h2>mp3s</h2>

        <div class="row">

            <div class="col-xs-12 col-sm-4 col-lg-3">
                <center>
                    <img src="https://lh3.googleusercontent.com/VwmkTRFkB4WYZmC92Si-uBesPYr6Afm9-d-mZFGPZhQ=w160-h216-p-no" height="200px"><br>
					<p>Analytical Commentary of Isaiah</p>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" >
                        <input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="6S8253ZS9MYMU">
						<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
						<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
					</form>
					<p>Web Download ($14.95)</p>
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
						<input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="3BYHEDXEYGEGS">
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
					<p>2-Disc mp3 ($19.95)</p>
                </center>
            </div>

            <div class="col-xs-12 col-sm-4 col-lg-3">
                <center>
                    <img src="https://lh3.googleusercontent.com/1eDasmISq9MmcKie9gp6SdCaWSNfWDQ9OLsrHqcz8o4=w135-h207-p-no" height="200px"><br>
					<p><b style="color:orange">NEW!</b> Windows on the Prophecy of Isaiah: Study Tools for Understanding Isaiah</p>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" >
                        <input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="5KF7HF6PM88LL">
						<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
						<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
					</form>
					<p>Web Download ($12.95)</p>
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
						<input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="V9UJUK7QCH5V8">
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
					<p>2-Disc mp3 ($17.95)</p>
                </center>
            </div>

        </div>
    </div>
</main>