<main id="content" class="sub col-xs-12 col-sm-8 left-column" style="padding-top: 0;" role="main">
    <div class="page">
        {{#testimonials}}
            <div class="dsq-widget-comment">
                <p class="dsq-comment-content">&ldquo;{{message}}&rdquo;&mdash;{{author.name}}</p>
            </div>
        {{/testimonials}}
    </div>
</main>
{{> asides.bible}}