<main id="content" class="sub col-xs-12 col-sm-8 left-column" style="padding-top: 0;" role="main">
    <div class="page">
        {{#testimonials}}
            <div class="dsq-widget-comment">
                {{!--<img class="dsq-user-avatar" src="--}}{{!--author.avatar.cache--}}{{!" />--}}
                {{!--<p class="dsq-comment-author"><a href="{{!--author.profileUrl--}}{{!">{{!--author.name--}}{{!</a></p>--}}
                <p class="dsq-comment-content">{{message}}&mdash;{{author.name}}</p>
            </div>
        {{/testimonials}}

    </div>
</main>
{{> asides.bible}}