<div class="heading-chapters">

    <div class="heading heading-full non-mobile">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="nav-links pull-right">
                        <ul class="nav">
                            <li><a id="nav-left" class="fa fa-angle-left" href=""></a></li>
                            <li><a id="nav-right" class="fa fa-angle-right" href=""></a></li>
                        </ul>
                    </div>

                    <ul class="nav nav-pills pull-right">
                        <li class="active"><a href="#one_col" data-toggle="tab" title="Isaiah Institute Translation"><i class="fa fa-align-justify"></i><span>Isaiah Institute<br>Translation</span></a></li>
                        <li><a href="#three_col" data-toggle="tab" title="Comparative Translation"><i class="fa fa-table"></i><span>Comparative<br>Translation</span></a></li>
                        <li><a href="#commentary" data-toggle="tab" title="Apocalyptic Commentary"><i class="fa fa-quote-left"></i><span>Apocalyptic<br>Commentary</span></a></li>
                        <li><a href="#concordance" data-toggle="tab" title="Interactive Concordance"><i class="fa fa-list"></i><span>Interactive<br>Concordance</span></a></li>
                    </ul>

                    <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target=".navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </button>

                    <h1><a class="fa fa-book" href="/isaiah"></a> <a href="#chaptermodal" class="modal-trigger" data-toggle="modal">Isaiah {{chapter_number}}</a></h1>

                </div>
            </div>
        </div>
    </div> <!-- End Heading Non-mobile -->

    <div class="heading heading-mobile">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target=".navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </button>

                    <ul class="pull-right view-switcher">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-ellipsis-v"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#one_col" data-toggle="tab"><i class="fa fa-fw fa-align-justify"></i> Isaiah Institute Translation</a></li>
                                <li><a href="#three_col" data-toggle="tab"><i class="fa fa-fw fa-table"></i> Comparative Translation</a></li>
                                <li><a href="#commentary" data-toggle="tab"><i class="fa fa-fw fa-quote-left"></i> Apocalyptic Commentary</a></li>
                                <li><a href="#concordance" data-toggle="tab"><i class="fa fa-fw fa-list"></i> Interactive Concordance</a></li>
                                <li role="presentation" class="divider"></li>
                                <li><a href="/isaiah"><i class="fa fa-fw fa-book"></i> Isaiah Chapter Index</a></li>
                            </ul>
                        </li>
                    </ul>

                    <div class="nav-links">
                        <ul class="nav">
                            <li><a id="nav-left" class="fa fa-angle-left" href=""></a></li>
                            <li><h1><a href="#chaptermodal" class="modal-trigger" data-toggle="modal">Isaiah {{chapter_number}}</a></h1></li>
                            <li><a id="nav-right" class="fa fa-angle-right" href=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Heading Mobile -->

</div> <!-- End Heading Chapters -->