<div class="heading-concordance-index">

    <div class="heading">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target=".navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </button>

                    <h1>Comprehensive Concordance</h1>
                    <p>of the Book of Isaiah by Avraham Gileadi Ph.D.</p>

                    <div class="input-group index-search col-sm-3 pull-right non-mobile">
                        <input type="text" class="form-control search-field" placeholder="Search the Concordance">
				    <span class="input-group-btn">
				      <button class="btn btn-warning" type="button"><i class="fa fa-search"></i></button>
				    </span>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div> <!-- End Heading Concordance Index -->