<div class="heading-concordance-index">

    <div class="heading">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target=".navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </button>

                    <h1>Comprehensive Concordance</h1>
                    <p>of the Book of Isaiah by Avraham Gileadi Ph.D.</p>

                    {{> widgets.search-concordance}}

                </div>
            </div>
        </div>
    </div>

</div> <!-- End Heading Concordance Index -->