<div class="heading-search">

    <div class="heading">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target=".navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </button>

                    <div class="input-group index-search col-sm-4 pull-right non-mobile">
                        <input type="text" class="form-control search-field" placeholder="Search">
				    <span class="input-group-btn">
				      <button class="btn btn-warning" type="button"><i class="fa fa-search"></i></button>
				    </span>
                    </div><!-- /Search -->

                    <h1><a class="fa fa-book" href="/isaiah"></a> Search Results</h1>

                </div>
            </div>
        </div>
    </div>

</div> <!-- End Heading Search -->
