<div class="heading-search">

    <div class="heading heading-full non-mobile">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="tabbable">
                        <ul id="heading-tabs" class="nav nav-pills col-sm-8 col-md-9">
                            <li><a href="{{app_url}}/1#one_col" data-toggle="tab" title="Isaiah Institute Translation"><i class="fa fa-align-justify"></i><span>Isaiah Institute<br>Translation</span></a></li>
                            <li><a href="{{app_url}}/1#three_col" data-toggle="tab" title="Comparative Translation"><i class="fa fa-table"></i><span>Comparative<br>Translation</span></a></li>
                            <li><a href="{{app_url}}/1#commentary" data-toggle="tab" title="Apocalyptic Commentary"><i class="fa fa-quote-left"></i><span>Apocalyptic<br>Commentary</span></a></li>
                            <li><a href="{{app_url}}/1#concordance" data-toggle="tab" title="Interactive Concordance"><i class="fa fa-list"></i><span>Interactive<br>Concordance</span></a></li>
                        </ul>
                    </div>

                    <div class="nav-links col-sm-4 col-md-3">
                        <ul class="nav">
                            <li>{{{heading_nav_left}}}</li>
                            <!--<li><a id="nav-left-disabled" class="heading-nav-left fa fa-th hide-chapter-selection" href=""></a></li>-->
                            <li>{{{heading_nav_right}}}</li>
                        </ul>
                    </div>

                    <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target=".navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!--<h1><a class="fa fa-book" href="{{app_url}}/"></a> <a href="#chaptermodal" class="modal-trigger" data-toggle="modal">Isaiah {{chapter_number}}</a></h1>-->

                </div>
            </div>
        </div>
    </div> <!-- End Heading Non-mobile -->

    <div class="heading heading-mobile">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target=".navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </button>

                    {{> widgets.search}}

                    <h1><!--<a class="fa fa-book" href="#"></a>--> Search</h1>

                </div>
            </div>
        </div>
    </div> <!-- End Heading Mobile -->

</div> <!-- End Heading Search -->
