<main id="content" class="sub col-xs-12 col-sm-8 left-column" style="padding-top: 0;" role="main">
    <div class="page">
        <h1>Page Not Found</h1>
        <p>We're sorry, but the requested page {{uri}} was not found.</p>
    </div>
</main>
{{> asides.bible}}