<div id="alphamodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <a class="modal-close pull-right" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></a>
                <h4 class="modal-title" id="myModalLabel">Alphabetical List</h4>
            </div>
            <div class="modal-body">
                <ul class="chapter-selection">
                    {{#letters}}
                        <li><a class="btn {{button_class}} btn-chapter-sel" href="/concordance/{{selection_letter}}">{{selection_letter}}</a></li>
                    {{/letters}}
                </ul>
            </div>
        </div>
    </div>
</div>