<div id="chaptermodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <a class="modal-close pull-right" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></a>
                <h4 class="modal-title" id="myModalLabel">{{title}} Chapter Index</h4>
            </div>
            <div class="modal-body">
                {{> widgets.chapter-selection-kjv-book-chapter}}
            </div>
        </div>
    </div>
</div>