<div id="defmodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header red">
                <a class="modal-close pull-right" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i> </a>
                <h4 class="modal-title" id="myModalLabel">Razor</h4>
            </div>
            <div class="modal-body">
                <p>A pseudonym of the king of Assyria/Babylon, an end-time archtyrant who serves as Jehovah’s instrument to cut off the evildoers of Jehovah’s people from the earth in Jehovah’s Day of Judgment.</p>
                <hr>
                <ul class="color-legend widget">
                    <li class="red">Red = Archtyrant</li>
                    <li class="blue">Blue = Servant</li>
                    <li class="purple">Purple = The Lord</li>
                    <li class="orange">Orange = Dual Meanings</li>
                    <li class="green">Green = Tyre</li>
                    <li class="black">Black = Pharaoh/Dragon</li>
                </ul>

            </div>

        </div>
    </div>
</div>