<div id="defmodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div id="keyword_modal_header" class="modal-header red">
                <a class="modal-close pull-right" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i> </a>
                <h4 class="modal-title" id="keywordModalLabel"></h4>
            </div>
            <div id="keyword_modal_body" class="modal-body">
                <p id="keyword_modal_paragraph"></p>
                <!--<hr>
                <ul class="color-legend widget">
                    <li class="red">Red = Archtyrant</li>
                    <li class="blue">Blue = Servant</li>
                    <li class="purple">Purple = The Lord</li>
                    <li class="orange">Orange = Dual Meanings</li>
                    <li class="green">Green = Tyre</li>
                    <li class="black">Black = Pharaoh/Dragon</li>
                </ul>
                -->
            </div>

        </div>
    </div>
</div>