<!-- Highlight Modal -->

<div class="modal fade highlight_1" id="highlight1" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Isaiah Institute 1 &mdash; The End-Time Prophecy of Isaiah &mdash; Avraham Gileadi</h4>
            </div>
            <div class="modal-body">
                <iframe id="modal_highlight_1" src="http://player.vimeo.com/video/123523497?color=ffffff&byline=0&portrait=0" width="100%" height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <div class="btn-wrapper"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade highlight_2" id="highlight2" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Isaiah Institute 2 &mdash; America in the Prophecy of Isaiah &mdash; Avraham Gileadi</h4>
            </div>
            <div class="modal-body">
                <iframe id="modal_highlight_2" src="http://player.vimeo.com/video/123477667?color=ffffff&byline=0&portrait=0" width="100%" height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <div class="btn-wrapper"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade highlight_3" id="highlight3" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Isaiah Institute 3 &mdash; An Evil Alliance of Nations &mdash; Avraham Gileadi</h4>
            </div>
            <div class="modal-body">
                <iframe id="modal_highlight_3" src="http://player.vimeo.com/video/131484927?color=ffffff&byline=0&portrait=0" width="100%" height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <div class="btn-wrapper"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade highlight_4" id="highlight4" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Isaiah Institute 4 &mdash; Isaiah’s Prophecy of God’s Elect &mdash; Avraham Gileadi</h4>
            </div>
            <div class="modal-body">
                <iframe id="modal_highlight_4" src="http://player.vimeo.com/video/131484928?color=ffffff&byline=0&portrait=0" width="100%" height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <div class="btn-wrapper"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade highlight_5" id="highlight5" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Isaiah Institute 5 &mdash; Babylon in the Prophecy of Isaiah &mdash; Avraham Gileadi</h4>
            </div>
            <div class="modal-body">
                <iframe id="modal_highlight_5" src="http://player.vimeo.com/video/131484929?color=ffffff&byline=0&portrait=0" width="100%" height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <div class="btn-wrapper"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade highlight_6" id="highlight6" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Isaiah Institute 6 &mdash; The King of Assyria/Babylon &mdash; Avraham Gileadi</h4>
            </div>
            <div class="modal-body">
                <iframe id="modal_highlight_6" src="http://player.vimeo.com/video/131484933?color=ffffff&byline=0&portrait=0" width="100%" height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <div class="btn-wrapper"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade highlight_7" id="highlight7" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Isaiah Institute 7 &mdash; God’s Servant in the Prophecy of Isaiah &mdash; Avraham Gileadi</h4>
            </div>
            <div class="modal-body">
                <iframe id="modal_highlight_7" src="http://player.vimeo.com/video/131484934?color=ffffff&byline=0&portrait=0" width="100%" height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <div class="btn-wrapper"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
            </div>
        </div>
    </div>
</div>

<!-- Vignette Modal -->

<div class="modal fade vig_1" id="vig1" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Vignette 1 of 6</h4>
            </div>
            <div class="modal-body">
                <iframe id="modal_vid_1" src="http://player.vimeo.com/video/114946880?color=ffffff&byline=0&portrait=0" width="100%" height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <div class="btn-wrapper"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade vig_2" id="vig2" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Vignette 2 of 6</h4>
            </div>
            <div class="modal-body">
                <iframe id="modal_vid_2" src="http://player.vimeo.com/video/118611020?color=ffffff&byline=0&portrait=0" width="100%" height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <div class="btn-wrapper"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
            </div>
        </div>
    </div>
</div>