<!-- Highlight Modal -->

<div class="modal fade highlight_1" id="highlight1" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Isaiah Institute 1 &mdash; The End-Time Prophecy of Isaiah &mdash; Avraham Gileadi</h4>
            </div>
            <div class="modal-body">
                <iframe id="modal_highlight_1" src="http://player.vimeo.com/video/123523497?color=ffffff&byline=0&portrait=0" width="100%" height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <div class="btn-wrapper"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button><li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Download</a>
                    <ul class="dropdown-menu">
                        <li><a class="btn btn-warning" href="https://vimeo.com/114946880/download?t=1481681377&v=429638245&s=d7b07021c245df2ea556558317dbf945bc61b5db49c17e789e9ba959fa0dd4f9">Mobile SD</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/114946880/download?t=1481681377&v=429638242&s=9afc6779b453a12e45f0dfe126d3f771572c3dc88d8b020faa0414d41dd424a2">SD</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/114946880/download?t=1481681377&v=429638241&s=ea44b5086774af7416324c2082caebc72008f6e5bd640be1e49fa2537f2f593f">HD 720p</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/114946880/download?t=1481681377&v=429638244&s=1f6601bca858f2b2947f1189dabf404eeb8680a5fef20d55f2c9686afdcc8aca">HD 1080p</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/114946880/download?t=1481681377&v=429634906&s=5ec9234e2468e042558d7f4c7d1d96cf641708ab52f0b9f16a661722e697571c">Original</a></li>
                    </ul>
                </li></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade highlight_2" id="highlight2" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Isaiah Institute 2 &mdash; America in the Prophecy of Isaiah &mdash; Avraham Gileadi</h4>
            </div>
            <div class="modal-body">
                <iframe id="modal_highlight_2" src="http://player.vimeo.com/video/123477667?color=ffffff&byline=0&portrait=0" width="100%" height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <div class="btn-wrapper"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button><li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Download</a>
                    <ul class="dropdown-menu">
                        <li><a class="btn btn-warning" href="https://vimeo.com/118611020/download?t=1481681455&v=428070770&s=7280b6ee6e73cfbfbcdce3805fe01956983e58c16d03f3adc8131f9e1100af44">Mobile SD</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/118611020/download?t=1481681455&v=428070769&s=6f5beb34de02fcc9b5780ec9fdcd55845fabd5966c9b0fdff636c0be5967e8d7">SD</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/118611020/download?t=1481681455&v=428070765&s=99eeb862022f61700b5f3d455604f9c33e5d63c42b8d004e4a42df58393cdf41">HD 720p</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/118611020/download?t=1481681455&v=428070767&s=eff9b83ec9dce04a2541dd448c85f6bc5c368d85f652a3ca59aa0f1fe4c14eb7">HD 1080p</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/118611020/download?t=1481681455&v=428062864&s=9ec2b62b31be6be867adad0913ad5e233369f41298998038ecdef312cf1126d1">Original</a></li>
                    </ul>
                </li></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade highlight_3" id="highlight3" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Isaiah Institute 3 &mdash; An Evil Alliance of Nations &mdash; Avraham Gileadi</h4>
            </div>
            <div class="modal-body">
                <iframe id="modal_highlight_3" src="http://player.vimeo.com/video/131484927?color=ffffff&byline=0&portrait=0" width="100%" height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <div class="btn-wrapper"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button><li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Download</a>
                    <ul class="dropdown-menu">
                        <li><a class="btn btn-warning" href="https://vimeo.com/124770306/download?t=1481681485&v=424824561&s=df29af4f21621612d32e6439fbc66e8577c8d09860b06d63cb4f87d923f298fd">Mobile SD</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/124770306/download?t=1481681485&v=424824557&s=ff5f40742a445266b706f54972ab3460162853ae1a7ad13a808a95c7e61ce53d">SD</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/124770306/download?t=1481681485&v=424824563&s=ff1cfaa512e6d33fd2145427964d68e8607f9ba476b14258413aa41b59dbfb07">HD 720p</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/124770306/download?t=1481681485&v=424824560&s=46f42573c4b95b0dc723e6a6a426be5110eff9b31635148a0c2d426c76162845">HD 1080p</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/124770306/download?t=1481681485&v=424820236&s=799084a9f3e760e21b0526219b15dd6db51522ac2121736e47198a9fe6c4f82c">Original</a></li>
                    </ul>
                </li></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade highlight_4" id="highlight4" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Isaiah Institute 4 &mdash; Isaiah’s Prophecy of God’s Elect &mdash; Avraham Gileadi</h4>
            </div>
            <div class="modal-body">
                <iframe id="modal_highlight_4" src="http://player.vimeo.com/video/131484928?color=ffffff&byline=0&portrait=0" width="100%" height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <div class="btn-wrapper"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button><li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Download</a>
                    <ul class="dropdown-menu">
                        <li><a class="btn btn-warning" href="https://vimeo.com/132605486/download?t=1481681518&v=408257371&s=a83a86caf4e1c97b07edd05fa1f7bb4585272727517f551e2405a0f253178fd1">Mobile SD</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/132605486/download?t=1481681518&v=408257359&s=1e5fca9cbcbc3b1ee6d323306ba588128ec14c7e0f205d9fe5f66fd238fc8add">SD</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/132605486/download?t=1481681518&v=408257358&s=68b27374e0154898557c3506d2a5046bd99e9a0cc50314f7073daad9f6c01af7">HD 720p</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/132605486/download?t=1481681518&v=408257363&s=2367898c61a9b36376d740fbbf5051c36c6ebb22d7a6a5be6634d7f8cf1f088d">HD 1080p</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/132605486/download?t=1481681518&v=408246458&s=966423d9d4d46741c1c4e32a1fc9b0891d87180266903adf9124d2dccbbbd0d7">Original</a></li>
                    </ul>
                </li></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade highlight_5" id="highlight5" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Isaiah Institute 5 &mdash; Babylon in the Prophecy of Isaiah &mdash; Avraham Gileadi</h4>
            </div>
            <div class="modal-body">
                <iframe id="modal_highlight_5" src="http://player.vimeo.com/video/131484929?color=ffffff&byline=0&portrait=0" width="100%" height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <div class="btn-wrapper"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button><li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Download</a>
                    <ul class="dropdown-menu">
                        <li><a class="btn btn-warning" href="https://vimeo.com/132654431/download?t=1481681549&v=429645449&s=c25fd5dce9bdef3262b0b7beaa4b9e7d7efda93a5092395faa0ccc9ebfd86e8c">Mobile SD</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/132654431/download?t=1481681549&v=429645445&s=87250db5906d1743446efe4b33c162a55406e3686f0bd177ad91900f76658fbc">SD</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/132654431/download?t=1481681549&v=429645446&s=31c606a65594e5756cc6768c0b20c9618c12f3365e8442bd4e6c4eff55a9e7fb">HD 720p</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/132654431/download?t=1481681549&v=429645448&s=d6fa4e137f88c17ff518129cd6f8ba6e15de8c61b00c2df56ed5ac9dba3a5312">HD 1080p</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/132654431/download?t=1481681549&v=429642249&s=91d3470cd365f0bcbbe07cf7cf5430592534d82484e645a17eac5e6d091ef570">Original</a></li>
                    </ul>
                </li></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade highlight_6" id="highlight6" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Isaiah Institute 6 &mdash; The King of Assyria/Babylon &mdash; Avraham Gileadi</h4>
            </div>
            <div class="modal-body">
                <iframe id="modal_highlight_6" src="http://player.vimeo.com/video/131484933?color=ffffff&byline=0&portrait=0" width="100%" height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <div class="btn-wrapper"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button><li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Download</a>
                    <ul class="dropdown-menu">
                        <li><a class="btn btn-warning" href="https://vimeo.com/121895415/download?t=1481681577&v=436957053&s=81fe4a4f3bcbce5c4045e5ffdc58abd287263d6b3d2d101d8437f70dd827abf0">Mobile SD</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/121895415/download?t=1481681577&v=436957055&s=c4a29a852fe1c29fd731908fb6ed747b39df60d89242a7bec7195567744e165b">SD</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/121895415/download?t=1481681577&v=436957052&s=e7b9c21c6fcb6bba4f10c95a66f5be7c9016159ad65b6685b00aded167757194">HD 720p</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/121895415/download?t=1481681577&v=436957054&s=181e387d44890115e47bb25fba62d6cbafd151d02b5e1d425ec28b76c484c1c5">HD 1080p</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/121895415/download?t=1481681577&v=436948724&s=3ede40d9ce9116dde5cb09485e2ac61977a3d39bf020f72afee2f2ce9fceb4ca">Original</a></li>
                    </ul>
                </li></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade highlight_7" id="highlight7" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Isaiah Institute 7 &mdash; God’s Servant in the Prophecy of Isaiah &mdash; Avraham Gileadi</h4>
            </div>
            <div class="modal-body">
                <iframe id="modal_highlight_7" src="http://player.vimeo.com/video/131484934?color=ffffff&byline=0&portrait=0" width="100%" height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <div class="btn-wrapper"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button><li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Download</a>
                    <ul class="dropdown-menu">
                        <li><a class="btn btn-warning" href="https://vimeo.com/133097323/download?t=1481681604&v=437336031&s=350db935916c099b22e47422711580e31db269ad8dfaf3616288a1252f430759">Mobile SD</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/133097323/download?t=1481681604&v=437336034&s=3dc0d7a324863b25a05d6eafd5c7465d6a02f62dc5ef194f79b6e29b619e0b62">SD</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/133097323/download?t=1481681604&v=437336033&s=01e1686afea2a49d90e40c798aef326845dc52513286fb525bef23ca7dd17934">HD 720p</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/133097323/download?t=1481681604&v=437336032&s=e7b55ea4514be017115b940390c5faa8db97090ef1a0c562c92e951dce757615">HD 1080p</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/133097323/download?t=1481681604&v=437332616&s=cbf07d7a34019295d306ad719c54ae34f21e8caad5b6bf61e9b9aa21bd7ee025">Original</a></li>
                    </ul>
                </li></div>
            </div>
        </div>
    </div>
</div>

<!-- Vignette Modal -->

<div class="modal fade vig_1" id="vig1" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Vignette 1 of 7</h4>
            </div>
            <div class="modal-body">
                <iframe id="modal_vid_1" src="http://player.vimeo.com/video/114946880?color=ffffff&byline=0&portrait=0" width="100%" height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <div class="btn-wrapper"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button><li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Download</a>
                    <ul class="dropdown-menu">
                        <li><a class="btn btn-warning" href="https://vimeo.com/114946880/download?t=1481681377&v=429638245&s=d7b07021c245df2ea556558317dbf945bc61b5db49c17e789e9ba959fa0dd4f9">Mobile SD</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/114946880/download?t=1481681377&v=429638242&s=9afc6779b453a12e45f0dfe126d3f771572c3dc88d8b020faa0414d41dd424a2">SD</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/114946880/download?t=1481681377&v=429638241&s=ea44b5086774af7416324c2082caebc72008f6e5bd640be1e49fa2537f2f593f">HD 720p</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/114946880/download?t=1481681377&v=429638244&s=1f6601bca858f2b2947f1189dabf404eeb8680a5fef20d55f2c9686afdcc8aca">HD 1080p</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/114946880/download?t=1481681377&v=429634906&s=5ec9234e2468e042558d7f4c7d1d96cf641708ab52f0b9f16a661722e697571c">Original</a></li>
                    </ul>
                </li></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade vig_2" id="vig2" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Vignette 2 of 7</h4>
            </div>
            <div class="modal-body">
                <iframe id="modal_vid_2" src="http://player.vimeo.com/video/118611020?color=ffffff&byline=0&portrait=0" width="100%" height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <div class="btn-wrapper"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button><li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Download</a>
                    <ul class="dropdown-menu">
                        <li><a class="btn btn-warning" href="https://vimeo.com/118611020/download?t=1481681455&v=428070770&s=7280b6ee6e73cfbfbcdce3805fe01956983e58c16d03f3adc8131f9e1100af44">Mobile SD</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/118611020/download?t=1481681455&v=428070769&s=6f5beb34de02fcc9b5780ec9fdcd55845fabd5966c9b0fdff636c0be5967e8d7">SD</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/118611020/download?t=1481681455&v=428070765&s=99eeb862022f61700b5f3d455604f9c33e5d63c42b8d004e4a42df58393cdf41">HD 720p</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/118611020/download?t=1481681455&v=428070767&s=eff9b83ec9dce04a2541dd448c85f6bc5c368d85f652a3ca59aa0f1fe4c14eb7">HD 1080p</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/118611020/download?t=1481681455&v=428062864&s=9ec2b62b31be6be867adad0913ad5e233369f41298998038ecdef312cf1126d1">Original</a></li>
                    </ul>
                </li></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade vig_3" id="vig3" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Vignette 3 of 7</h4>
            </div>
            <div class="modal-body">
                <iframe id="modal_vid_3" src="http://player.vimeo.com/video/124770306?color=ffffff&byline=0&portrait=0" width="100%" height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <div class="btn-wrapper"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button><li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Download</a>
                    <ul class="dropdown-menu">
                        <li><a class="btn btn-warning" href="https://vimeo.com/124770306/download?t=1481681485&v=424824561&s=df29af4f21621612d32e6439fbc66e8577c8d09860b06d63cb4f87d923f298fd">Mobile SD</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/124770306/download?t=1481681485&v=424824557&s=ff5f40742a445266b706f54972ab3460162853ae1a7ad13a808a95c7e61ce53d">SD</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/124770306/download?t=1481681485&v=424824563&s=ff1cfaa512e6d33fd2145427964d68e8607f9ba476b14258413aa41b59dbfb07">HD 720p</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/124770306/download?t=1481681485&v=424824560&s=46f42573c4b95b0dc723e6a6a426be5110eff9b31635148a0c2d426c76162845">HD 1080p</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/124770306/download?t=1481681485&v=424820236&s=799084a9f3e760e21b0526219b15dd6db51522ac2121736e47198a9fe6c4f82c">Original</a></li>
                    </ul>
                </li></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade vig_4" id="vig4" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Vignette 4 of 7</h4>
            </div>
            <div class="modal-body">
                <iframe id="modal_vid_4" src="http://player.vimeo.com/video/132605486?color=ffffff&byline=0&portrait=0" width="100%" height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <div class="btn-wrapper"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button><li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Download</a>
                    <ul class="dropdown-menu">
                        <li><a class="btn btn-warning" href="https://vimeo.com/132605486/download?t=1481681518&v=408257371&s=a83a86caf4e1c97b07edd05fa1f7bb4585272727517f551e2405a0f253178fd1">Mobile SD</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/132605486/download?t=1481681518&v=408257359&s=1e5fca9cbcbc3b1ee6d323306ba588128ec14c7e0f205d9fe5f66fd238fc8add">SD</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/132605486/download?t=1481681518&v=408257358&s=68b27374e0154898557c3506d2a5046bd99e9a0cc50314f7073daad9f6c01af7">HD 720p</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/132605486/download?t=1481681518&v=408257363&s=2367898c61a9b36376d740fbbf5051c36c6ebb22d7a6a5be6634d7f8cf1f088d">HD 1080p</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/132605486/download?t=1481681518&v=408246458&s=966423d9d4d46741c1c4e32a1fc9b0891d87180266903adf9124d2dccbbbd0d7">Original</a></li>
                    </ul>
                </li></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade vig_5" id="vig5" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Vignette 5 of 7</h4>
            </div>
            <div class="modal-body">
                <iframe id="modal_vid_5" src="http://player.vimeo.com/video/132654431?color=ffffff&byline=0&portrait=0" width="100%" height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <div class="btn-wrapper"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button><li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Download</a>
                    <ul class="dropdown-menu">
                        <li><a class="btn btn-warning" href="https://vimeo.com/132654431/download?t=1481681549&v=429645449&s=c25fd5dce9bdef3262b0b7beaa4b9e7d7efda93a5092395faa0ccc9ebfd86e8c">Mobile SD</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/132654431/download?t=1481681549&v=429645445&s=87250db5906d1743446efe4b33c162a55406e3686f0bd177ad91900f76658fbc">SD</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/132654431/download?t=1481681549&v=429645446&s=31c606a65594e5756cc6768c0b20c9618c12f3365e8442bd4e6c4eff55a9e7fb">HD 720p</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/132654431/download?t=1481681549&v=429645448&s=d6fa4e137f88c17ff518129cd6f8ba6e15de8c61b00c2df56ed5ac9dba3a5312">HD 1080p</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/132654431/download?t=1481681549&v=429642249&s=91d3470cd365f0bcbbe07cf7cf5430592534d82484e645a17eac5e6d091ef570">Original</a></li>
                    </ul>
                </li></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade vig_6" id="vig6" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Vignette 6 of 7</h4>
            </div>
            <div class="modal-body">
                <iframe id="modal_vid_6" src="http://player.vimeo.com/video/121895415?color=ffffff&byline=0&portrait=0" width="100%" height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <div class="btn-wrapper"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button><li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Download</a>
                    <ul class="dropdown-menu">
                        <li><a class="btn btn-warning" href="https://vimeo.com/121895415/download?t=1481681577&v=436957053&s=81fe4a4f3bcbce5c4045e5ffdc58abd287263d6b3d2d101d8437f70dd827abf0">Mobile SD</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/121895415/download?t=1481681577&v=436957055&s=c4a29a852fe1c29fd731908fb6ed747b39df60d89242a7bec7195567744e165b">SD</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/121895415/download?t=1481681577&v=436957052&s=e7b9c21c6fcb6bba4f10c95a66f5be7c9016159ad65b6685b00aded167757194">HD 720p</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/121895415/download?t=1481681577&v=436957054&s=181e387d44890115e47bb25fba62d6cbafd151d02b5e1d425ec28b76c484c1c5">HD 1080p</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/121895415/download?t=1481681577&v=436948724&s=3ede40d9ce9116dde5cb09485e2ac61977a3d39bf020f72afee2f2ce9fceb4ca">Original</a></li>
                    </ul>
                </li></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade vig_7" id="vig7" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Vignette 7 of 7</h4>
            </div>
            <div class="modal-body">
                <iframe id="modal_vid_7" src="http://player.vimeo.com/video/133097323?color=ffffff&byline=0&portrait=0" width="100%" height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <div class="btn-wrapper"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button><li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Download</a>
                    <ul class="dropdown-menu">
                        <li><a class="btn btn-warning" href="https://vimeo.com/133097323/download?t=1481681604&v=437336031&s=350db935916c099b22e47422711580e31db269ad8dfaf3616288a1252f430759">Mobile SD</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/133097323/download?t=1481681604&v=437336034&s=3dc0d7a324863b25a05d6eafd5c7465d6a02f62dc5ef194f79b6e29b619e0b62">SD</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/133097323/download?t=1481681604&v=437336033&s=01e1686afea2a49d90e40c798aef326845dc52513286fb525bef23ca7dd17934">HD 720p</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/133097323/download?t=1481681604&v=437336032&s=e7b55ea4514be017115b940390c5faa8db97090ef1a0c562c92e951dce757615">HD 1080p</a></li>
                        <li><a class="btn btn-warning" href="https://vimeo.com/133097323/download?t=1481681604&v=437332616&s=cbf07d7a34019295d306ad719c54ae34f21e8caad5b6bf61e9b9aa21bd7ee025">Original</a></li>
                    </ul>
                </li></div>
            </div>
        </div>
    </div>
</div>
