<!-- Vignette Modal -->

<div class="modal fade vig_1" id="vignettes" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Vignette 1 of 6</h4>
            </div>
            <div class="modal-body">
                <iframe id="modal_vid" src="//player.vimeo.com/video/114946880?color=ffffff&byline=0&portrait=0" width="100%" height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <div class="btn-wrapper"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
            </div>
        </div>
    </div>
</div>