<aside class="col-xs-12 col-sm-4" role="complimentary">

    {{> widgets.search-iit}}

    {{> widgets.resources}}

    {{> widgets.vignettes}}

    <!--{\{> widgets.chapter-selection}}-->

    <!--{\{> widgets.iit-flash-presentation}}-->

    {{> widgets.books}}

</aside>