{{> widgets.ad-isaiahdecoded-small}}

<aside class="col-xs-12 col-sm-4" role="complimentary">

    {{> widgets.search-iit}}

    {{> widgets.resources}}

    {{> widgets.webinar}}

    {{> widgets.vignettes}}

    <!--{\{> widgets.chapter-selection}}-->

    <!--{\{> widgets.iit-flash-presentation}}-->

    {{> widgets.newsletter}}

    {{> widgets.donate}}

    {{> widgets.testimonials-aside}}

    {{> widgets.books}}

</aside>