<aside class="col-xs-12 col-sm-4" role="complimentary">

    <h2>Study Tools</h2>

    <ul class="tab-sections">
        <li class="active"><a href="#one_col" data-toggle="tab" title="Isaiah Institute Translation"><i class="fa fa-align-justify fa-fw"></i><span>Isaiah Institute Translation</span></a></li>
        <li><a href="#three_col" data-toggle="tab" title="Comparative Translation"><i class="fa fa-table fa-fw"></i><span>Comparative Translation</span></a></li>
        <li><a href="#commentary" data-toggle="tab" title="Apocalyptic Commentary"><i class="fa fa-quote-left fa-fw"></i><span>Apocalyptic Commentary</span></a></li>
        <li><a href="#concordance" data-toggle="tab" title="Interactive Concordance"><i class="fa fa-list fa-fw"></i><span>Interactive Concordance</span></a></li>
    </ul>

    <hr>

    <h2>Advertising?</h2>
    <p>This can have links to other sections of the site or some other useful information or content.</p>

</aside>