<aside class="col-xs-12 col-sm-4" role="complimentary">

    {{> widgets.search-iit}}

    {{> widgets.audio}}

    <ul class="fa-ul widget">
        <!--<li><a href="#"><i class="fa-li fa fa-volume-up"></i> Audio Commentary</a></li>-->
        <!--<li><a href="#"><i class="fa-li fa fa-print"></i> Print Page</a></li>-->
    </ul>

    <!--<hr>

    <h2>Isaiah Chapter Index</h2>
    {{> widgets.chapter-selection}}
    -->

    {{> widgets.iit-flash-presentation}}

</aside>