<aside class="col-xs-12 col-sm-4" role="complimentary">

    <div class="input-group">
        <input type="text" class="form-control search-field" placeholder="Key words or phrases">
        <span class="input-group-btn">
          <button class="btn btn-warning" type="button"><i class="fa fa-search"></i></button>
        </span>
    </div><!-- /Search -->
    <h2>Isaiah {{chapter_number}} Analytical Commentary</h2>
    <audio controls="controls" preload="none">
        <!--<source src="/media/commentary/Isaiah{{chapter_number}}.ogg" type="audio/ogg">-->
        <source src="/media/commentary/Isaiah{{chapter_number}}.mp3" type="audio/mpeg">
        <!--<source src="/mp3/commentary/Isaiah{{chapter_number}}.ogg" type="audio/ogg">
        <source src="/mp3/commentary/Isaiah{{chapter_number}}.mp3" type="audio/mpeg">-->
        Your browser does not support the audio element.
    </audio>
    <ul class="fa-ul widget">
        <!--<li><a href="#"><i class="fa-li fa fa-volume-up"></i> Audio Commentary</a></li>-->
        <!--<li><a href="#"><i class="fa-li fa fa-print"></i> Print Page</a></li>-->
    </ul>

    <hr>

    <h2>Isaiah Chapter Index</h2>
    {{> widgets.chapter-selection}}

    <hr>

</aside>