<aside class="col-xs-12 col-sm-4" role="complimentary">
    <h2>Resources</h2>
    <ul id="index-aside" class="tab-sections">
        <li><a title="Key Features of the Prophecy of Isaiah" href="/resources/key-features-of-the-prophecy-of-isaiah/">Key Features of the Prophecy of Isaiah</a></li>
        <li><a title="Isaiah&rsquo;s Layered Literary Structures" href="/resources/isaiahs-layered-literary-structures/">Isaiah&rsquo;s Layered Literary Structures</a></li>
        <li><a title="Isaiah&rsquo;s Seven Spiritual Levels of Humanity" href="/resources/isaiahs-seven-spiritual-levels-of-humanity/">Isaiah&rsquo;s Seven Spiritual Levels of Humanity</a></li>
        <li><a title="Isaiah&rsquo;s Ancient Types of End-Time Events" href="/resources/isaiahs-ancient-types-of-end-time-events/">Isaiah&rsquo;s Ancient Types of End-Time Events</a></li>
        <li><a title="Overviews of the Prophecy of Isaiah" href="/resources/overviews-of-the-prophecy-of-isaiah/">Overviews of the Prophecy of Isaiah</a></li>
        <li><a title="Glossary of Terms Relating to Isaiah" href="/resources/glossary-of-terms-relating-to-isaiah/">Glossary of Terms Relating to Isaiah</a></li>
    </ul>

</aside>