<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect non-www to www
    #RewriteCond %{HTTP_HOST} !localhost
    #RewriteCond %{HTTP_HOST} !^(.+)\.(.+)\.(.+)
    #RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [L,R=301]

    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

AddType audio/mpeg mp3
AddType audio/ogg ogg

SetOutputFilter DEFLATE
SetEnvIfNoCase Request_URI \.ogg$ no-gzip dont-vary
SetEnvIfNoCase Request_URI \.mp3$ no-gzip dont-vary