<main id="content" class="sub col-xs-12 col-sm-8 left-column" style="padding-top: 0;" role="main">
    <div class="page">
        <p>The Isaiah Institute was created in the year 2000 by the <a href="http://www.isaiahinstitute.com/p/hebraeus-foundation-non-profit.html">Hebraeus Foundation</a> to disseminate the message of the prophet Isaiah (circa 742–701 B.C.).</p>
        <p><a href="http://www.isaiahinstitute.com/p/avraham-gileadi-biography.html">Avraham Gileadi Ph.D</a>’s groundbreaking research and analysis of the Book of Isaiah provides the ideal medium for publishing Isaiah’s message to the world. No longer can the Book of Isaiah be regarded as an obscure document from a remote age. Its vibrant message, decoded after years of painstaking research by a leading authority in his field, now receives a new application as a sure guide to a rapidly changing world.</p>
        <p>To those who seek answers to today’s perplexing questions, the Book of Isaiah is God’s gift to humanity.</p>
    </div> <!-- End One Col Padding -->
    {{> widgets.ad-isaiahdecoded}}
</main>