<main id="content" class="col-xs-12 col-sm-8 left-column" style="padding-top: 0;" role="main">
<h1>Glossary of Terms Relating to Isaiah</h1>
<p>Familiarity with the names of nations and persons who appear in the Book of Isaiah, with the book’s underlying prophetic and theological concepts, and with the terminology associated with analyzing its contents greatly helps in broadening our understanding of Isaiah’s message.</p>

<hr>

<p><a href="#a">A</a>&nbsp;&nbsp;&nbsp;<a href="#b">B</a>&nbsp;&nbsp;&nbsp;<a href="#c">C</a>&nbsp;&nbsp;&nbsp;<a href="#d">D</a>&nbsp;&nbsp;&nbsp;<a href="#e">E</a>&nbsp;&nbsp;&nbsp;<a href="#f">F</a>&nbsp;&nbsp;&nbsp;<a href="#g">G</a>&nbsp;&nbsp;&nbsp;<a href="#h">H</a>&nbsp;&nbsp;&nbsp;<a href="#i">I</a>&nbsp;&nbsp;&nbsp;<a href="#j">J</a>&nbsp;&nbsp;&nbsp;<a href="#k">K</a>&nbsp;&nbsp;&nbsp;<a href="#l">L</a>&nbsp;&nbsp;&nbsp;<a href="#m">M</a>&nbsp;&nbsp;&nbsp;<a href="#n">N</a>&nbsp;&nbsp;&nbsp;<a href="#o">O</a>&nbsp;&nbsp;&nbsp;<a href="#p">P</a>&nbsp;&nbsp;&nbsp;<a href="#r">R</a>&nbsp;&nbsp;&nbsp;<a href="#s">S</a>&nbsp;&nbsp;&nbsp;<a href="#t">T</a>&nbsp;&nbsp;&nbsp;<a href="#u">U</a>&nbsp;&nbsp;&nbsp;<a href="#v">V</a>&nbsp;&nbsp;&nbsp;<a href="#w">W</a>&nbsp;&nbsp;&nbsp;<a href="#z">Z</a></p>

<hr>

<h2 id="a">A</h2>
<p><strong>Abraham</strong>—The son of Terah of Ur, in southern Mesopotamia, whom God gave the Land of Canaan for his and his descendants’ inheritance.</p>
<p><strong>Abrahamic Covenant</strong>—God’s unconditional covenant with Abraham, Israel’s righteous progenitor, whom God promised an innumerable posterity.</p>
<p><strong>Adam and Eve</strong>—Humanity’s first parents, who inherited Paradise as a covenant blessing and whom God commanded to multiply in the earth.</p>
<p><strong>Adultery</strong>—A person’s unfaithfulness to his or her spouse through sexual intercourse, which symbolizes unfaithfulness by God’s people to their God.</p>
<p><strong>Ahaz</strong>—A Davidic king who ruled Judah in the time of Isaiah (742–727 B.C.), who made himself a vassal of Tiglath-Pileser, king of Assyria.</p>
<p><strong>Allegory</strong>—A figurative representation of an event or truth in which one thing is revealed under the likeness or similitude of another.</p>
<p><strong>Analytical Commentary</strong>—Of the Book of Isaiah, a commentary that analyzes its literary features rather than relying on current doctrinal opinion.</p>
<p><strong>Ancient Near East</strong>—The ancient world that provides the historical setting for events recorded in the Bible as they impacted Israel’s history.</p>
<p><strong>Ancient Near Eastern Literature</strong>—A body of texts from early Egypt to Mesopotamia that sheds light on the ancient world’s history and culture.</p>
<p><strong>Ancient Precedents as Types</strong>—First-time events in ancient history that provide models of future events, particularly ones occurring in the end-time.</p>
<p><strong>Angel from the East</strong>—The angel appointed over the sealing of 144,000 end-time servants of God with the Father’s name on their foreheads.</p>
<p><strong>Angels</strong>—Messengers from God and other holy beings who form a hierarchy of souls who minister to persons in heaven and on earth.</p>
<p><strong>Anger and Wrath</strong>—Metaphorical pseudonyms or aliases of the king of Assyria/Babylon, who personifies these attributes when fulfilling his end-time role.</p>
<p><strong>Animal Sacrifice</strong>—A priest’s ritual slaughter of a lamb or clean animal, symbolic of Messiah’s sacrifice that atones for his people’s sins.</p>
<p><strong>Anointing of a King</strong>—A prophet’s pouring of consecrated oil upon the head of one chosen of God for the purpose of ordaining him king.</p>
<p><strong>Antichrist</strong>—A doctrine that seeks to supplant God and what is of God as personified by an end-time archtyrant who attempts to destroy God’s people.</p>
<p><strong>Antithetical Parallel</strong>—A Hebrew poetic form in which two parallel statements or components of a verse express opposite or antithetical ideas.</p>
<p><strong>Apocalyptic Prophecy</strong>—Predictions of end-time events, often written in code, as in the books of Isaiah, Daniel, 4 Ezra, and Revelation.</p>
<p><strong>Apocalyptic Prophets</strong>—Prophets such as Isaiah, Daniel, and John, whom God showed the end of world and the coming millennial age of peace.</p>
<p><strong>Apostasy of God’s People</strong>—The end-time alienation of God’s covenant people from the pure knowledge of God and from keeping his commandments.</p>
<p><strong>Archetypes</strong>—Ancient or prototypical models that assist in defining end-time ones, such as Zion and Babylon functioning as archetypes of good and evil.</p>
<p><strong>Archtyrant</strong>—An end-time king of Assyria/Babylon who conquers the world and puts survivors in bondage as did his ancient counterparts.</p>
<p><strong>Arm of Flesh</strong>—A metaphor signifying reliance on political, ecclesiastical, or other human support systems and counsel instead of on God.</p>
<p><strong>Arms of God</strong>—Two persons, Jehovah and his servant, through whom God intervenes to redeem his end-time people spiritually and temporally.</p>
<p><strong>Ascending Spiritual Levels</strong>—Five of seven levels Isaiah identifies through which people may ascend, the other two being descending levels.</p>
<p><strong>Ascension of Isaiah</strong>—An ancient text attributed to Isaiah that describes his spirit’s ascent to the seventh heaven, where he sees God.</p>
<p><strong>Ascent Phase</strong>—A stage of spiritual ascent or rebirth that follows a descent phase in which God tries the loyalties of those who covenant with him.</p>
<p><strong>Assimilated Lineages of Israel</strong>—Descendants of Israel who intermingled with Gentile nations and lost their identity as Israelites.</p>
<p><strong>Assyria</strong>—The dominant militaristic world power of Isaiah’s day, which Isaiah uses a type of a tyrannical end-time militaristic world power.</p>
<p><strong>Assyrian Empire</strong>—The ancient Near Eastern empire that dominated the known world in Isaiah’s day and that preceded the Neo-Babylonian Empire.</p>
<p><strong>Atonement for Transgression</strong>—Amends made for breaking God’s law and word, anciently by a proxy sacrifice as the type of a proxy savior.</p>
<p><strong>Authorship of the Book of Isaiah</strong>—One author as attested by multiple layered literary structures and a network of rhetorical and typological links.</p>

<h2 id="b">B</h2>
<p><strong>Baal Myth</strong>—The Ugaritic story of the storm god Baal who defeats the gods Yamm/Nahar and Mot and inherits the throne of his father god ’El.</p>
<p><strong>Babylon</strong>—In the Book of Isaiah, an entity structurally juxtaposed with Zion, representing all that is not Zion, which God condemns to destruction.</p>
<p><strong>Babylon/Chaldea</strong>—In the Book of Isaiah, a spiritual category of idolaters, oppressors, and tyrants to which people descend by choosing evil.</p>
<p><strong>Babylon the Great</strong>—John the Beloved’s version of Isaiah’s Greater Babylon, the whore who represents wickedness and worldly institutions.</p>
<p><strong>Babylon Ideology</strong>—The self-exaltation and exercise of supremacy or unrighteous dominion, which God makes an end of in his Day of Judgment.</p>
<p><strong>Babylonian Captivity</strong>—The Jewish exile and bondage in Babylon (597–537 B.C.) implemented by Nebuchadnezzar king of Babylon and ended by Cyrus.</p>
<p><strong>Babylonian Empire</strong>—(1) The old Babylonian empire of Hammurabi (1792–1750 B.C.); (2) the Neo-Babylonian empire of Nebuchadnezzar (605–562 B.C.)</p>
<p><strong>Benediction</strong>—The prevalence and enjoyment of covenant blessings that result from keeping God’s law and word or the terms of his covenant.</p>
<p><strong>Bible</strong>—A corpus of sixty-six books comprising the Old and New Testaments accepted by a majority of Christians as the revealed word of God.</p>
<p><strong>Bible as Literature</strong>—An approach to the Bible from a literary or intellectual standpoint, with or without a belief in its divine origins.</p>
<p><strong>Biblical Prophecy</strong>—Predictions of the future contained in the Bible, whether relevant to a prophet’s own day, to the end-time, or to both.</p>
<p><strong>Biblical Tradition</strong>—Stories, laws, customs, concepts, or teachings from Old and New Testament times that we learn about in the Bible.</p>
<p><strong>Bifid Structure</strong>—In the Book of Isaiah, the text’s division into two parallel halves, each consisting of seven categories of matching subject matter.</p>
<p><strong>Biographical Material</strong>—Narrative that deals with historical persons and events as distinct from poetic material or explicit prophecies.</p>
<p><strong>Bird of Prey from the East</strong>—A metaphor of God’s end-time servant, an agent of Israel’s redemption who reestablishes justice and righteousness.</p>
<p><strong>Birthpangs of the Messiah</strong>—A time of travail among God’s covenant people, especially at the end of the world before God sends a deliverer.</p>
<p><strong>Birthright</strong>—A privilege inherited by the eldest son, who receives a double portion of his father’s estate and assumes his role of family protector.</p>
<p><strong>Blossoming Wilderness</strong>—An end-time event marked by covenant curse reversals at the time God’s elect return from exile in a new exodus to Zion.</p>
<p><strong>Bondage</strong>—A state of subjection or slavery to an enemy, a covenant curse under which God’s end-time people are oppressed as they were in Egypt.</p>
<p><strong>Bondage in Egypt</strong>—The slavery of the descendants of Abraham, Isaac, and Jacob during Egypt’s 19th Dynasty, from which God delivered them.</p>
<p><strong>Bonds of Love</strong>—Love between parties to a covenant, which, when springing from charity, embraces ever higher covenants and reaches out to all.</p>
<p><strong>Book of Daniel</strong>—A book composed of six chapters of narrative and six of visions written by the prophet Daniel, a Jewish exile in Babylon.</p>
<p><strong>Book of Isaiah</strong>—The largest and most complex book of prophecy in the Bible, consisting of oracles and writings by the prophet Isaiah (ca. 742–701 B.C.)</p>
<p><strong>Book of Revelation</strong>—The vision of the “Day of Jehovah” by John the Beloved, who encoded in his writings the end-time events he saw and heard.</p>
<p><strong>Brethren</strong>—In the Book of Isaiah, a category of persons holding ecclesiastical authority who ostracize God’s servants who are vigilant for his word.</p>
<p><strong>Bride and Groom Imagery</strong>—A prophetic representation of God’s relationship with his people resembling a marriage between husband and wife.</p>

<h2 id="c">C</h2>
<p><strong>Cataclysmic Destruction</strong>—The world’s end-time desolation in the pattern of ancient events such as the destruction of Sodom and Gomorrah.</p>
<p><strong>Celestial Accession</strong>—God’s endowment of exceedingly righteousness individuals with divine powers and his assigning them heavenly roles.</p>
<p><strong>Chaos and Creation</strong>—A cyclical pattern in which wickedness leads to disorder and desolation but from which God brings forth a new creation.</p>
<p><strong>Chaos Motifs</strong>—The prophetic use of terms such as “dust,” “chaff,” and “mud” to describe people and institutions that are reduced to nothing.</p>
<p><strong>Chiasm</strong>—A literary pattern consisting of parallel statements or components repeated in reverse order, often revealing a central idea.</p>
<p><strong>Christian Messiah</strong>—Jesus of Nazareth, the Son of God, who atoned for humanity’s sins by his sufferings in Gethsemane and death on the cross.</p>
<p><strong>Chronology</strong>—A sequence of events that follow a timeline from earlier to later, whether they occurred in the past or will do so in the future.</p>
<p><strong>Classical Prophecy</strong>—Hebrew prophecy of events that took place in ancient Israel and in the neighboring nations of the ancient Near East.</p>
<p><strong>Classical Prophets</strong>—The Hebrew prophets of the Bible from Isaiah to Malachi, who prophesied before, during, and after Israel’s exile.</p>
<p><strong>Cloud of Glory</strong>—The pillar of cloud by day and of fire by night that led Israel’s wilderness wandering and which later rested on the temple.</p>
<p><strong>Codenames</strong>—Names of ancient nations and persons who function as types of end-time ones, who perform the same or similar roles.</p>
<p><strong>Collective Covenant</strong>—A binding contract such as the Sinai Covenant, which God makes with a people, whether it is conditional or unconditional.</p>
<p><strong>Commandments of God</strong>—The terms of God’s covenants in the form of laws, precepts, and ordinances that are designed to bless the lives of his people.</p>
<p><strong>Common Enemy</strong>—A name that designates an enemy or adversary of those with whom God makes covenants, whom God regards as his enemy.</p>
<p><strong>Composite Figure</strong>—An end-time person or entity that possesses the character traits and fulfills the roles of more than one person or entity anciently.</p>
<p><strong>Composite of Types</strong>—A combination of several precedents or types from the past that a prophet uses to predict a single end-time counterpart.</p>
<p><strong>Concept of the One and the Many</strong>—A prophetic pattern in which a people experience collectively what their ancestor or king experiences individually.</p>
<p><strong>Concordance</strong>—An alphabetized list of words in the order they appear in a text, whose comparison helps determine an author’s definition of a word.</p>
<p><strong>Conditional Covenant</strong>—A binding contract God makes with a person or people, whose promised blessings depend on their keeping the covenant’s terms.</p>
<p><strong>Conquest</strong>—The forceful overthrow and takeover of a land, commonly from its wicked inhabitants, whether by God’s people or by enemies.</p>
<p><strong>Conservative Scholarship</strong>—Scholarship that considers the Bible to be the revealed word of God, that believes in God, angels, and prophets.</p>
<p><strong>Cosmos</strong>—The heavens in all their variety, revealing a hierarchy of celestial bodies from cosmic debris to moons, planets, suns, and galaxies.</p>
<p><strong>Cosmic Cataclysm</strong>—Upheaval or disturbance of the cosmic order, particularly as it affects the earth during God’s end-time Day of Judgment.</p>
<p><strong>Cosmic Vision</strong>—A vision of the end from the beginning, generally received by a person on Isaiah’s seraph level and often recorded in code.</p>
<p><strong>Covenant</strong>—In biblical usage, commonly a binding agreement or contract God makes with a person or people, in which the lesser party is the beneficiary.</p>
<p><strong>Covenant Blessings</strong>—The benefits or benefaction God promises a person or people that accrue when they keep the terms of his covenant.</p>
<p><strong>Covenant Curses</strong>—The plagues or misfortunes that happen to those who break the terms of God’s covenant or who violate the rights of his people.</p>
<p><strong>Covenant with Death</strong>—A metaphor of ecclesiastical leaders’ dependence on political collusion instead of on God’s word as vested in his end-time servant.</p>
<p><strong>Covenant of Grant</strong>—An emperor’s unconditional promise of an enduring dynasty to a vassal who has proven loyal under all conditions.</p>
<p><strong>Covenant of Life</strong>—God’s unconditional covenant of life and peace with his end-time people who repent and prove loyal under all conditions.</p>
<p><strong>Covenant Love</strong>—The manifestation of a person’s or people’s love for God as expressed in their keeping his commandments or law of his covenant.</p>
<p><strong>Covenant People</strong>—A people with whom God contracts or covenants to be their God and they his people as under the terms of the Sinai Covenant.</p>
<p><strong>Covenant Terminology</strong>—The use of legal terms or special words that define a covenant relationship and delineate the law of the covenant.</p>
<p><strong>Covenant Theology</strong>—The principles or doctrines that define a covenant relationship with God and outline its spiritual and temporal provisions.</p>
<p><strong>Covenantal Benediction</strong>—A state of blessedness or benefaction that results when a person or people keep the terms or law of God’s covenant.</p>
<p><strong>Covenantal Heritage</strong>—The blessed spiritual and temporal legacy that passes down the generations from those with whom God makes covenants.</p>
<p><strong>Covenantal Malediction</strong>—A cursed state that result from breaking the law of God’s covenant or from violating the rights of his covenant people.</p>
<p><strong>Creation</strong>—God’s forming the heavens and the earth from chaotic matter and cosmic waters as a place of habitation for his children.</p>
<p><strong>Creation and Chaos</strong>—The cyclical reversion of created things to a disorganized or de-created state, commonly a consequence of people’s wickedness.</p>
<p><strong>Creation Motifs</strong>—The prophetic use of terms such as “light” or of imagery such as a regenerating wilderness to signify God’s ongoing creation.</p>
<p><strong>Creation as Re-creation</strong>—God’s cyclical regeneration of the earth and of those who keep the law of his covenant—often on a parallel with each other.</p>
<p><strong>Creator</strong>—God as maker of the heavens and the earth and all that is in them for the purpose of housing, teaching, and exalting his children.</p>
<p><strong>Cumulative Concepts</strong>—Ideas developed through the use of literary devices, which, once they are established, continue to apply thereafter.</p>
<p><strong>Curse</strong>—A woe or misfortune those who transgress the terms of God’s covenants bring upon themselves, which may be reversed by repenting of transgression.</p>
<p><strong>Curse Reversals</strong>—God’s turning curses or misfortunes into blessings as his people repent of doing evil and keep the terms of his covenant.</p>
<p><strong>Cushite Dynasty</strong>—The dynasty of black, Nubian pharaohs (715–663 B.C.) that ruled Egypt in the latter part of Isaiah’s prophetic ministry.</p>
<p><strong>Cyclical Pattern</strong>—Commonly, a literary pattern in which words, ideas, or motifs appear recurrently in order to convey a prophetic message or truth.</p>
<p><strong>Cyrus Figure</strong>—An ahistorical composite figure Isaiah creates to predict an end-time servant of God who resembles Cyrus, Moses, and David.</p>
<p><strong>Cyrus the Persian</strong>—The Persian conqueror of Babylon who permitted Jewish exiles in Babylon to return to Jerusalem and rebuild the temple.</p>

<h2 id="d">D</h2>
<p><strong>Damnation</strong>—A person’s final state of descent to a lower spiritual level for refusing to repent of wickedness, and his inability to ascend beyond it.</p>
<p><strong>Daniel</strong>—A righteous Jewish exile to Babylon whom King Nebuchadnezzar appointed to high office after he interpreted the king’s dream.</p>
<p><strong>Daughter of Babylon</strong>—The figurative name of a category of people who choose evil as characterized by their idolatry, injustices, and oppression.</p>
<p><strong>Daughter of Zion</strong>—The figurative name of God’s end-time covenant people who ascend to the spiritual level of Zion/Jerusalem and levels higher.</p>
<p><strong>David</strong>—A son of Jesse, whom Samuel anointed king in place of Saul, who wrote many psalms and instituted Israel’s Golden Age.</p>
<p><strong>Davidic Covenant</strong>—God’s covenant with King David and his heirs, in which the king acts as a proxy savior of his people, vouchsafing their protection.</p>
<p><strong>Davidic King</strong>—A king of the lineage of David, in particular an end-time descendant by the name of David who restores God’s people Israel.</p>
<p><strong>Davidic Servant</strong>—An end-time descendant of David who restores Israel and acts as forerunner of Jehovah’s coming to reign on the earth.</p>
<p><strong>Day of Jehovah</strong>—God’s Day of Judgment upon all nations, in which the wicked are destroyed and the righteous delivered in accordance with God’s covenants.</p>
<p><strong>Day of Judgment</strong>—In the Book of Isaiah, three years of retribution on a wicked world preceded by three years of warning, with provision for all who repent.</p>
<p><strong>Day of Vengeance</strong>—The time of worldwide calamities, when God turns the tables on his people’s oppressors and reverses his people’s adverse circumstances.</p>
<p><strong>Dead Sea Scroll of Isaiah</strong>—The complete Qumran Isaiah scroll, 1QIsaa, of St Mark’s Monastery, dating to an earlier manuscript from about 200 B.C.</p>
<p><strong>Death</strong>—The curse of mortality of the body that came into the world through Adam’s and Eve’s transgression in the Garden of Eden.</p>
<p><strong>De-creation</strong>—Spiritual, and often physical degeneration that accompanies a person’s descent to a lower spiritual level and their refusal to repent.</p>
<p><strong>Deliverance of the Righteous</strong>—In the Book of Isaiah, God’s saving his people who repent from a worldwide destruction in his Day of Judgment.</p>
<p><strong>Descending Spiritual Levels</strong>—The two lowest of seven spiritual levels that Isaiah identifies, to which people descend by choosing evil.</p>
<p><strong>Descent of God on the Mount</strong>—Jehovah’s end-time descent on Mount Zion to vanquish his enemies, resembling his former descent on Mount Sinai.</p>
<p><strong>Descent Phase</strong>—A period of trials and tests of loyalty that God orchestrates, which facilitate a person’s ascent to a higher spiritual level.</p>
<p><strong>Destruction by Fire and by the Sword</strong>—The desolation of the world and its inhabitants by an end-time conqueror, the king of Assyria/Babylon.</p>
<p><strong>Destruction of the Wicked</strong>—In the Book of Isaiah, God’s elimination from the earth in his Day of Judgment of all who refuse to repent of doing evil.</p>
<p><strong>Deutero-Isaiah Theory</strong>—Liberal scholars’ untenable assumption that an author other than Isaiah wrote the middle section of the Book of Isaiah.</p>
<p><strong>Deuteronomy</strong>—The fifth book of the Bible, in which Moses takes his leave after reminding Israel of its covenantal obligations toward its God.</p>
<p><strong>Divine Commission</strong>—God’s appointing a person or people to fulfill a spiritual ministry, commonly after they have ascended a spiritual level.</p>
<p><strong>Divine Empowerment</strong>—God’s endowment of a person or people (1) to fulfill a spiritual ministry; or (2) to thwart their enemies’ hostile designs.</p>
<p><strong>Divine Enthronement</strong>—God’s investiture of his elect with divine powers as kings and priests in the similitude of Messiah’s enthronement as King of Zion.</p>
<p><strong>Divine Intervention</strong>—God’s interposition in humanity’s affairs in times of crisis as when evil threatens to overwhelm his people or the world.</p>
<p><strong>Divine Protection</strong>—Based on the protection clause in the Sinai and David Covenant, God’s defense of his people against a mortal threat.</p>
<p><strong>Divine Revelation</strong>—Truths, laws, or covenants God reveals through his prophets for the benefit of humanity’s wellbeing and everlasting happiness.</p>
<p><strong>Doctrine of the Two Ways</strong>—A concept common to apocalyptic prophecy that sets forth people’s two choices: good or evil, life or death.</p>
<p><strong>Domino Effect</strong>—The end-time phenomenon of prophesied events, which, once they commence, occur in rapid succession like falling dominos.</p>
<p><strong>Domino Structure</strong>—A literary pattern in which a prophet predicts the same event several times in different combinations with other events.</p>
<p><strong>Doomsday</strong>—God’s end-time destruction of wicked people from the earth, all who refuse to repent of doing evil after they are warned.</p>
<p><strong>Dragon</strong>—A metaphorical representation of Pharaoh king of Egypt, the great superpower of the world, anciently and in the end-time.</p>
<p><strong>Dust</strong>—A chaos motif that signifies being reduced to nothing or a non-entity, the end-time destiny of evildoers and evil institutions.</p>

<h2 id="e">E</h2>
<p><strong>Earth</strong>—The place where humanity lives presently that is destined to experience two transformations, the first paradisiacal, the second celestial.</p>
<p><strong>Edom</strong>—Descendants of Esau who sold his birthright for a mess of pottage, typifying God’s end-time people who do likewise.</p>
<p><strong>Egypt</strong>—The great superpower in decline of Isaiah’s day that typifies the great end-time superpower of the world as Isaiah characterizes it.</p>
<p><strong>Elect of God</strong>—Persons who repent who attain the spiritual level of God’s sons and daughters, who return from dispersion in an end-time exodus to Zion.</p>
<p><strong>Eliakim</strong>—A steward whom God gives the keys of the house of David in place of another, and who functions as a type of God’s end-time servant.</p>
<p><strong>Elijah</strong>—The prophet taken up into heaven, who attained the spiritual level of seraph and gained power over the elements to minister between the worlds.</p>
<p><strong>Emperor–Vassal Covenants</strong>—Treaties ancient Near Eastern emperors made with their vassal kings, whose model parallels biblical covenants.</p>
<p><strong>End of the World</strong>—The end of the earth’s current phase, when its wicked inhabitants perish prior to a new, millennial age of peace.</p>
<p><strong>End-Time</strong>—The period preceding and including the coming of Jehovah to reign on the earth that is characterized by a fulfillment of many prophecies.</p>
<p><strong>End-Time Exodus</strong>—The return of God’s elect from throughout the earth to Zion, where God protects them from enemies in his Day of Judgment.</p>
<p><strong>End-Time Prophecy</strong>—Predictions of the end of the world, either (1) directly; or (2) indirectly, as in ancient events acting as an allegory of end-time ones.</p>
<p><strong>End-Time Scenario</strong>—A series of interrelated events foretold by prophets that occur prior to and at the time of Jehovah’s coming to reign on the earth.</p>
<p><strong>End-Time Servant</strong>—God’s servant who prepares the way before Jehovah comes to the earth, who restores Israel’s twelve tribes to lands of inheritance.</p>
<p><strong>End-Time Superpowers</strong>—Opposing world powers and alliances of nations who resemble ancient Egypt and Assyria as Isaiah characterizes them.</p>
<p><strong>Enoch</strong>—The prophet-patriarch who attained the spiritual level of seraph and a translated state, who functions as a type of end-time seraphs.</p>
<p><strong>Ensign to the Nations</strong>—By Isaiah’s definition, a metaphor and alias of God’s end-time servant, who rallies God’s elect to return from exile.</p>
<p><strong>Ephraim</strong>—The younger son of Joseph, whom Jacob blessed, whose tribe inherited Israel’s birthright and its end-time savior role.</p>
<p><strong>Eschatology</strong>—Patterns observed or doctrines taught on the subject of end-time events as predicted by Hebrew prophets and Jewish apostles.</p>
<p><strong>Ethnic Lineages of Israel</strong>—Descendants of Israel’s twelve tribes who have mostly kept their racial integrity throughout centuries of exile.</p>
<p><strong>Everlasting Covenant</strong>—God’s unconditional covenant with those who prove loyal to him under all conditions, principally at the end of the world.</p>
<p><strong>Ezekiel</strong>—The prophet exiled to Babylon who predicted Israel’s end-time restoration by a servant of God named David, a descendant of King David.</p>
<p><strong>Exaltation</strong>—A glorious everlasting inheritance God promises his elect people, all who prove loyal to him under all conditions.</p>
<p><strong>Exile of Israel</strong>—The removal (1) of Israel’s ten northern tribes to Assyria in 722 B.C.; and (2) of the Jewish tribes to Babylon about 586 B.C.</p>
<p><strong>Exodus</strong>—(1) The second book of the Bible; (2) Israel’s exit from Egypt that functions as a type of Israel’s end-time exit out of all nations to Zion.</p>
<p><strong>Expiation of Iniquity</strong>—Paying off the effects of sins (as distinct from God’s forgiveness of sins) by suffering the curses of God’s covenant.</p>

<h2 id="f">F</h2>
<p><strong>Faith in God</strong>—A person’s believing in God as his Creator and Savior from all evil as evidenced by his keeping of God’s commandments.</p>
<p><strong>Faithfulness</strong>—The quality of being trustworthy and true in one’s relationships with others as personified and exemplified by Jehovah, God of Israel.</p>
<p><strong>Fairytale Archetypes</strong>—Patterns in fairytales that repeat themselves in the lives of individuals and among God’s end-time people.</p>
<p><strong>Fairytale Parallels</strong>—Storylines, plots, or characters in fairytales that resemble similar ones in Isaiah’s prophecy, particularly in the end-time.</p>
<p><strong>Father for Ever</strong>—A title deriving from God’s blessing of Abraham that applies to God’s end-time servant and others who assume the role of seraph.</p>
<p><strong>Father–Son Relationships</strong>—Covenant bonds between God, proxy saviors, and God’s people that parallel ancient Near Eastern emperor–vassal relationships.</p>
<p><strong>Fiery Flying Serpent</strong>—Metaphorical messianic imagery depicting God’s end-time servant and others on the spiritual level of seraphs.</p>
<p><strong>Fire and Sword</strong>—Twin metaphorical pseudonyms or aliases (1) of God’s end-time servant; and (2) of his tyrannical counterpart, the king of Assyria/Babylon.</p>
<p><strong>Flood</strong>—The catastrophic inundation of the ancient world that functions as the type of a worldwide desolation by an end-time Assyrian alliance.</p>
<p><strong>Forerunner of Jehovah’s Coming</strong>—God’s end-time servant who prepares the way among God’s people for Jehovah’s coming to reign on the earth.</p>
<p><strong>Forgiveness of Sins</strong>—God’s remission of the transgressions of those who repent of doing evil, with its accompanying disburdenment of guilt.</p>
<p><strong>Free Agency</strong>—The God-given right or freedom of all humanity to choose good or evil, excluding the freedom to choose the consequences.</p>

<h2 id="g">G</h2>
<p><strong>Garden of Eden</strong>—The paradisiacal glory Adam and Eve inherited that they forfeited for a time by transgressing God’s commandment.</p>
<p><strong>Genesis</strong>—The first book of the Bible, which recounts God’s creation of the heavens and the earth and describes the lives of Israel’s ancestors.</p>
<p><strong>Gentiles in Prophecy</strong>—Non-Israelites and assimilated Israelites who interact with Israel’s ethnic lineages, particularly in the end-time.</p>
<p><strong>Gideon</strong>—A judge in ancient Israel who led a victory by 300 chosen men over 135,000 Midianites and Amalekites who oppressed God’s people.</p>
<p><strong>Glory</strong>—An exalted state God’s children may attain by degrees as they keep the terms of his covenants and ascend to higher spiritual levels.</p>
<p><strong>God</strong>—The divine being who created the heavens and the earth and all that inhabits them, who seeks the everlasting welfare of his children.</p>
<p><strong>God of Israel</strong>—Jehovah, the Creator of heaven and earth who covenanted with Israel as a nation that he would be their God and they his people.</p>
<p><strong>God’s Day of Judgment</strong>—An end-time event known as the “Day of Jehovah,” when God destroys the wicked from the earth and delivers the righteous.</p>
<p><strong>Good News or Gospel</strong>—The doctrine or teachings of God’s plan of salvation from all evil that is grounded in Jehovah’s atonement for transgression.</p>
<p><strong>Greater Babylon</strong>—The idea of a multinational entity Isaiah establishes by literary devices that is the enemy and oppressor of God’s people Zion.</p>
<p><strong>Greek Empire</strong>—The ancient Near Eastern empire (323–27 B.C.) that succeeded the Persian Empire and was succeeded by the Roman Empire.</p>

<h2 id="h">H</h2>
<p><strong>Hand and Ensign</strong>—Twin metaphorical pseudonyms or aliases (1) of God’s end-time servant; and (2) of his tyrannical counterpart, the king of Assyria/Babylon.</p>
<p><strong>Harlot Babylon</strong>—The Woman figure that represents an evil multinational entity that exalts itself over God and his covenant people Zion.</p>
<p><strong>Harvest Imagery</strong>—Figurative language Isaiah uses to depict God’s end-time Day of Judgment upon the wicked of his people and the nations.</p>
<p><strong>Healing</strong>—A condition of spiritual and temporal wellbeing or blessedness that is synonymous with salvation and that results from repenting of sins.</p>
<p><strong>Heaven</strong>—The glorious abode God’s children inherit according to the degree of their righteousness as symbolized by the order of celestial bodies.</p>
<p><strong>Hebrew Poetry</strong>—A literary form used in prophetic and homiletic writing that makes use of parallel statements to reveal an embedded message.</p>
<p><strong>Hebrew Prophecy</strong>—Prophecy by biblical prophets such as Isaiah, Jeremiah, and Ezekiel, who prophesied within the Hebrew culture and language.</p>
<p><strong>Hebrew Prophets</strong>—The prophets from Moses to Malachi who received God’s word by revelation according to the circumstances of his people.</p>
<p><strong>Hebrews</strong>—The descendants of Heber, grandson of Shem or Melchizedek, king of Salem, who include Israel’s patriarchs Abraham, Isaac, and Jacob.</p>
<p><strong>Hell</strong>—A prison for the spirits of unrighteous persons who die, where they suffer divine judgments according to the degree of their wickedness.</p>
<p><strong>Hezekiah</strong>—A righteous descendant of King David who served as king of Judah and proxy savior of his people in the days of the prophet Isaiah.</p>
<p><strong>Higher Law</strong>—The good news or gospel, the law of God’s covenant kept by Israel’s ancestors, which Israel as a nation rejected at Mount Sinai.</p>
<p><strong>Hierarchy of Ascending Levels</strong>—An order of spiritual categories pertaining to God’s covenants, which covenants empower one to ascend to God.</p>
<p><strong>Historical Background</strong>—The conditions in biblical and ancient Near Eastern history that show the setting in which scriptural events occurred.</p>
<p><strong>Historical Narrative</strong>—Accounts and stories of events in biblical and ancient Near Eastern history that inform the reader about those times.</p>
<p><strong>Historical Types</strong>—Precedents of people and events in biblical and ancient Near Eastern history that function as models of end-time ones.</p>
<p><strong>History as Allegory</strong>—In Hebrew prophecy, events from biblical and ancient Near Eastern history that function as types or models of end-time ones.</p>
<p><strong>History of Israel</strong>—An account of God’s covenant people from their ancestral origins to their inheritance and eventual loss of the Promised Land.</p>
<p><strong>Hittite Empire</strong>—An ancient Near Eastern empire in Anatolia (ca. 1400–1175 B.C.) whose emperor–vassal treaties parallel God’s covenants.</p>
<p><strong>Holistic Structure</strong>—In the Book of Isaiah, a literary structure spanning the entire text that conveys a prophetic message underlying its surface reading.</p>
<p><strong>Holy Spirit</strong>—God’s Spirit with which he endows his righteous children, particularly upon his appointing them to fulfill a spiritual calling.</p>
<p><strong>Hosea</strong>—First of the Minor Prophets (745–721 B.C.) and the only currently known writing prophet from the Northern Kingdom of Israel.</p>
<p><strong>House of Israel</strong>—The twelve-tribed people of God, who divided into Israel’s Northern and Southern Kingdoms after the death of King Solomon.</p>
<p><strong>Human Sacrifice</strong>—The ritual slaying of infants, children, or adults by people whose religion has assumed the worst traits of human depravity.</p>
<p><strong>Humiliation and Exaltation</strong>—The central themes of Isaiah’s Seven-Part Structure that typify humanity’s two alternative final states.</p>

<h2 id="i">I</h2>
<p><strong>Idolatry</strong>—The worship or adulation things other than the true God, which practice diverts people away from fulfilling their divine destiny.</p>
<p><strong>Immanuel</strong>—The portending son who succeeds King Ahaz when Assyria invades the Promised Land, historically fulfilled in King Hezekiah.</p>
<p><strong>Individual Covenants</strong>—Covenants such as those modeled on the Davidic Covenant, which God makes with persons individually.</p>
<p><strong>Inheritance and Disinheritance</strong>—Key themes of Isaiah’s Seven-Part Structure that show the opposite fates of the righteous and the wicked.</p>
<p><strong>Inheritance of the Promised Land</strong>—A covenant blessing of those who survive God’s Day of Judgment and live into the millennial age of peace.</p>
<p><strong>Iniquity</strong>—The effects of transgression, such as generational dysfunctional patterns, which may be expiated or reversed by righteous living.</p>
<p><strong>Intercession by the King</strong>—The spiritual role of a righteous king in seeking his people’s physical protection by appealing to God on their behalf.</p>
<p><strong>Interpretive Motifs</strong>—Recurring terms, patterns, or ideas such as chaos and creation that convey an embedded message or meaning.</p>
<p><strong>Invasion of the Promised Land</strong>—In the Book of Isaiah, Assyria’s invasion of the Promised Land as a type of end-time Assyrian invasion.</p>
<p><strong>Isaac</strong>—The second of Israel’s three patriarchs, the only son of Abraham by Sarah, whom Abraham was willing to sacrifice to his God.</p>
<p><strong>Isaiah</strong>—The prophet who saw God in the temple, who lived during a pivotal period of Israel’s history (ca. 742–701 B.C.), and who predicted the end of the world.</p>
<p><strong>Isaiah as Prophet-Poet</strong>—Isaiah as one whose literary skills enabled him to layer many profound prophecies, patterns, and ideas into his writings.</p>
<p><strong>Israel</strong>—(1) The new name God gave Jacob; and (2) the descendants of Abraham, Isaac, and Jacob with whom God covenanted to be their God and they his people.</p>
<p><strong>Israelite History</strong>—The story of God’s covenant people Israel from their founding through their division into two kingdoms and ultimate exile.</p>
<p><strong>Israelites</strong>—The descendants of Abraham, Isaac, and Jacob whom Moses led out of bondage in Egypt and who became God’s covenant people.</p>
<p><strong>Israel’s Exile and Restoration</strong>—Israel’s deportation from its land, first of the Ten Tribes and second of the Jews, and Israel’s prophesied return.</p>
<p><strong>Israel’s Return from Exile</strong>—Israel’s end-time return from dispersion, including the reunion and restoration of its twelve tribes to promised lands.</p>

<h2 id="j">J</h2>
<p><strong>Jacob</strong>—The third of Israel’s three patriarchs, the twin son of Isaac, who purchased his brother Esau’s birthright for a mess of pottage.</p>
<p><strong>Jacob/Israel</strong>—A category of believers in Israel’s God, from which one may ascend to Zion/Jerusalem or descend to Babylon/Chaldea.</p>
<p><strong>Jehovah</strong>—The Creator of heaven and earth and Savior-God of Israel, the meaning of whose name (from the Hebrew verb “to be”) implies self-existence.</p>
<p><strong>Jeremiah</strong>—A prophet from the priestly town of Anathoth, who predicted Judah’s exile to Babylon and was mistreated by king and people.</p>
<p><strong>Jerusalem</strong>—The city David captured from the Jebusites that became the capital of Judea, which fell to the Babylonians and was rebuilt by Jewish returnees.</p>
<p><strong>Jerusalem Temple</strong>—The house of God built by King Solomon (953 B.C.), destroyed by the Babylonians (587 B.C.), and later rebuilt (516 B.C.).</p>
<p><strong>Jesus Christ</strong>—Jesus of Nazareth, whose earthly mission, based on literary patterns in the Book of Isaiah, identifies him as Jehovah, the Savior-God of Israel.</p>
<p><strong>Jewish Messianic Expectations</strong>—The Jewish hope of a temporal savior as predicted by Isaiah, Jeremiah, Ezekiel, Hosea, and other prophets.</p>
<p><strong>Jews</strong>—In the main, descendants of Judah, Benjamin, and Levi, who constituted the Southern Kingdom of Judah after the northern tribes separated.</p>
<p><strong>Jews in Prophecy</strong>—In the Book of Isaiah, one of three branches of Israel’s ethnic lineages whom God restores and acknowledges as his people.</p>
<p><strong>John the Beloved</strong>—Jesus’ evangelist disciple, who attained the spiritual level of seraph and encoded his end-time vision in the Book of Revelation.</p>
<p><strong>Joseph</strong>—Jacob’s birthright son whom his brothers sold as a slave into Egypt but who was appointed ruler of Egypt and became his brothers’ savior.</p>
<p><strong>Joshua</strong>—An Ephraimite descendant of Jacob who led Israel’s conquest of the Land of Canaan and divided the land for Israel’s inheritance.</p>
<p><strong>Joy and Rejoicing</strong>—Motifs common to those whom God saves from an end-time destruction and delivers into a millennial age of peace.</p>
<p><strong>Judah</strong>—The son of Jacob from whom sprang the royal line of David and whose name was assumed by the Southern Kingdom of Judah, or the Jews.</p>
<p><strong>Judea</strong>—The land comprising the Southern Kingdom of Judah, including its capital city Jerusalem, which was ruled by heirs of King David.</p>
<p><strong>Judeo-Christian Religion</strong>—Traditional belief systems and practices allegedly stemming from Moses and Jesus as taught and perpetuated today.</p>
<p><strong>Judge</strong>—In the Book of Isaiah denoting three who judge: (1) Israel’s God Jehovah; (2) God’s end-time servant; (3) God’s end-time servants.</p>
<p><strong>Judges</strong>—The seventh book of the Bible, which records the acts of twelve judges who judged Israel from the time of Joshua to that of Samuel.</p>
<p><strong>Justification (1)</strong>—In biblical theology denoting a person’s receiving a remission of sins upon his repenting of transgression and being forgiven of God.</p>
<p><strong>Justification (2)</strong>—A person’s vindication from suffering covenant curses when he repents of doing evil and when a proxy savior pays his debt.</p>

<h2 id="k">K</h2>
<p><strong>King David</strong>—Israel’s preeminent king and writer of psalms, who overthrew Israel’s enemies, expanded its dominions, and instituted Israel’s Golden Age.</p>
<p><strong>King as Exemplar</strong>—A king in his role of serving as an example that his people may follow, particularly in keeping the law of God’s covenant.</p>
<p><strong>King Hezekiah</strong>—A righteous descendant of King David who served as king of Judah and proxy savior of his people in the days of the prophet Isaiah.</p>
<p><strong>King of Assyria</strong>—In the Book of Isaiah, a composite figure based on several ancient Assyrian types of an end-time archtyrant or Antichrist.</p>
<p><strong>King of Babylon</strong>—In the Book of Isaiah, a composite figure based on Assyrian and Babylonian types of an end-time archtyrant or Antichrist.</p>
<p><strong>King of Zion</strong>—Jehovah, God of Israel, who comes to reign as King of Zion at the time the king of Assyria/Babylon’s tyrannical rule ends.</p>
<p><strong>Kingdom of Israel</strong>—The monarchic state that passed from Saul to David, which divided in two after Solomon, and which ended with Judah’s exile.</p>
<p><strong>Kings and Queens of the Gentiles</strong>—The spiritual kings and queens who minister to end-time Israel’s ethnic lineages and restore them from exile.</p>
<p><strong>King’s Role of Protector</strong>—A king’s function of proxy savior under the terms of the Davidic Covenant when seeking his people divine protection.</p>

<h2 id="l">L</h2>
<p><strong>Ladder to Heaven</strong>—In the Book of Isaiah, seven identifiable spiritual levels governed by covenants through which one may ascend or descend.</p>
<p><strong>Lamb of God</strong>—The atoning role of Jesus of Nazareth in redeeming humanity from sin and death, of which Israel’s Passover Lamb was a type.</p>
<p><strong>Land as a Covenant Blessing</strong>—A blessing of God’s conditional and unconditional covenants in which God bequeaths lands of inheritance.</p>
<p><strong>Land of Israel</strong>—The land God promised unconditionally to Abraham, Isaac, and Jacob, Israel’s ancestors, and conditionally to Israel.</p>
<p><strong>Last Days</strong>—A time the prophets call the “end-time” or “end of days” (’aharit hayyamim), when God restores Israel and destroys his enemies.</p>
<p><strong>Latter-day David</strong>—A descendant of David who restores Israel and rebuilds the temple in Jerusalem in preparation for Jehovah’s coming to reign on the earth.</p>
<p><strong>Law of the Covenant</strong>—The terms of God’s covenants with Israel and with individuals, which promise blessings to those who observe them.</p>
<p><strong>Law of Justice</strong>—The equitable rules or set of principles by which God governs all humanity and by which law he himself abides at all times.</p>
<p><strong>Law of Mercy</strong>—Jehovah’s forgiveness of the transgressions of persons who repent based on his personally paying the debt of their transgressions.</p>
<p><strong>Law of Moses</strong>—The law or terms of the covenant God stipulated through Moses in place of the higher law Israel rejected at Mount Sinai.</p>
<p><strong>Lebanon</strong>—The mountainous north of the Promised Land known for its cedars, by whose name the prophets figuratively represent elite Israel.</p>
<p><strong>Levitical Covenant</strong>—The covenant of peace God made with Phinehas, grandson of Aaron, which became identified with Israel’s priests and Levites.</p>
<p><strong>Levitical Priesthood</strong>—The priesthood pertaining to the descendants of Levi who taught God’s law and administered temple ordinances.</p>
<p><strong>Leviticus</strong>—The third book of the Bible, which provides regulatory guidelines for priests and Levites to minister to God’s people.</p>
<p><strong>Liberal Scholarship</strong>—Widespread modern scholarship that views the Bible from an academic standpoint rather than as the revealed word of God.</p>
<p><strong>Life Cycle</strong>—Passage through successive phases of development by the earth, by God’s people Israel, and by persons who spiritually ascend.</p>
<p><strong>Light and Darkness</strong>—In the Book of Isaiah, pseudonyms or aliases of God’s end-time servant and the king of Assyria/Babylon, respectively.</p>
<p><strong>Light to the Gentiles</strong>—In the Book of Isaiah, God’s end-time servant whom God appoints as a light to the nations or Gentiles (goyim).</p>
<p><strong>Linear Structures</strong>—Literary structures that follow a timeline as in Isaiah’s structure Trouble at Home, Exile Abroad, and Happy Homecoming.</p>
<p><strong>Literary Analysis</strong>—Close examination of a text or writing that identifies its literary features in order to determine its fuller meaning.</p>
<p><strong>Literary Criteria</strong>—Commonly, rules or guidelines used for analyzing texts such as the Book of Isaiah that identify literary features, devices, or patterns.</p>
<p><strong>Literary Devices</strong>—Structural, typological, rhetorical, or other compositional means used to convey a message or meaning embedded in a text.</p>
<p><strong>Literary Genre</strong>—A category of writings or written texts such as biography or ethical sermons that is identifiable by theme, content, or style.</p>
<p><strong>Literary Features</strong>—Compositional or literary elements that enrich and distinguish a written text and enhance its message or meaning.</p>
<p><strong>Literary Message of Isaiah</strong>—Embedded data or divine truths that Isaiah conveys by means of literary structures, typological patterns, and rhetorical links.</p>
<p><strong>Literary Pattern</strong>—The arrangement of words and ideas in a particular order or formation for the purpose of conveying a message or meaning.</p>
<p><strong>Literary Structure</strong>—The configuration of a text according to a predetermined plan that conveys a message underlying its surface reading.</p>
<p><strong>Lord</strong>—In the Bible, Israel’s covenant God Jehovah, the translation of whose name as “Lord” (in deference to its sacredness) changes its meaning.</p>
<p><strong>Lord of Hosts</strong>—The English translation of “Jehovah of Hosts,” a title prophets use to identify Israel’s God as one who commands celestial armies.</p>
<p><strong>Lord–Servant Relationship</strong>—In the Book of Isaiah, a covenant bond resembling emperor–vassal relationships in which Jehovah assumes the role of emperor.</p>
<p><strong>Lost Tribes of Israel</strong>—Israel’s ten northern tribes who were taken captive into Assyria in 722 B.C. and who became lost from known history.</p>
<p><strong>Love of God (1)</strong>—Divine love that God instills in the hearts of his people and of individuals with whom he covenants—all who keep the terms of his covenants.</p>
<p><strong>Love of God (2)</strong>—In God’s covenants with his people and with individuals, love characterized by their keeping his commandments or the terms of his covenant.</p>
<p><strong>Loyalty and Disloyalty</strong>—Key covenantal themes of Isaiah’s Seven-Part Structure on which turn his people’s salvation or damnation.</p>

<h2 id="m">M</h2>
<p><strong>Maher-Shalal-Hash-Baz</strong>—Isaiah’s son whose name, “Hasten the Plunder, Hurry the Spoil,” foreshadows Assyria’s desolation of God’s people.</p>
<p><strong>Male and Female</strong>—The conjugal or familial model of happiness and eternal life that constitutes an integral part of God’s covenants in any age.</p>
<p><strong>Malediction</strong>—Covenant curses or plagues that result from transgressing God’s covenant or from violating the rights of his covenant people.</p>
<p><strong>Marriage Covenant</strong>—In the Book of Isaiah, the covenant relationship of a man and woman that characterizes all ascending spiritual levels.</p>
<p><strong>Marriage Imagery</strong>—The use of images or descriptions dealing with male–female covenant relationships that pertain to higher spiritual levels.</p>
<p><strong>Matthew</strong>—The evangelist author of the most quoted New Testament gospel, who cites Hebrew prophecies in support of Jesus’ life and ministry.</p>
<p><strong>Melchizedek</strong>—The priest-king of Salem to whom Abraham paid tithes, the order of whose priesthood serves as a model for high priests.</p>
<p><strong>Melchizedek Priesthood</strong>—The holy priesthood pertaining to the laws and ordinances of the gospel or good news as exemplified by Melchizedek.</p>
<p><strong>Mesopotamia</strong>—The ancient land between the two rivers of western Asia—the Tigris and Euphrates—which became a cradle of civilization.</p>
<p><strong>Messiah</strong>—Literally “anointed one” (masiah), a term historically referring to Israel’s king that came to designate Israel’s divine Savior and Redeemer.</p>
<p><strong>Messianic Expectations</strong>—The hope that grew in Israel, particularly during its exile, of a future deliverer who would restore God’s covenant people.</p>
<p><strong>Messianic Prophecies</strong>—With the exception of Isaiah 53:1–10, prophecies for the most part of a temporal savior who restores God’s people Israel.</p>
<p><strong>Messianic Roles</strong>—Jehovah’s role of spiritual Savior and the role of temporal saviors assumed by God’s end-time servant and his associates.</p>
<p><strong>Metaphor</strong>—A word, phrase, or imagery used to describe a person or object that figuratively likens the person or object to something else.</p>
<p><strong>Metaphorical Pseudonyms</strong>—In the Book of Isaiah, the use of metaphors as pseudonyms or aliases of the main actors in his end-time scenario.</p>
<p><strong>Millennial Age</strong>—The long-awaited age of peace on the earth that ensues after evildoers perish and Jehovah comes to reign as King.</p>
<p><strong>Millennial Covenant</strong>—God’s unconditional covenant with his righteous people in the millennial age that is a composite of all previous covenants.</p>
<p><strong>Modern Idolatry</strong>—Worldly activities such as the pursuit of material things and pleasure-loving pastimes that divert people away from serving God.</p>
<p><strong>Mortal Threat</strong>—Danger of being killed by an enemy, from which God delivers his people under the terms of the Sinai and Davidic Covenants.</p>
<p><strong>Mortality as Descent</strong>—Humanity’s mortal existence as a temporary phase of trials and experiences that may facilitate ascent to higher realms.</p>
<p><strong>Mosaic Code</strong>—The codified Law God gave Israel through Moses that served an interim purpose in anticipation of Israel’s receiving a higher law.</p>
<p><strong>Moses</strong>—The prophet of God who delivered the descendants of Abraham, Isaac, and Jacob from slavery in Egypt and who mediated the Sinai Covenant.</p>
<p><strong>Most High God</strong>—By definition, the God who is over all (’el ‘elyon), who is identified in the New Testament as the literal Father of Jesus.</p>
<p><strong>Mount Perazim</strong>—Reference to an end-time event resembling God’s breaking forth upon the wicked of his people as at Mount Sinai and elsewhere.</p>
<p><strong>Mount Sinai</strong>—A mountain in the Land of Midian where Jehovah covenanted to be Israel’s God and where he gave his people the Ten Commandments.</p>
<p><strong>Mount Zion</strong>—In the Book of Isaiah, the place where Jehovah vanquishes his enemies and comes to establish his reign of peace on the earth.</p>

<h2 id="n">N</h2>
<p><strong>Nebuchadnezzar</strong>—The king of Babylon who destroyed Jerusalem, who had its temple burned (587 B.C.), and who exiled the Jews to Babylon.</p>
<p><strong>Neo-Babylonian Empire</strong>—The second Babylonian Empire (626–539 B.C.), which succeeded the Assyrian Empire and was succeeded by the Persian Empire.</p>
<p><strong>New Conquest</strong>—The end-time capture of promised lands from the hands of enemies as when Israel conquered the Land of Canaan under Joshua.</p>
<p><strong>New Covenant</strong>—In the Book of Isaiah, the unconditional covenant of life and peace God makes with his elect whom he delivers into the millennial age.</p>
<p><strong>New Creation</strong>—The re-creation of the earth and reconfiguration of the heavens following a worldwide destruction and its resultant chaos.</p>
<p><strong>New Exodus</strong>—The end-time exit of God’s elect people out of Greater Babylon that resembles Israel’s release from bondage and exit out of Egypt.</p>
<p><strong>New Flood</strong>—A flood of fire launched by the king of Assyria/Babylon as destructive, comparatively speaking, as was the Flood in the days of Noah.</p>
<p><strong>New Jerusalem</strong>—A city built by its righteous inhabitants at the beginning of the millennial age that unites with a similar celestial city.</p>
<p><strong>New Name</strong>—The name God gives those who ascend to a higher spiritual level after they have proven loyal under the terms of his covenant.</p>
<p><strong>New Passover</strong>—An end-time deliverance in which the angel of death passes over God’s elect people when the wicked are destroyed from the earth.</p>
<p><strong>New Testament</strong>—The books that contain the higher law or gospel Jesus taught that pertains to the new covenant God makes with his people.</p>
<p><strong>New Versions of Ancient Events</strong>—The occurrence of end-time events predicted by the prophet Isaiah that resemble events in Israel’s past.</p>
<p><strong>New Wandering in the Wilderness</strong>—An end-time event resembling Israel’s wandering in the Sinai wilderness, though of briefer duration.</p>
<p><strong>Noah</strong>—A patriarch, the tenth generation from Adam, in whose days God sent a flood that destroyed the earth’s wicked inhabitants.</p>
<p><strong>Northern Kingdom of Israel</strong>—The ten-tribed kingdom that separated from Israel’s southern tribes under Solomon’s servant Jeroboam.</p>
<p><strong>Numbers</strong>—The fourth book of the Bible, which deals with Moses’ taking a census of Israel and with the circumstances of Israel’s wilderness wandering.</p>

<h2 id="o">O</h2>
<p><strong>Odyssey</strong>—The Greek myth of Odysseus, whose three tests that he passed resemble three tests by which God tries his end-time covenant people.</p>
<p><strong>Old Testament</strong>—The writings of the prophets and chroniclers from Genesis through Malachi that record God’s dealings and covenants with Israel.</p>
<p><strong>Offspring as a Covenant Blessing</strong>—A primary blessing of God’s conditional and unconditional covenants with his people and with individuals.</p>
<p><strong>One Mighty in Valor</strong>—A title deriving from God’s blessing of Abraham that applies to God’s end-time servant and others who assume the role of seraph.</p>
<p><strong>Oneness of God</strong>—God’s unity of purpose and uniformity of action, as distinct from the commonly held belief of a single or solitary God.</p>
<p><strong>Opposing Archetypes</strong>—In the Book of Isaiah, two primary contrasting entities or institutions that exist in the end-time such as Zion and Babylon.</p>
<p><strong>Outer Darkness</strong>—In the Book of Isaiah, a condition experienced by those who fail to qualify for a new exodus to Zion in God’s Day of Judgment.</p>

<h2 id="p">P</h2>
<p><strong>Paradigmatic Hierarchy</strong>—An order of spiritual categories through which one may ascend or descend by emulating those above or below.</p>
<p><strong>Paradise</strong>—The glorious condition Adam and Eve, humanity’s first parents, inherited, which God’s elect inherit who live into the millennial age.</p>
<p><strong>Paradisiacal Glory</strong>—A state of earthly splendor pertaining to a higher spiritual level, which God’s elect inherit who live into the millennial age.</p>
<p><strong>Parallelism</strong>—Two or more parallel statements or components, synonymous, complementary, or antithetical, that convey a scriptural message.</p>
<p><strong>Parity Covenant</strong>—A covenant between equals as in the concept of “one for all and all for one” that characterizes God’s end-time servants.</p>
<p><strong>Passover</strong>—Deliverance from the tenth plague God sent on Egypt that led to Israel’s release from bondage, which Jews and others celebrate annually.</p>
<p><strong>Passover Lamb</strong>—The yearling lamb without blemish whose blood on a house’s doorposts and lintels caused the angel of death to pass over that house.</p>
<p><strong>Patriarchs</strong>—Israel’s ancestors, notably Abraham, Isaac, and Jacob, with whom God made unconditional covenants concerning their posterity.</p>
<p><strong>Patriarchy</strong>—A form of familial relationships in which the father assumes a leadership function based on his role of provider and family protector.</p>
<p><strong>Patriarchy and Matriarchy</strong>—A form of familial relationships in which the roles of father and mother toward their children complement one another.</p>
<p><strong>Pattern of Prophecy</strong>—A pattern common to the basic elements of all Hebrew prophecies, though they may have originated centuries apart.</p>
<p><strong>Paul</strong>—The Jewish apostle to the Gentiles who wrote many epistles and predicted end-time events as recorded in the New Testament.</p>
<p><strong>Peace</strong>—A condition synonymous with salvation, wrought by Jehovah God of Israel, which characterizes the earth’s millennial age.</p>
<p><strong>Perdition</strong>—A point of no return for those who descend spiritually by committing gross crimes such as murder, molestation, and satanic rituals.</p>
<p><strong>Persian Empire</strong>—The Near Eastern empire (539–334 B.C.) that succeeded the Babylonian Empire and was succeeded by the Greek Empire.</p>
<p><strong>Personifications in Metaphor</strong>—Terms that describe persons who personify certain character traits such as God’s hand, staff, ensign, or light.</p>
<p><strong>Pharaoh King of Egypt</strong>—The king of Egypt, the great superpower of Isaiah’s day, who typifies the leader of a similar end-time superpower.</p>
<p><strong>Philistines</strong>—Israel’s hostile neighbors who harassed God’s covenant people but whom David overthrew after Samuel made him Israel’s king.</p>
<p><strong>Pilgrimage to Zion</strong>—Israel’s ancient pilgrimage to the temple in Jerusalem that functions as a type of Israel’s end-time exodus to Zion.</p>
<p><strong>Pillar of Cloud</strong>—The cloud by day and fire by night that protected Israel’s tribes during their wilderness wandering to the Promised Land.</p>
<p><strong>Plagues</strong>—Misfortunes in the form of covenant curses that happen to those who break God’s covenants or who violate the rights of his people.</p>
<p><strong>Polarization of People</strong>—People taking opposite sides on decisive issues or portending matters, particularly in the end-time before Jehovah comes.</p>
<p><strong>Poor and Needy</strong>—People of meager means, who often suffer at the hands of others, but whom Israel’s God most frequently identifies as his people.</p>
<p><strong>Posterity</strong>—A primary blessing pertaining to God’s conditional and unconditional covenants with his people and with individuals.</p>
<p><strong>Power of God</strong>—God’s divine might and strength with which he may endow a person or people whom he appoints to fulfill a saving role.</p>
<p><strong>Praise of God</strong>—The vocal expression of joyous gratitude to God commonly manifested by those whom he delivers from a trial of their faith.</p>
<p><strong>Precedents as Types</strong>—Ancient events that established historical precedents, which function as models or types of similar, end-time events.</p>
<p><strong>Precepts of Men</strong>—Popular ideas, doctrines, or beliefs that purportedly derive from God’s revealed word but which have no scriptural basis of fact.</p>
<p><strong>Priesthood</strong>—Power and authority from God to minister in his name, received from one having authority as when Moses ordained Aaron.</p>
<p><strong>Prince of Peace</strong>—A title deriving from God’s blessing of Abraham that applies to God’s end-time servant and others who assume the role of seraph.</p>
<p><strong>Promised Land</strong>—A primary blessing of God’s conditional and unconditional covenants with his people Israel and with individuals.</p>
<p><strong>Prophecy</strong>—The prediction of events that will occur in the future, commonly relating to a prophet’s own time, to the end-time, or to both.</p>
<p><strong>Prophecy of Isaiah</strong>—The prophetic oracles and writings of the Hebrew prophet Isaiah (ca. 742–701 B.C.) as recorded in the Book of Isaiah.</p>
<p><strong>Prophet</strong>—One whom God endows with the ability to see or know the future, whom God may call to prophesy to his people or other nations.</p>
<p><strong>Prophet as Paradigm</strong>—A prophet’s function as a model of righteousness to God’s people and of ascent to higher spiritual levels.</p>
<p><strong>Prophetic Ministry</strong>—A vocation to serve God’s people or other nations by one whom God calls and ordains to prophesy and preach repentance.</p>
<p><strong>Prophetic Oracles</strong>—Utterances by a prophet of God to his people or other nations that are spoken while under the influence of God’s holy Spirit.</p>
<p><strong>Prophetic Pattern</strong>—A configuration of words and ideas, intentionally repeated and layered into a text, that convey a prophetic message.</p>
<p><strong>Prophetic Theme</strong>—A topic or idea such as repentance, loyalty, or salvation that pervades a prophetic text or portion of a text.</p>
<p><strong>Prophetic Warning</strong>—The admonition by a prophet or prophets that people should repent of doing evil or evil consequences will inevitably follow.</p>
<p><strong>Protection Clause of the Davidic Covenant</strong>—The promise of God’s protection when the king keeps God’s law and the people keep the king’s law.</p>
<p><strong>Protection Clause of the Sinai Covenant</strong>—The promise of God’s protection when God’s people collectively keep the law of the Sinai Covenant.</p>
<p><strong>Proxy Protection</strong>—A king’s role of answering for his people’s transgressions when interceding with God for their physical deliverance.</p>
<p><strong>Proxy Sacrifice</strong>—(1) Under the Mosaic Code, an animal’s life in place of a transgressor’s; (2) under a higher law, a proxy savior’s offering of himself.</p>
<p><strong>Proxy Salvation</strong>—God’s deliverance, spiritual or temporal, obtained by a proxy savior on behalf of others under the terms of the Davidic Covenant.</p>
<p><strong>Proxy Savior</strong>—One who answers for others’ transgressions when seeking their deliverance under the terms of the Davidic Covenant.</p>
<p><strong>Psalms</strong>—Songs and poems praising God in times of distress or at God’s deliverance such as those composed by David in the Book of Psalms.</p>
<p><strong>Pseudonyms</strong>—Terms that identify a person or people indirectly through the use of aliases instead directly by their actual names.</p>
<p><strong>Punishment and Deliverance</strong>—Key themes of Isaiah’s Seven-Part Structure that deal with God’s punishment of the wicked and deliverance of the righteous.</p>
<p><strong>Purification</strong>—A process of repenting of transgression one may pass through that leads to a state of innocence or freedom from sin and iniquity.</p>

<h2 id="r">R</h2>
<p><strong>Rebellion and Compliance</strong>—Key covenantal themes of Isaiah’s Seven-Part Structure that characterize two opposite groups of God’s people.</p>
<p><strong>Rebirth</strong>—The state of being spiritually reborn or re-created typical of ascent to higher spiritual levels that accompanies keeping the law of God’s covenants.</p>
<p><strong>Rebuilding Ancient Ruins</strong>—Activity characterizing life in the millennial age, when God’s covenant people restore former human habitations.</p>
<p><strong>Rebuilding the Temple</strong>—Reconstruction of God’s house, his sanctuary in Jerusalem, in preparation for Jehovah’s coming to reign on the earth.</p>
<p><strong>Re-creation</strong>—God’s regeneration of those who ascend to higher spiritual levels typified by their transformation nearer to his image and likeness.</p>
<p><strong>Redemption</strong>—Deliverance from evils or covenant curses by one who functions as a proxy savior under the terms of the Davidic Covenant.</p>
<p><strong>Redemptive Suffering</strong>—The suffering endured by a proxy savior who bears the covenant curses due to others so that God may deliver them.</p>
<p><strong>Regeneration</strong>—A feature typical of the millennial age, when people’s bodies undergo a transformation and are healed of afflictions and diseases.</p>
<p><strong>Remission of Sins</strong>—God’s forgiveness of the transgressions of those who repent of doing evil, with its accompanying disburdenment of guilt.</p>
<p><strong>Repentance</strong>—Admission of and sorrow for sins before God, and their complete abandonment as evidenced by the keeping of his commandments.</p>
<p><strong>Restitution</strong>—A just repayment or compensation for transgression, whether paid by the offender or by a proxy savior who assumes the debt.</p>
<p><strong>Restoration</strong>—In Hebrew prophecy, the reinstitution of all the positive features of Israel’s past that were lost on account of transgression.</p>
<p><strong>Resurrection</strong>—Based on Jehovah’s proxy salvation, the physical raising from death to life on a spiritual level matching one’s righteousness or wickedness.</p>
<p><strong>Return from Exile</strong>—The end-time return of Israel’s dispersed peoples and tribes in a new exodus to Zion from the four parts of the earth.</p>
<p><strong>Return to Chaos</strong>—The earth’s return to a chaotic condition on account of wars and natural disasters prior to the earth’s millennial re-creation.</p>
<p><strong>Reunion of Israel</strong>—The end-time return of the long-dispersed twin houses of Israel and their tribal association in renewed covenantal bonds.</p>
<p><strong>Revelation</strong>—Truths, laws, or covenants God reveals through his prophets for the benefit of humanity’s wellbeing and everlasting happiness</p>
<p><strong>Reversal of Circumstances</strong>—The turnaround from a cursed to blessed state by those who repent, and from a blessed to cursed state by those who don’t.</p>
<p><strong>Reversal of Covenant Curses</strong>—The end-time transformation of curses turning into blessings for the Zion/Jerusalem category and levels higher.</p>
<p><strong>Rhetorical Analysis</strong>—The study of a text’s use of words and language, often revealing embedded meanings that might otherwise go unnoticed.</p>
<p><strong>Rhetorical Definition</strong>—An author’s definition of a word or idea that is determined by analyzing additional uses of it in his writings.</p>
<p><strong>Rhetorical Links</strong>—The presence in a text of words, ideas, or motifs that show interpretive interrelatedness or interdependence.</p>
<p><strong>Right Hand</strong>—(1) In ancient texts designating “the man of the right hand”; (2) in the Book of Isaiah denoting God’s end-time servant—his right hand.</p>
<p><strong>Righteous Warrior Figure</strong>—In the Book of Isaiah, God’s end-time servant when depicted as a composite of the biblical types of Abraham and Cyrus.</p>
<p><strong>Righteousness</strong>—A quality exemplified by observance of the whole law of God’s covenant as personified by his end-time servant.</p>
<p><strong>Righteousness from the East</strong>—God’s end-time servant who personifies righteousness, whom God raises up to restore his long-dispersed people.</p>
<p><strong>Rituals</strong>—Ceremonies, practices, or ordinances, as with those instituted of God, that symbolize or dramatize his covenant relationship with his people.</p>
<p><strong>Rod and Staff</strong>—Twin metaphorical pseudonyms or aliases (1) of God’s end-time servant; and (2) of his tyrannical counterpart, the king of Assyria/Babylon.</p>
<p><strong>Roman Empire</strong>—The empire that dominated Palestine in New Testament times (27 B.C.–395 A.D.), which succeeded the Greek or Hellenist Empire.</p>
<p><strong>Royal Accession</strong>—Ascent to royal status on the highest spiritual levels upon a vassal’s proving loyal to God, his emperor, under all conditions.</p>
<p><strong>Ruin and Rebirth</strong>—Key themes of Isaiah’s Seven-Part Structure that deal with the ruin of God’s alienated people and the rebirth of Zion.</p>

<h2 id="s">S</h2>
<p><strong>Sabbath Day</strong>—The seventh day of the week, a day of rest from work, whose observance is a measure of one’s keeping God’s covenant.</p>
<p><strong>Sacrifice</strong>—(1) Under the Mosaic Code, an animal’s life in place of a transgressor’s; (2) under a higher law, a proxy savior’s offering of himself.</p>
<p><strong>Salvation</strong>—The state of being redeemed from all evil, temporal and spiritual, by Jehovah God of Israel, who personifies salvation.</p>
<p><strong>Samuel</strong>—The prophet whom God called as a young man, who anointed Saul, Israel’s first king, and who later anointed David to replace Saul.</p>
<p><strong>Sanctification</strong>—The process of purifying one’s life of sin and iniquity and of acquiring divine attributes, until one becomes holy or sanctified.</p>
<p><strong>Satan</strong>—The adversary of all that is good and true, who rebelled against God and fell from grace, who seeks to overthrow all that is of God.</p>
<p><strong>Satanic Rituals</strong>—Practices that desecrate and pervert sacred rites, epitomizing people’s ultimate apostasy from the truth and love of God.</p>
<p><strong>Saul</strong>—Israel’s first king, who transgressed God’s commandment and fell from grace, whom God replaced as king with David the son of Jesse.</p>
<p><strong>Savior</strong>—One who saves others temporally or spiritually to any degree by rendering them a service or making sacrifices on their behalf.</p>
<p><strong>Savior-God of Israel</strong>—Jehovah, God of Israel, who saves his people from their sins and from every evil or covenant curse, including death.</p>
<p><strong>Saviors on Mount Zion</strong>—God’s servants who act as deliverers of his people at the time God restores Israel from exile to promised lands.</p>
<p><strong>Scripture</strong>—Writings accorded special status or recognition as being sacred or composed by prophets and chroniclers under divine inspiration.</p>
<p><strong>Sea and River</strong>—(1) In the Ugaritic Myth, names of a god of chaos, Baal’s enemy; (2) in the Book of Isaiah, pseudonyms of the king of Assyria/Babylon.</p>
<p><strong>Searching Scripture</strong>—A deliberate challenge God presents of diligently examining his revealed word, from which alone comes greater understanding.</p>
<p><strong>Second Coming</strong>—Jesus’ coming in glory as King of Zion, constituting his ascent phase following his descent phase through suffering and humiliation.</p>
<p><strong>Seer</strong>—One whom God endows with the ability to see visions of future events or other phenomena, commonly for the benefit of humanity.</p>
<p><strong>Self-Exaltation</strong>—The act of glorifying oneself or regarding oneself as preeminent, a form of idolatry that inevitably leads to humiliation.</p>
<p><strong>Sennacherib</strong>—The Assyrian king who invaded Judea in 701 B.C., whose 185,000-strong army that besieged Jerusalem was slain by an angel of God.</p>
<p><strong>Septuagint</strong>—The Greek translation of the Hebrew Bible completed in Alexandria, Egypt, in the second century B.C. by seventy Jewish scholars.</p>
<p><strong>Seraphs/Seraphim</strong>—Persons such as Enoch and Elijah who attain the seraph level of Isaiah’s spiritual ladder, who minister between the worlds.</p>
<p><strong>Servant Figure</strong>—That aspect of God’s end-time servant that expresses his spiritual, ministering phase as a proxy savior of God’s people.</p>
<p><strong>Servant Phase</strong>—The conditional phase of a proxy savior’s ministry that is followed by a son phase under the terms of the Davidic Covenant.</p>
<p><strong>Servants of God</strong>—In the Book of Isaiah, proxy saviors who minister to God’s end-time people under the terms of the Davidic Covenant.</p>
<p><strong>Service and Suffering</strong>—Primary means of purification and sanctification that one experiences when serving God and suffering in his cause.</p>
<p><strong>Seven-Part Structure</strong>—A synchronous holistic structure of the Book of Isaiah that reveals a systematic theology and an apocalyptic prophecy.</p>
<p><strong>Seventh Heaven</strong>—The spiritual level to which Isaiah’s spirit ascended when he saw God in his glory as recorded in the Ascension of Isaiah.</p>
<p><strong>Shear-Jashub</strong>—Isaiah’s son whose name, “A Remnant Shall Repent/Return,” foreshadows the exile of God’s people and their end-time return.</p>
<p><strong>Shebna</strong>—A steward of the house of David who exalts himself, whom God replaces with Eliakim as a precedent and type of God’s end-time servant.</p>
<p><strong>Sheol</strong>—The world of spirits associated with death and Hell, containing the lowest spiritual levels, the abodes of the damned.</p>
<p><strong>Sin</strong>—The transgression of God’s laws and of moral principles, whose effect is guilt and whose consequence is malediction or covenant curse.</p>
<p><strong>Sinai Covenant</strong>—The conditional covenant God made with his people Israel as a nation in the Sinai wilderness through the mediation of Moses.</p>
<p><strong>Sodom and Gomorrah</strong>—The cities God destroyed by a rain of fire and brimstone for their consummate wickedness, saving only Lot and his family.</p>
<p><strong>Sodom-and-Gomorrah Destruction</strong>—An end-time destruction of the world’s wicked inhabitants resembling that of ancient Sodom and Gomorrah.</p>
<p><strong>Solomon</strong>—The son of David and Bathsheba who inherited David’s throne, expanded Israel’s dominions, and built the temple in Jerusalem.</p>
<p><strong>Son Phase</strong>—The unconditional phase of a proxy savior’s ministry that is preceded by a servant phase under the terms of the Davidic Covenant.</p>
<p><strong>Songs of Salvation</strong>—Hymns of praise and thanksgiving by those whom God delivers, notably by his elect who live into the millennial age.</p>
<p><strong>Sons and Daughters of God</strong>—In the Book of Isaiah, a spiritual category of God’s elect or those who attain the son/servant level.</p>
<p><strong>Sons and Servants of God</strong>—In the Book of Isaiah, those who serve as proxy saviors to God’s people under the terms of the Davidic Covenant</p>
<p><strong>Southern Kingdom of Judah</strong>—The kingdom that remained under Davidic rule when Israel’s ten northern tribes rebelled against Solomon’s son.</p>
<p><strong>Spiritual Blindness</strong>—A condition resulting from an idolatrous materialism and superficial spirituality that characterizes God’s end-time people.</p>
<p><strong>Spiritual Ladder</strong>—In the Book of Isaiah, a hierarchy of seven discernible categories or spiritual levels of people whom Isaiah describes.</p>
<p><strong>Spiritual Ministry</strong>—A divine calling to serve humanity as do priests under the Levitical Covenant and proxy saviors under the Davidic Covenant.</p>
<p><strong>Spiritual Salvation</strong>—Deliverance from all evil through Jehovah’s atonement for transgression as manifested in curse reversals such as rising from the dead.</p>
<p><strong>Stars</strong>—Cosmic bodies of different dimensions and brightness that typify the resurrection of the just to varying degrees of glory or exaltation.</p>
<p><strong>Storm Imagery</strong>—Figurative language Isaiah uses to depict God’s end-time Day of Judgment upon the wicked of his people and the nations.</p>
<p><strong>Structural Analysis</strong>—The study of literary patterns that shape a text, revealing underlying ideas and transcendent meanings.</p>
<p><strong>Suffering and Salvation</strong>—Key themes of Isaiah’s Seven-Part Structure that deal with the suffering of the wicked and salvation of the righteous.</p>
<p><strong>Suffering and Service</strong>—Primary means of purification and sanctification that one experiences when serving God and suffering in his cause.</p>
<p><strong>Suffering Figure</strong>—The subject of Isaiah 53:1–10, whom Isaiah identifies in a literary structure as Jehovah, the God of Israel and King of Zion.</p>
<p><strong>Suzerain-Vassal Covenants</strong>—Treaties or covenants made between ancient Near Eastern emperors and their vassal kings that parallel God’s covenants.</p>
<p><strong>Symbolic Names</strong>—Names that express ideas or portend the future such as the name of Isaiah’s son Shear Jashub, “A Remnant Shall Repent/Return.”</p>
<p><strong>Symbolism</strong>—The representation of one thing to signify another, such as Isaiah’s describing political and ecclesiastical collusion as a Covenant with Death.</p>
<p><strong>Synchronous Structures</strong>—Literary structures such as Isaiah’s Seven-Part Structure that view a text synchronously or as depicting a single scenario.</p>
<p><strong>Synonymous Parallels</strong>—Twin statements or poetic elements that express similar or synonymous ideas, in which one clarifies or nuances the other.</p>
<p><strong>Systematic Theology</strong>—The study of God and his relationship to humanity as a divine system, as revealed, for example, in Isaiah’s Seven-Part Structure.</p>

<h2 id="t">T</h2>
<p><strong>Tabernacle</strong>—The portable edifice the Israelites carried with them in their wilderness wanderings, within whose inner sanctum God conversed with Moses.</p>
<p><strong>Temple</strong>—A house of God such as the Jerusalem temple that is used for performing covenantal ordinances and as a venue for God’s conversing with prophets.</p>
<p><strong>Temple Architecture</strong>—A temple’s design, including demarcated areas of increasing sanctity that parallel ascending spiritual levels of people.</p>
<p><strong>Temporal Salvation</strong>—Deliverance from evils of a physical nature such as God’s protection against enemies or against the threat of death.</p>
<p><strong>Ten Lost Tribes</strong>—The ten tribes of Israel’s Northern Kingdom who were taken captive into Assyria in 722 B.C. and became lost from known history.</p>
<p><strong>Terms of the Covenant</strong>—Stipulations comprising God’s law and word, including (1) promises of blessings; and (2) warnings of curses.</p>
<p><strong>Testimony</strong>—In theological terms, a witness of the truth received through God’s holy Spirit, often shared in attempts to persuade others to believe.</p>
<p><strong>Tests of Loyalty</strong>—In the Book of Isaiah, tests or trials pertaining to a person’s descent phase that God orchestrates, which try the person’s faithfulness.</p>
<p><strong>Theology</strong>—The study of God’s attributes as revealed through his prophets, including his relationship to humanity and divine teachings.</p>
<p><strong>Theology of Spiritual Ascent</strong>—The doctrine of advancement through ascending spiritual levels to higher realms of glory or exaltation.</p>
<p><strong>Theophany</strong>—God’s manifestation of himself to people individually or collectively, in secret or in public, as a testimony of his reality.</p>
<p><strong>Thief in the Night</strong>—In the Book of Isaiah, the king of Assyria/Babylon, an archtyrant who precedes Jehovah’s coming to reign on the earth.</p>
<p><strong>Throne of David</strong>—The right of righteous descendants of David to his throne as with Israel’s Messiah, with God’s end-time servant, and others.</p>
<p><strong>Tongue and Lips</strong>—Twin metaphorical pseudonyms or aliases (1) of God’s end-time servant; and (2) of his tyrannical counterpart, the king of Assyria/Babylon.</p>
<p><strong>Transgression</strong>—The breaking of divine laws or of moral principles, whose effect is guilt and whose consequence is malediction and a spiritual loss of light.</p>
<p><strong>Trusting in God</strong>—The principle of exercising reliance on God, particularly in times of adversity, which serves as a test of one’s loyalty.</p>
<p><strong>Truth of God</strong>—The reality of God’s existence, of what God has revealed through his prophets, and of his teachings of things as they are.</p>
<p><strong>Twelve Tribes of Israel</strong>—The denomination of God’s people as tribal groups identified by the names of Jacob’s twelve sons, their ancestors.</p>
<p><strong>Types</strong>—In the Book of Isaiah, precedents of persons and events from Israel’s past that function as models or patterns of end-time ones.</p>
<p><strong>Typological Analysis</strong>—The study of precedents or types, showing how sacred history repeats itself, specifically in the end-time.</p>
<p><strong>Typological Motifs</strong>—Recurring themes or ideas based on types from the past that assist in identifying an end-time sequence of events.</p>
<p><strong>Typology</strong>—The study and classification of precedents or types, illustrating the Hebrew worldview that history cyclically repeats itself.</p>
<p><strong>Tyrant King</strong>—The end-time king of Assyria/Babylon, an archtyrant who, with his evil alliance of nations, conquers and desolates the world.</p>

<h2 id="u">U</h2>
<p><strong>Unbelief</strong>—Refusal to believe in God born of fear and spiritual inertia—an impediment to divine empowerment in accomplishing life’s mission.</p>
<p><strong>Unconditional Covenant</strong>—A covenant whose promised blessings God grants unequivocally to those who have proven loyal under all conditions.</p>
<p><strong>Urzeit and Endzeit</strong>—The concept of ancient history juxtaposed with end-time history and of a fulfillment of prophecy divided between them.</p>

<h2 id="v">V</h2>
<p><strong>Vassal</strong>—In the ancient Near East, a king who is subject to an emperor and who is known as his servant and son within a covenant relationship.</p>
<p><strong>Vindication</strong>—Being justified before God, often by a proxy savior, obviating the need to suffer covenant curses as a consequence of transgression.</p>
<p><strong>Violation of Rights</strong>—The infringement of freedoms, especially those of God’s covenant people, which brings covenant curses on violators.</p>
<p><strong>Virgin Zion</strong>—The Woman figure that represents a righteous category of God’s people with whom God reestablishes a covenant relationship.</p>
<p><strong>Visions</strong>—The seeing of events or phenomena not normally perceived that may forewarn or apprise the visionary of what is going to happen.</p>
<p><strong>Visions of Isaiah</strong>—Among many, chiefly Isaiah’s first vision of Jehovah in the temple and his latter vision of the end from the beginning.</p>
<p><strong>Voice and Mouth</strong>—Twin metaphorical pseudonyms or aliases (1) of God’s end-time servant; and (2) of his tyrannical counterpart, the king of Assyria/Babylon.</p>

<h2 id="w">W</h2>
<p><strong>Waiting for Jehovah</strong>—The key principle of anticipating Jehovah’s coming and relying on his deliverance, even in the midst of extremity.</p>
<p><strong>Wandering in the Wilderness</strong>—Israel’s ancient journey through the Sinai wilderness that functions as the type of a similar, end-time journey.</p>
<p><strong>Wickedness</strong>—Acts that offend God and break his laws such as idolatry, deceit, injustice, oppression, fornication, violence, and murder.</p>
<p><strong>Wise and Learned</strong>—Those whom God censures, whose wisdom and learning he overturns because they teach doctrines and precepts of men.</p>
<p><strong>Woman Babylon</strong>—In the Book of Isaiah, the Woman figure that represents God’s alienated people and all evil or non-Zion entities.</p>
<p><strong>Woman Zion</strong>—The Woman figure that represents God’s covenant people who repent, who live into a glorious millennial age of peace.</p>
<p><strong>Wonderful Counselor</strong>—A title deriving from God’s blessing of Abraham that applies to God’s end-time servant and others who assume the role of seraph.</p>
<p><strong>Word of God</strong>—The truths, laws, and covenants God reveals through his prophets that lead to his children’s wellbeing and everlasting happiness.</p>
<p><strong>Word Links</strong>—Repeated terms, intentionally embedded in a text, that connect ideas and contexts and elucidate their message and meaning.</p>
<p><strong>World Conqueror</strong>—The king of Assyria/Babylon, an end-time archtyrant who gains the whole world but suffers the loss of his own soul.</p>
<p><strong>World Conquest</strong>—An evil takeover of the world that follows God’s end-time people’s apostasy as in ancient patterns of world conquest.</p>

<h2 id="z">Z</h2>
<p><strong>Zion</strong>—A people of God who repent of transgression and the place to which they return, where God protects them in his Day of Judgment.</p>
<p><strong>Zion Ideology</strong>—Under the terms of the Davidic Covenant, the principle of keeping God’s law that vouchsafes his blessings and divine protection.</p>
<p><strong>Zion/Jerusalem</strong>—God’s covenant people who repent of transgression, who receive a remission of their sins and live into a millennial age of peace.</p>
<p><strong>Zion’s Inviolability</strong>—Zion’s indestructibility based on the protection clause of the Davidic Covenant when the terms of the covenant are met.</p>
</main>
{{> asides.resource-index}}