<main id="content" class="sub col-xs-12 col-sm-8 left-column" style="padding-top: 0;" role="main">
<div class="page">
<h1>Isaiah&rsquo;s Layered Literary Structures</h1>
<p>Literary structures are a way of organizing the content and carry their own message over and above what appears on the surface. Analyzing structures reveals the underlying themes and concepts of the Book of Isaiah. Its layered holistic structures attest to a single author—Isaiah.</p>

<hr>

<h2>1. Antithetical Themes of Isaiah&rsquo;s Seven-Part Structure</h2>
<p>Isaiah&rsquo;s Seven-Part Structure divides the Book of Isaiah into two halves of thirty-three chapters each. Seven pairs of antithetical themes in the first half parallel seven pairs of the same antithetical themes in the second half. Within that structural arrangement, Isaiah establishes prophetic and theological concepts that deeply impact the book&rsquo;s message, particularly as it relates to the end-time (see Avraham Gileadi, <i>The Literary Message of Isaiah</i>, Hebraeus Press, 2<sup>nd</sup> ed., 2012).</p>
<p style="padding-left: 30px;">Ruin &amp; Rebirth (Isaiah 1–5; 34–35)</p>
<p style="padding-left: 60px;">Rebellion &amp; Compliance (Isaiah 6–8; 36–40)</p>
<p style="padding-left: 90px;">Punishment &amp; Deliverance (Isaiah 9–12; 41–46)</p>
<p style="padding-left: 120px;">Humiliation &amp; Exaltation (Isaiah 13–23; 47)</p>
<p style="padding-left: 90px;">Suffering &amp; Salvation (Isaiah 24–27; 48–54)</p>
<p style="padding-left: 60px;">Disloyalty &amp; Loyalty (Isaiah 28–31; 55–59)</p>
<p style="padding-left: 30px;">Disinheritance &amp; Inheritance (Isaiah 32–33; 60–66)</p>
<p>The above seven pairs of antithetical themes reveal a divine pattern in which ruin precedes rebirth, punishment precedes deliverance, humiliation precedes exaltation, suffering precedes salvation, and disinheritance precedes inheritance. This shows that to ascend to higher spiritual levels a person or nation of God&rsquo;s people must descend through trials, prove loyal to God under all conditions, and comply with his law and word while resisting the temptation to be disloyal or rebel.</p>
<p>According to this pattern, the higher a person or nation ascends spiritually, the greater the preceding descent through trials that test their loyalty. In each case, a higher law and word of God must be observed in order to ascend further. Every ascent is characterized by God&rsquo;s re-creating the candidate nearer to his own image and likeness. It is accompanied by the candidate&rsquo;s receiving a new name pertaining to the new spiritual level and by an appointment to a higher spiritual calling.</p>
<p>As a synchronous holistic structure—in which all parts of the text interconnect concurrently or <i>synchronously</i>—Isaiah&rsquo;s Seven-Part Structure transforms the entire Book of Isaiah into an apocalyptic or end-time prophecy. In that sense, Israel&rsquo;s ancient history, as selectively represented in the Book of Isaiah, functions as an allegory of the end-time, in which the names of ancient persons and nations act as codenames of persons and nations that exist at the end of the world.</p>

<h2>2. Trouble at Home, Exile Abroad, Happy Homecoming</h2>
<p>A three-part literary structure resembling early Egyptian narrative patterns, Trouble at Home, Exile Abroad, and Happy Homecoming functions like a three-act play in which the people of God (1) break their covenant with him; (2) are cast out of their Promised Land; and (3) finally return, renewed and reconstituted. As a linear holistic structure, Trouble at Home, Exile Abroad, and Happy Homecoming follows a timeline reaching from Isaiah&rsquo;s day to the end of the world.</p>
<p style="text-align: center;">Israel in its Homeland Rebels against God (Isaiah 1–39)</p>
<p style="text-align: center;">God Disperses Israel among the Nations (Isaiah 40–54)</p>
<p style="text-align: center;">Israel&rsquo;s Elect Remnant Returns from Exile (Isaiah 55–66)</p>
<p>A national consciousness pervades the first part of this threefold structure as Israel dwells in the land God promised Israel&rsquo;s ancestors, Abraham, Isaac, and Jacob. A universal consciousness pervades the second part as Israel&rsquo;s twelve tribes spread throughout the earth, populating new lands and intermarrying with other nations. An individual consciousness pervades the third part as only persons who renew God&rsquo;s covenant respond to his end-time summons to return home.</p>
<p>A redeeming aspect of Israel&rsquo;s dispersion among the nations of the world is that through the assimilation and intermingling of Israelite lineages with gentile or non-Israelite peoples, all nations of the world can now lay claim to Israel&rsquo;s covenantal heritage. Repentant persons of all nations, in other words, may renew the covenant with the God of Israel and reap its abundant blessings. God thus turns evil to good on behalf of those who love him and desire to serve him.</p>

<h2>3. Apostasy, Judgment, Restoration, Salvation</h2>
<p>A four-part structure based on a literary pattern in the Ugaritic myth of Baal and Anath conveys a Hebrew prophetic message. As a linear holistic structure, Apostasy, Judgment, Restoration, and Salvation connects Israel&rsquo;s ancient apostasy and judgment with its end-time restoration and salvation, showing that the history of Israel&rsquo;s twelve-tribed kingdom doesn&rsquo;t conclude with its demise by the Assyrian and Babylonian empires but that it resumes in the end-time.</p>
<p style="text-align: center;">God&rsquo;s People Break His Law and Word (Isaiah 1–9)</p>
<p style="text-align: center;">God Empowers the Archtyrant against His People (Isaiah 10–34)</p>
<p style="text-align: center;">God&rsquo;s Servant Restores God&rsquo;s Repentant People (Isaiah 35–59)</p>
<p style="text-align: center;">God&rsquo;s Elect People Inherit the Millennial Age (Isaiah 60–66)</p>
<p>This same fourfold cycle additionally occurs <i>as</i> an end-time phenomenon, reflecting an <i>end-time</i> apostasy, judgment, restoration, and salvation of God&rsquo;s covenant people. Numerous mini-cycles of apostasy, judgment, restoration, and salvation in the Book of Isaiah further show how Israel&rsquo;s God deals with his people collectively and individually when they transgress his law and word and he attempts to convince them to repent so that he may restore them to a state of blessedness.</p>
<p>As a divine pattern on an <i>individual</i> level, a person may suffer God&rsquo;s judgments in life that are a consequence of transgressing his law and word. When those undesirable effects of personal choices influence one to return to God, on the other hand, it is often the kind intervention of a friend whom God sends into one&rsquo;s life that provides the final push toward returning to God. Whichever part a person plays in this theological cycle of life, God is in the details.</p>

<h2>4. Covenant Curses and Covenant Blessings</h2>
<p>A two-part structure resembling the curses and blessings of Hittite and Assyrian emperor–vassal treaties consists of covenant curses that predominate in the first part of the Book of Isaiah and covenant blessings that predominate in the second. The blessings and curses of the Sinai Covenant enumerated in Deuteronomy 28 follow the same pattern, except that Moses cites first the blessings, then the curses. All depends on whether Israel keeps or breaks God&rsquo;s law and word.</p>
<p style="text-align: center;">God&rsquo;s People Suffer the Consequences of Wickedness (Isaiah 1–39)</p>
<p style="text-align: center;">God&rsquo;s People Enjoy the Fruits of Righteousness (Isaiah 40–66)</p>
<p>In the end-time context of the Book of Isaiah, God&rsquo;s people have transgressed his law and word that are the terms of the Sinai Covenant and they now come under condemnation. Only those who repent and renew the covenant with Israel&rsquo;s God ultimately experience its blessings. Exceptions to the curses/blessings pattern occur: even when people collectively suffer the curses, God delivers the righteous; and even when they collectively enjoy the blessings, the wicked remain cursed.</p>
<p>People&rsquo;s <i>individual</i> lives that manifest patterns of covenant blessings and curses, on the other hand, vary so widely that one cannot judge another&rsquo;s fortune or misfortune as a blessing or curse. Instances of transgressing God&rsquo;s covenant followed by curses, for example, may be compounded by inherited generational “iniquities” or dysfunctional patterns that factor into one&rsquo;s standing before God. Likewise, a person&rsquo;s prosperity serves as no indicator of personal righteousness.</p>

<h2>5. Isaiah&rsquo;s Zion Ideology of Proxy Salvation</h2>
<p>A literary pattern possessing Jebusiteroots—possibly dating to Melchizedek king of Salem—involves the end-time mediatory role of a descendant of David. Called Zion ideology, it consists of (1) God&rsquo;s destruction of the wicked; (2) his deliverance of the righteous; and (3) the intercession of a Davidic king. A historical precedent occurs when an angel of God slays an Assyrian army of 185,000 men besieging Jerusalem at King Hezekiah intercession on behalf of his people.</p>
<p style="text-align: center;">God Destroys the Wicked of His People and the Nations (Isaiah 1–39)</p>
<p style="text-align: center;">A Davidic King Intercedes on Behalf a Repentant Remnant (Isaiah 36–38)</p>
<p style="text-align: center;">God Delivers the Righteous of his People and the Nations (Isaiah 40–66)</p>
<p style="text-align: left;">
</p><p style="text-align: left;">This scenario reoccurs at the end of the world when enemies threaten God&rsquo;s people with death. At that point, the curses of his covenant with the king—God&rsquo;s end-time servant—come on those who threaten him and his people. Forty mini-patterns of Zion ideology appear in the Book of Isaiah in which the word <i>Zion</i> or its equivalent occurs in conjunction with (1) the destruction of the wicked; (2) the deliverance of the righteous; and (3) a codename or alias of God&rsquo;s servant.</p>
<p>Based on the protection clause of the Davidic Covenant—God&rsquo;s covenant with King David and his heirs—all with whom Israel&rsquo;s God makes <i>individual</i> covenants on the model of his covenant with David may similarly obtain his divine protection of those who are theirs as a universal principle. God saved Abraham&rsquo;s nephew Lot from the destruction of Sodom and Gomorrah for Abraham&rsquo;s sake, for example; but he saved Lot&rsquo;s family for Lot&rsquo;s sake (Genesis 19:12, 29).</p>

<h2>6. Test One, Test Two, Test Three</h2>
<p>Three major tests try the loyalties of God&rsquo;s end-time people: (1) an archtyrant who conquers the world and demands all peoples&rsquo; allegiance in the pattern of the ancient kings of Assyria and Babylon; (2) an end-time equivalent of the ancient Babylonian empire, whose socio-economic structure was grounded in the manufacture and sale of idols or false gods; and (3) ecclesiastical leaders who excommunicate and disfellowship God&rsquo;s servants for their zeal and love of the truth.</p>
<p style="text-align: center;">The Archtyrant Demands All People&rsquo;s Allegiance (Isaiah 1–38)</p>
<p style="text-align: center;">Babylon&rsquo;s Idols Seduce People away from God (Isaiah 39–48)</p>
<p style="text-align: center;">Ecclesiastical Leaders Persecute God&rsquo;s Servants (Isaiah 49–66)</p>
<p>The three tests parallel three tests to which the Greek gods of myth subject Odysseus: (1) the one-eyed Cyclops who attempts to take Odysseus captive resembles the king of Assyria/Babylon, an end-time Antichrist; (2) the sirens who seek to seduce Odysseus compare with Babylon and its idols; and (3) the false suitors of Odysseus&rsquo; wife, who waste his substance during his absence and who challenge him on his return, resemble leaders who abuse their ecclesiastical authority.</p>
<p>God&rsquo;s children who compromise liberty and “make peace” with the archtyrant “weep bitterly” in the end when their hopes are dashed (Isaiah 33:7–9; 36:16). Those blind and deaf who “trust in idols and esteem their images as gods retreat in utter confusion” when God empowers foreign enemies against them (Isaiah 42:17–18). Persons whom their ecclesiastical leaders “abhor” and “exclude” for the truth&rsquo;s sake (Isaiah 66:5) God exalts in the end (Isaiah 61:7, 9; 65:13–15).</p>

<h2>7. The Servant–Tyrant Parallelism</h2>
<p>A literary pattern contrasting the King of Babylon in Isaiah 14 with the King of Zion in Isaiah 52–53 in a series of twenty-one antithetical verses identifies the suffering figure of Isaiah 53:1–10 with the King of Zion of Isaiah 52:7, showing they are the same person (<i>Literary Message of Isaiah</i>, 173–79, 211–24). Depicting his descent phase through trials and afflictions that precedes his ascent phase as King of Zion, this literary configuration attests to one divine Savior.</p>
<p style="text-align: center;">The King of Babylon Exalts Himself and Is Humiliated (Isaiah 14)</p>
<p style="text-align: center;">The King of Zion Suffers Humiliation and Is Exalted (Isaiah 52–53)</p>
<p>Differentiating the King of Babylon from the King of Zion is his exalting himself in order to become “like the Most High [God].” Pursuing a counterfeit of glory, he ends up being cast into the lowest Pit (Isaiah 14:13–15). The King of Zion, on the other hand, consents to being judged as the lowest of men while serving as a proxy savior to his people (Isaiah 53:3–10). This pattern defines the true path to glory and infers that the King of Zion becomes like the Most High God.</p>
<p>As humanity&rsquo;s preeminent exemplars of righteousness and wickedness, the King of Zion and King of Babylon constitute role models that all people follow either for good or for evil. Manifestations of pride—as in exalting oneself over others in thought, word, or deed—inevitably lead to humiliation. And vice versa: a humble attitude—as in acknowledging one&rsquo;s nothingness before God and complete dependence on him for all things—is a prerequisite for ascent to glory.</p>
    {{> widgets.resources}}
</div>
</main>
{{> asides.resource-index}}