<main id="content" class="sub col-xs-12 col-sm-8 left-column" style="padding-top: 0;" role="main">
    <div class="page">
        <h1>How to Use The Isaiah Institute Translation</h1>
        <p>Passages of Isaiah translated from Hebrew prose extend from margin to margin. Passages translated from poetic verse are indented.</p>
        <p>Words inserted in the text to clarify incomplete or difficult phrasing appear in <i>italics</i>.</p>
        <p>A superscript number after a problematic word or phrase in the text,<sup>a</sup> or two identical superscript letters, <sup>b</sup>one before and one after,<sup>b</sup> indicate a footnote.</p>
        <p>Footnotes are marked alphabetically within each chapter and identify a verse by its number.</p>
        <p>Abbreviations in footnotes include:</p>
        <ul>
            <li>MT&mdash;The Hebrew Masoretic Text from which the new translation was made.</li>
            <li>1QIsa<sup>a</sup>&mdash;The complete Dead Sea scroll of Isaiah of St. Mark&rsquo;s Monastery.</li>
            <li>LXX&mdash;The Greek Septuagint Version of the Old Testament.</li>
        </ul>
        <p>Words or phrases relocated in the text are offset by brackets [....] and indicated by footnotes.<sup>a</sup></p>
        <p>Verses relocated in the text are indicated by footnotes.<sup>a</sup></p>
        <p>Metaphorical keywords that function as pseudonyms of Jehovah, his servant, and the king of Assyria/Babylon appear in <b>bold</b>. Click on a keyword to see its definition within the context in which it appears.</p>
        <p>Click on a verse number in the Isaiah Institute Translation or Interactive Concordance to view the Comparative Translation of the verse.</p>
        <p>Listen to Dr. Avraham Gileadi&rsquo;s &ldquo;Analytical Commentary of Isaiah&rdquo; on any chapter using the audio option in the sidebar.</p>
        <p>Search any word or phrase in the Isaiah Institute Translation by typing or cutting and pasting it into the box in the sidebar. Use words or phrases in "double quotes" for exact matches.</p>
        <p>Most words in the Isaiah Institute Translation contain links to the Interactive Concordance. To do extensive word searches, click on a word in the Isaiah Institute Translation in the Interactive Concordance category to view all its instances. You may then click on a different chapter and verse to view the word there in its context.</p>
    </div> <!-- End One Col Padding -->
</main>
{{> asides.resource-index}}