<main id="content" class="sub col-xs-12 col-sm-8 left-column" style="padding-top: 0;" role="main">
    <div class="page">
        <p>Passages of Isaiah translated from Hebrew prose extend from margin to margin. Passages translated from poetic verse are indented.</p>
        <p>Words inserted in the text to clarify incomplete or difficult phrasing appear in italics.</p>
        <p>A superscript number after a problematic word or phrase in the text,<sup>a</sup> or two identical superscript letters, <sup>b</sup>one before and one after,<sup>b</sup> indicate a footnote.</p>
        <p>Footnotes are marked numerically and identify a verse by its number.</p>
        <p>Abbreviations in footnotes include:</p>
        <ul>
            <li>MT—The Hebrew Masoretic Text from which the new translation was made.</li>
            <li>1QIsaa—The complete Dead Sea scroll of Isaiah of St. Mark’s Monastery.</li>
            <li>LXX—The Greek Septuagint Version of the Old Testament.</li>
        </ul>
        <p>Words or phrases relocated in the text are offset by brackets [....] and indicated by footnotes.<sup>a</sup></p>
        <p>Verses relocated in the text are indicated by footnotes.<sup>a</sup></p>
        <p>Many words contain links to the concordance. Click on a word to see a list of all the places it is used.</p>
        <p>Metaphorical key words that function as pseudonyms of Jehovah, his servant, or the king of Assyria/Babylon appear in bold.</p>
    </div> <!-- End One Col Padding -->
</main>
{{> asides.resource-index}}