<main id="content" class="sub col-xs-12 col-sm-8 left-column" style="padding-top: 0;" role="main">
<div class="page">
<h1>Key Features of the Prophecy of Isaiah</h1>
<p>Basic concepts of the prophecy of Isaiah clear up much of the mystery surrounding this ancient text. They are brought to light when applying different modalities of literary analysis—structural, typological, and rhetorical—each of which offers its own unique insights and data.</p>

<hr>

<h2>1. Isaiah&rsquo;s Prophecy Relates to Two Time Frames Simultaneously</h2>
<p>The head of the rabbinic school where I studied in Jerusalem taught that Isaiah&rsquo;s writings apply to two different time frames simultaneously: (1) Isaiah&rsquo;s day; and (2) “the last days” or “end-time” (<i>‘aharit hayyamim</i>). When I asked how he knew this he said he had no proof but that it was Jewish tradition. Years later, during my Ph.D. program, I discovered the proof in the holistic literary structures of the Book of Isaiah. These entirely change the rules for interpreting the book. <i>Linear</i> <i>structures</i> map out cycles of events covering many centuries of time, starting in Isaiah&rsquo;s day. Additionally—layered over them—are <i>synchronous</i> <i>structures</i>. They view the entire Book of Isaiah as a single scenario. And the time frame of that scenario is indeed the last days or end-time.</p>
<p>That means we must readjust our thinking about the Book of Isaiah to know how its message relates to the end-time. Like John, Isaiah saw the end of the world in a vision. His synchronous literary structures transform his book into an <i>apocalyptic </i>prophecy. But because it is grounded in history—in the events of his day and soon thereafter—the question is, How do those ancient nations relate to the end-time? Do their names apply to the last days even when those nations no longer exist? The answer is that in an end-time context the ancient names function as <i>codenames</i>. That doesn&rsquo;t mean, however, that we should confuse them with nations that have the same names today, or that we should limit Isaiah&rsquo;s prophecy to the geography of Middle East.</p>
<p>In fact, the key to figuring out Isaiah&rsquo;s codenames is simple. Match Isaiah&rsquo;s descriptions of the nations that existed in his day with ones that exist in the world today. Egypt, for example, was the great superpower of Isaiah&rsquo;s day. Nevertheless at that time Egypt was spiraling into a spiritual, economic, and political downturn. Prior to that, Egypt had been a defense against the other great superpower—Assyria. Assyria was a militaristic nation from the North that sought to conquer the then-known world. Indeed, it eventually succeeded in doing so. Isaiah, therefore, uses Assyria&rsquo;s destruction of the ancient world as an allegory of an end-time destruction. What happened in the past will happen again, only this time it will be with a new “Assyria” and a new “Egypt.”</p>
<p>The same holds true for other nations and persons that play end-time roles. How Isaiah <i>characterizes</i> them tells us who they are. Just as a new “Assyria” and “Egypt” appear as two opposing political entities, so a new “Babylon” and “Zion” appear as two opposing spiritual entities. Isaiah defines Babylon structurally as both a people and place: a world ripening in wickedness and its corrupt inhabitants. These, God destroys as he did Sodom and Gomorrah. Isaiah defines Zion, too, as both a people and place: those who repent of doing evil and who return from exile in an end-time exodus to Zion. By means of such literary definitions Isaiah accounts for all peoples in the world. It would thus be a mistake to assume his writings refer mostly to Jews.</p>

<h2>2. Isaiah&rsquo;s Covenant Theology Parallels Emperor–Vassal Treaties</h2>
<p>We may be tempted to think of the Hebrew prophets as innovators of ideas comparable, say, to the Greek philosophers of antiquity. The prophets, however, didn&rsquo;t try to figure out life by their powers of reasoning, although they taught many eminently reasonable ideas. Rather, they established a spiritual heritage based on revelations from God, Creator of the heavens and the earth. Upon that foundation they built and expanded their understanding of God, of humanity, and of eternity. Still, a seeming exception to these divine origins is the ancient Near Eastern emperor–vassal paradigm the prophets use to define God&rsquo;s relationship with his people. Because the emperor–vassal model is central to Israel&rsquo;s covenant theology, could it too have originated with God?</p>
<p>Emperor–vassal relationships of the ancient Near East consisted of an emperor appointing a vassal or vassals to rule under his jurisdiction in his empire. The emperor assigned each vassal a part of his empire over which to rule as king. Comprised of a city-state with adjoining towns and villages, this “promised land” became the vassal&rsquo;s by virtue of his treaty or covenant with the emperor. The covenant was conditional, however, on whether the vassal remained loyal to the emperor and didn&rsquo;t change his allegiance to another emperor. In treaty language, the vassal was said to “love” the emperor if he kept his commandments or the terms of the covenant. Blessings or curses followed the vassal&rsquo;s obedience or disobedience, respectively, to the covenant&rsquo;s terms.</p>
<p>As a “king of kings” and “lord of lords,” the emperor protected the vassal by rallying his hosts in defense of a loyal vassal who faced a mortal threat. Called the “common enemy” of the emperor and the vassal, anyone threatening the vassal with death would be annihilated. Over time, when a vassal proved loyal to the emperor under all conditions, the emperor legally adopted him as his “son.” At that point, the relationship between emperor and vassal changed from a “lord–servant” to a “father–son” relationship. Before that, the vassal&rsquo;s covenant with the emperor had been <i>conditional</i>—it had depended on whether the vassal remained loyal to the emperor. Now, the covenant became <i>unconditional</i> or “forever” and the blessed heritage of his posterity.</p>
<p>The emperor protected the people of the vassal when the vassal kept law of the emperor and the vassal&rsquo;s people kept the law of the vassal. That was the idea behind Israel&rsquo;s elders asking for a king when Israel faced grave peril at the hands of the Philistines. God&rsquo;s covenant with King David, which followed, functioned primarily as a means for obtaining God&rsquo;s protection. Under its terms, the king became God&rsquo;s vassal and God became Israel&rsquo;s emperor. We see the protection clause of the Davidic Covenant operating in the Book of Isaiah when King Hezekiah and his people face a mortal threat by an invading Assyrian army of 185,000 men. When Hezekiah keeps God&rsquo;s law and the people keep Hezekiah&rsquo;s law, the angel of God slays the Assyrian host in one night.</p>

<h2>3. Isaiah Uses Historical Precedents as <i>Types</i> of Things to Come</h2>
<p>Have you wondered whether the Hebrew prophets wrote down revelations precisely as God gave them, or whether they added their own thoughts and ideas? Isaiah, for example, was a literary genius as well as an inspired prophet of God. His writings exhibit many layered literary devices. These mechanics of prophesying show an amazing deliberation in how he organized his revelations. As their intent was to communicate the most truth in as few words as possible, Isaiah used all literary forms of the ancient Near East, adapting them for his own prophetic purpose. Although he built on the foundation of previous prophets, he exceeded those before and after. Some say there lived more than one “Isaiah.” However, his book&rsquo;s layered literary features refute that.</p>
<p>One literary technique Isaiah uses is to predict end-time events that resemble ancient events. In fact, Isaiah limits himself to that method of prophesying. In that way, his predictions stay grounded in the Hebrew prophetic tradition and always appear familiar. In practice, it means that whatever set a precedent in the past may qualify as a <i>type</i> or pattern of the future. Upon such types Isaiah builds his predictions. When he mentions an ancient person or nation by name, for example, that person or nation set a precedent that typifies something in the end-time. We say history repeats itself. But because not everything that happened in the past follows this pattern, Isaiah uses history selectively, depending on whether he knows something similar is going to occur again.</p>
<p>More than thirty new versions of ancient events appear in Isaiah&rsquo;s writings, repeating every <i>major</i> event in Israel&rsquo;s history. Although Isaiah disperses their predictions throughout his book, he interconnects them like dominos. One passage, for example, may contain a combination of several events while another will use a different combination. In the end, all are accounted for—a new chaos, creation, paradise, Sodom-and-Gomorrah destruction, bondage, passover, exodus, wandering in the wilderness, conquest of the land, inheritance of the land, rebuilding of the temple, and so forth. Although all these events re-occur, their order differs as the world relives Israel&rsquo;s history in one grand end-time scenario. Indeed, that very scenario is what defines the “end-time.”</p>
<p>This repetition of history as Isaiah predicts it involves all of humanity. But it isn&rsquo;t Isaiah&rsquo;s scenario. Unlike human prognosticators—who have little or no idea of what lies ahead—Israel&rsquo;s God foretells “the end from the beginning” (Isaiah 46:10). He orchestrates human history in such a way that the end is contained <i>in</i> the beginning. The former events he brought to pass, in other words, foreshadow end-time events. That capability, says Israel&rsquo;s God, proves his divinity. When those ancient events re-occur, people will have no further excuse for not minding Isaiah&rsquo;s warning. In fact, a reassuring thing about prior persons and events typifying future ones is that they help discern counterfeits—things that aren&rsquo;t of God, that deviate from the patterns of the past.</p>

<h2>4. Isaiah&rsquo;s Characterization of People Reveals Seven Spiritual Levels</h2>
<p>Would it surprise you to know that people who appear in Isaiah&rsquo;s writings aren&rsquo;t simply incidental to the story? Although Isaiah portrays real people who lived in his day, these also typify people who perform similar, end-time roles. In addition, they exemplify different spiritual categories. We observe, for example, that at times Isaiah uses the paired names “Jacob” and “Israel” to refer to God&rsquo;s covenant people, while at other times he uses the paired names “Zion” and “Jerusalem.” What is the difference? Look closer and you will discover that the names Jacob and Israel depict a materialistic category of God&rsquo;s people. Their idolatry makes them spiritually blind. They need waking up or they won&rsquo;t survive God&rsquo;s Day of Judgment that is coming upon the world.</p>
<p>In fact, people in the Jacob/Israel category are liable to descend even lower—to Babylon, a category of oppressors and evildoers. Others ascend to Zion/Jerusalem, a category of people who repent of evil, who prove faithful when God tests their loyalties. As they do so, God forgives their sins and acknowledges them as his covenant people. Isaiah further tells what happens in the end when the world polarizes into two camps. In God&rsquo;s Day of Judgment, all who belong to the Babylon category perish from the earth. God delivers only Zion/Jerusalem and levels higher. Caught in between, the Jacob/Israel category disappears as all middle ground vanishes. People on that level face the choice of either ascending to Zion/Jerusalem or descending to Babylon.</p>
<p>Categories higher than Zion/Jerusalem include God&rsquo;s “servants” and “sons.” By serving God in individual covenant relationships, some in the Zion/Jerusalem category ascend to the next spiritual level. An entire category of servants and sons, for example, emerges as a result of the mission of God&rsquo;s end-time servant who prepares the way for Jehovah&rsquo;s coming to reign on the earth. As a temporal savior, the servant delivers them in a new exodus from among all nations to Zion—just as Moses delivered Israel out of Egypt to the Promised Land. God&rsquo;s servants and sons ascend from having a <i>conditional</i> covenant relationship with Israel&rsquo;s God, their emperor. As they prove loyal under all conditions, their covenants turn <i>unconditional</i> and they become his elect.</p>
<p>Still, things don&rsquo;t end there. Above sons/servants are seraphs/saviors, who act as angelic emissaries. And above them is Jehovah, the God of Israel and King of Zion. Isaiah depicts each ascent on this spiritual ladder as a rebirth or re-creation of the person who ascends. Each ascent involves the candidate&rsquo;s receiving a new name and an appointment to a higher spiritual ministry. With each ascent, a candidate keeps a higher law relating to a higher covenant. Each ascent, moreover, involves a temporary descent. That occurs when God tests the loyalties of the candidate through a series of trials of increasing intensity. Such trials often come at the hands of descending categories of people. The lowest equates with Perdition, people who devise and orchestrate evil.</p>

<h2>5. Isaiah Presents Two Different Kinds of Messianic Prophecies</h2>
<p>Many people assume that all messianic prophecies are equal. However, that isn&rsquo;t the case. There are important differences. Why do we suppose Jews and Christians don&rsquo;t see eye to eye on the matter of a Messiah? The Jews know their scriptures well. Messianic prophecies originated with them. Their brightest minds and most devoted scholars have diligently analyzed the writings of the prophets and transmitted them faithfully down the generations. Christians, on the other hand, who are identified with the Gentiles, didn&rsquo;t produce these prophecies. Yet Christians often act as if believing in Jesus as their Messiah is all that matters—as if that gives them the right to expropriate the Jewish scriptures and teach as gospel whatever interpretation suits them in the moment.</p>
<p>Look closer and you will find that Isaiah speaks of two separate individuals and of two distinct messianic roles. One is temporal, the other spiritual. Note also the <i>context</i> in which a prophecy appears. Taking things out of context is another thing Gentiles do. Let us say God is speaking about his “servant” in one instance and about his “son” in another. And yet, the context in each case is Israel&rsquo;s end-time restoration, an event that is <i>temporal</i> in nature. In that case, God isn&rsquo;t speaking about two different persons but just one. Especially as the terms “servant” and “son” together, not separately, define a vassal&rsquo;s relationship to his overlord. As with Moses, moreover, God doesn&rsquo;t call multiple prophets to guide and direct his people all at the same time but just one.</p>
<p>Let us also say we discover that Isaiah prophesies profusely about Israel&rsquo;s end-time restoration, in which God&rsquo;s servant and son releases people from bondage, unites Israel&rsquo;s tribes, conquers enemies, and so forth. But because Isaiah limits himself to using <i>types</i> from the past to predict the end-time, where would he find the type of just one person in the past doing all those things? None exists. In that case, Isaiah creates <i>composites</i> of types, in which a single end-time leader accomplishes what several leaders did in the past. When restoring God&rsquo;s people, moreover, God&rsquo;s servant and son not only does what they did, he also exemplifies their character traits. That is why Isaiah depicts him as a composite of Abraham, Moses, Joshua, David, Hezekiah, and Cyrus.</p>
<p>You may suppose that Cyrus&rsquo; mention by name doesn&rsquo;t fit that pattern. But look closer and observe that Isaiah&rsquo;s “Cyrus” was never a purely historical person but is itself a <i>composite</i> figure. It combines the types of Cyrus and Moses in one instance (Isaiah 44:27–28) and of Cyrus and David in another (Isaiah 45:1). In fact, only in Isaiah 53:1–10—in which God is <i>not</i> speaking of his servant and son—do we find a prophecy of a <i>spiritual</i> Messiah. Unlike God&rsquo;s servant and son who prepares a people for Jehovah&rsquo;s coming to reign on the earth, the figure Isaiah depicts in Isaiah 53:1–10 is Jehovah himself. A literary structure that juxtaposes the King of Babylon in Isaiah 14 with the King of Zion in Isaiah 52–53 identifies him as Israel&rsquo;s God, the King of Zion.</p>

<h2>6. Isaiah Uses Metaphors as Aliases of Important End-Time Persons</h2>
<p>I sat spellbound as a rabbi taught that the clean animals Isaiah mentions allude to God&rsquo;s people Israel and the unclean to Gentiles. This gave new meaning to the ox and the ass and the millennial idea of harmony between the lamb and the lion. Although I don&rsquo;t recall much of what the rabbi taught, he planted a seed that bore good fruit. Later, I discovered a network of synonymous parallel lines in the Book of Isaiah that figuratively depict one thing to mean another. A single verse could have multiple meanings: <i>trees</i> could represent people, <i>forests</i> represent cities, <i>mountains</i> represent nations, and so forth. Key end-time persons, I found, personified God&rsquo;s attributes, such as <i>righteousness</i> and <i>light</i>, on the one hand, and <i>anger</i> and <i>wrath</i>, on the other.</p>
<p>But why would Isaiah resort to such indirect ways of speaking? First, when predicting the end-time Isaiah confines himself to using precedents from the past as <i>types</i>. Where no such types exist, therefore, he must find other ways to say what he wants. Second, Isaiah doesn&rsquo;t spell out everything. Only persons who deeply search his words and believe them will get his meaning. Third, his often seemingly incoherent writings protect them and those who understand them from prejudiced casual readers. Still, the method Isaiah uses limits him. Where will he find types from the past for what occurs in the end-time in instances where nothing like it happened before? Isaiah overcomes that obstacle by turning to metaphors—terms that function as pseudonyms or aliases.</p>
<p>Isaiah knows that God&rsquo;s people have never before returned out of bondage from the four parts of the earth. Nor have they overthrown a world superpower like Assyria. Isaiah can predict those very things, however, within the context of Israel&rsquo;s past. He has seen, for example, that events before Jehovah&rsquo;s coming will involve two principal human actors: (1) a tyrannical king of Assyria—a destroyer; and (2) God&rsquo;s servant and son—a deliverer. Whenever necessary, therefore, Isaiah can refer to these persons by means of aliases. Terms such as <i>ensign</i>, <i>hand</i>, <i>rod</i>, <i>staff</i>, <i>mouth</i>, <i>voice</i>, <i>fire</i>, and <i>sword</i> designate either individual, depending on the context. Each personifies those things. Terms such as <i>light</i> and <i>darkness</i>, on the other hand, set these two opponents apart.</p>
<p>Ancient Near Eastern mythology provides an additional source that Isaiah draws on. In the Ugaritic myth of Baal and Anath, for example, the terms <i>Sea</i> and <i>River</i> describe a god of chaos, an enemy Baal must conquer. These terms, therefore, suit Isaiah&rsquo;s purpose as aliases of the king of Assyria. God&rsquo;s raising his <i>staff</i> over the <i>Sea</i> and his <i>hand</i> over the <i>River</i>, for example, signifies a victory by God&rsquo;s end-time servant and son (his <i>staff</i> and <i>hand</i>) over the king Assyria (<i>Sea/River</i>). Personifying God&rsquo;s <i>anger</i> and <i>wrath</i>, this evil ruler acts as a <i>rod</i> and <i>staff</i> to punish the wicked. In the end, however, God&rsquo;s servant and son—his righteous <i>rod</i> and <i>staff</i>—breaks him. The key to these identities appears in the paralleled lines that establish these terms&rsquo; dual meanings.</p>

<h2>7. Isaiah&rsquo;s End-Time Scenario Resembles an Archetypal Fairytale</h2>
<p>You may wonder what Isaiah&rsquo;s writings and fairytales have in common. The answer is, Nearly everything. Their common goal is that the bride and groom will live happily ever after in a heavenly palace that is also earthly. To get there, however, the hero and heroine must pass through hazards. They must learn to follow the higher wisdom that is offered them, not their own. They must trust that if they do so then at some point their fortunes will be reversed. The hard times that befell them, the abuses and reproach they suffered to assuage others&rsquo; guilt—all will then appear for what it was: an experience necessary for them to attain their goal. Without it, they couldn&rsquo;t have reached it. Indeed, looking back at their lives, they wouldn&rsquo;t want to change anything.</p>
<p>As in fairytales, the path to a glorious eternal life may also be a trail of tears. A seven-part structure of the Book of Isaiah demonstrates this. Its seven pairs of opposite themes show the way everlasting happiness is attained: ruin may come before rebirth, suffering before salvation, humiliation before exaltation, disinheritance before inheritance, and so forth. And not just once but cyclically each time a person ascends to a higher spiritual plane. All depends on whether a candidate yields to a higher power, on whether he or she follows divine counsel in the midst of a temporary descent. If so, the result will indeed be endless joy in a heavenly place for the bride and groom. As in fairytales, however, not all are willing to pay the price, even for that glorious end.</p>
<p>In Isaiah&rsquo;s end-time scenario, the Virgin Daughter of Zion is the heroine of the story. She represents those who repent of evil and prove loyal to Israel&rsquo;s God under all conditions. She marries Jehovah, her bridegroom, by an “everlasting covenant” at the time he comes to reign on the earth. As King of Zion, he attains his glory by following the same pattern he establishes for his people. When paying the price of redeeming his bride, he too experienced ruin, suffering, humiliation, disinheritance, and so forth. Because his ascent to glory is greater than all, however, his temporary descent is greater also. Like Jehovah, moreover, certain servants and sons of God also wed the Virgin Zion. Suffering in the similitude of their Redeemer, they likewise attain endless joy.</p>
<p>Opposing God&rsquo;s servants and sons is the tyrannical king of Assyria, an end-time Antichrist. He resembles the ogre or giant who plays the villain in fairytales. The Harlot Babylon, on the other hand—who matches the witch or wicked stepmother—oppresses the Virgin Zion. To the rescue come angelic emissaries, the equivalent of fairy godfathers and godmothers. Their divine powers help turn the tide of evil. In the end, a polarization of peoples occurs in the world. A majority of humanity—the equivalent of ugly stepsisters—takes sides against the Virgin Zion. All who hate her, however, are doomed to perish. Only those who love her inherit the earth when it gains its paradisiacal glory. Only they live happily ever after during the earth&rsquo;s millennial age of peace.</p>
    {{> widgets.resources}}
</div>
</main>
<!--{\{> asides.resource-index}}-->
{{> asides.bible}}