<div class="nav-links-light">
    <ul>
        <li><a id="nav-links-light-verse-left" class="btn btn-default fa fa-angle-left" href=""></a></li>
        <li><a id="nav-links-light-verse-right" class="btn btn-default fa fa-angle-right" href=""></a></li>
    </ul>
</div>