<header class="navbar navbar-static-top" role="navigation">
    <nav class="container main-nav">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{app_url}}/"><img src="{{app_url}}/images/isaiah-explained-logo.png" alt="IsaiahExplained.com"></a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav">
                <li><a href="{{app_url}}/"><i class="fa fa-home fa-fw"></i> Back to Home</a></li>
                <li><a href="{{app_url}}/"><i class="fa fa-book fa-fw"></i> Chapter Index</a></li>
                <li><a href="{{app_url}}/concordance/"><i class="fa fa-list fa-fw"></i> Concordance Index</a></li>
                <li class="show-hide nav-search">
                    {{> widgets.search-iit}}
                </li>
            </ul>
        </div><!-- End nav-collapse -->
    </nav><!-- End Container -->
</header>