<div id="widget_isaiahdecoded_small" class="widget aside-underline">
    <form class="isaiah-ad" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="BEPD4PPQRRLPS">
        <input type="image" src="/images/isaiah-decoded-800x120.jpg" width="100%" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    </form>
</div>