<div id="widget_audio" class="widget">
    <h2>Isaiah {{chapter_number}} Analytical Commentary</h2>
    <audio controls="controls" preload="none">
        <source src="{{app_url}}/media/commentary/Isaiah{{chapter_number}}.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
</div>