<div id="widget_audio" class="widget">
    <h2>Isaiah 1 Analytical Commentary</h2>
    <audio controls="controls" preload="none">
        <!--<source src="/media/commentary/Isaiah1.ogg" type="audio/ogg">-->
        <source src="/media/commentary/Isaiah1.mp3" type="audio/mpeg">
        <!--<source src="/mp3/commentary/Isaiah1.ogg" type="audio/ogg">
        <source src="/mp3/commentary/Isaiah1.mp3" type="audio/mpeg">-->
        Your browser does not support the audio element.
    </audio>
</div>