<div id="widget_books" class="widget">
    <h2>Other Books</h2>
    <ul>
        <li><img src="/images/book-sm-literary.jpg"><a title="The Literary Message of Isaiah" href="">The Literary Message of Isaiah</a><span>A ground-breaking literary approach to analyzing Isaiah’s writings for Judeo-Christian readers.</span></li>
        <li><img src="/images/book-sm-decoded.jpg"><a title="Isaiah Decoded" href="">Isaiah Decoded</a><span>A comprehensive overview of Isaiah’s prophetic message for Judeo-Christian readers.</span></li>
        <li><img src="/images/book-sm-end.jpg"><a title="The End from the Beginning" href="">The End from the Beginning</a><span>A layman’s introduction to Isaiah’s prophetic message for Judeo-Christian readers.</span></li>
        <li><img src="/images/book-sm-commentary.jpg"><a title="Apocalyptic Commentary of the Book of Isaiah" href="">Apocalyptic Commentary of the Book of Isaiah</a><span>Apocalyptic Commentary of the Book of Isaiah (Hebraeus Press, 2013). A verse-by-verse analysis of Isaiah’s end-time prophecy for Judeo-Christian readers.</span></li>
        <li><img src="/images/book-sm-windows.jpg"><a title="Windows on the Prophecy of Isaiah" href="">Windows on the Prophecy of Isaiah</a><span>Many examples of analyzing or “searching” Isaiah’s words and the tools needed to do one’s own investigation for Judeo-Christian readers.</span></li>
    </ul>
</div>