<div id="widget_books" class="widget">
    <h2>Books, eBooks, and MP3s</h2>
    <ul>
        <li><img src="{{app_url}}/images/book-sm-windows.jpg"><h3>Windows on the Prophecy of Isaiah</h3><span>Many examples of analyzing or “searching” Isaiah's words and the tools needed to do one's own investigation for Judeo-Christian readers. <span><a href="https://squareup.com/market/hebraeuspress/new-windows-on-the-prophecy-of-isaiah-study-tools-for-understanding-isaiah-by-avraham-gileadi" target="_blank">Book</a><div>|</div><a href="https://squareup.com/market/hebraeuspress/apocalyptic-commentary-of-the-book-of-isaiah-by-avraham-gileadi-1" target="_blank">eBook</a></span></span></li>
        <li><img src="{{app_url}}/images/book-sm-decoded.jpg"><h3>Isaiah Decoded</h3><span>A comprehensive overview of Isaiah's prophetic message for Judeo-Christian readers.<span><a href="https://squareup.com/market/hebraeuspress/isaiah-decoded-ascending-the-ladder-to-heaven-by-avraham-gileadi-softcover" target="_blank">Book</a><div>|</div><a href="https://squareup.com/market/hebraeuspress/isaiah-decoded-ascending-the-ladder-to-heaven-by-avraham-gileadi" target="_blank">eBook</a></span></span></li>
        <li><img src="{{app_url}}/images/book-sm-commentary.jpg"><h3>Apocalyptic Commentary of the Book of Isaiah</h3><span>A verse-by-verse analysis of Isaiah's end-time prophecy for Judeo-Christian readers. <span><a href="https://squareup.com/market/hebraeuspress/apocalyptic-commentary-of-the-book-of-isaiah-by-avraham-gileadi" target="_blank">Book</a><div>|</div><a href="https://squareup.com/market/hebraeuspress/apocalyptic-commentary-of-the-book-of-isaiah-by-avraham-gileadi-1" target="_blank">eBook</a></span></span></li>
        <li><img src="{{app_url}}/images/book-sm-analytical.jpg"><h3>The Book of Isaiah: Analytical Translation with Comprehensive Concordance</h3><span>A beautiful modern English translation with concordance for facilitating word studies.<span><a href="https://squareup.com/market/hebraeuspress/the-book-of-isaiah-analytical-translation-with-comprehensive-concordance-by-avraham-gileadi" target="_blank">Book</a></li>
        <li><img src="{{app_url}}/images/book-sm-literary.jpg"><h3>The Literary Message of Isaiah</h3><span>A ground-breaking literary approach to analyzing Isaiah's writings for Judeo-Christian readers. <span><a href="https://squareup.com/market/hebraeuspress/the-literary-message-of-isaiah-by-avraham-gileadi" target="_blank">Book</a><div>|</div><a href="https://squareup.com/market/hebraeuspress/the-literary-message-of-isaiah-by-avraham-gileadi-1" target="_blank">eBook</a></span></span></li>
        <li><img src="{{app_url}}/images/book-sm-end.jpg"><h3>The End from the Beginning</h3><span>A layman's introduction to Isaiah's prophetic message for Judeo-Christian readers. <span><a href="https://squareup.com/market/hebraeuspress/the-end-from-the-beginning-the-apocalypic-vison-of-isaiah-by-avraham-gileadi" target="_blank">Book</a><div>|</div><a href="https://squareup.com/market/hebraeuspress/studies-in-the-book-of-mormon-by-avaham-gileadi" target="_blank">eBook</a></span></span></li>
        <!--<li><img src="{{!--app_url--}}/images/book-isaiah.jpg"><h3>The Book of Isaiah </h3><span>This is an e-book of the new translation of Isaiah by Dr. Avraham Gileadi. <span><a href="https://squareup.com/market/hebraeuspress/the-book-of-isaiah-new-translation-by-avraham-gileadi" target="_blank">eBook</a></span></span></li>-->
        <li><img src="{{app_url}}/images/book-analytical-commentary-mp3.jpg"><h3>Analytical Commentary of Isaiah </h3><span>The best single companion available for Judeo-Christian listeners desiring to know Isaiah's prophetic message for our day. <span><a href="https://squareup.com/market/hebraeuspress/analytical-commentary-of-isaiah-audio-disc-mp-by-avraham-gileadi" target="_blank">mp3</a></span></span></li>
    </ul>
</div>