<div id="widget_books" class="widget">
    <h2>Books, E-Books, and MP3s</h2>
    <ul>
        <li><img src="/images/book-sm-literary.jpg"><a title="The Literary Message of Isaiah" href="https://squareup.com/market/hebraeuspress/the-literary-message-of-isaiah-by-avraham-gileadi">The Literary Message of Isaiah</a><span>A ground-breaking literary approach to analyzing Isaiah’s writings for Judeo-Christian readers.</span></li>
        <li><img src="/images/book-sm-decoded.jpg"><a title="Isaiah Decoded" href="https://squareup.com/market/hebraeuspress/isaiah-decoded-ascending-the-ladder-to-heaven-by-avraham-gileadi-softcover">Isaiah Decoded</a><span>A comprehensive overview of Isaiah’s prophetic message for Judeo-Christian readers.</span></li>
        <li><img src="/images/book-sm-end.jpg"><a title="The End from the Beginning" href="https://squareup.com/market/hebraeuspress/the-end-from-the-beginning-the-apocalypic-vison-of-isaiah-by-avraham-gileadi">The End from the Beginning</a><span>A layman’s introduction to Isaiah’s prophetic message for Judeo-Christian readers.</span></li>
        <li><img src="/images/book-sm-commentary.jpg"><a title="Apocalyptic Commentary of the Book of Isaiah" href="https://squareup.com/market/hebraeuspress/apocalyptic-commentary-of-the-book-of-isaiah-by-avraham-gileadi">Apocalyptic Commentary of the Book of Isaiah</a><span>A verse-by-verse analysis of Isaiah’s end-time prophecy for Judeo-Christian readers.</span></li>
        <li><img src="/images/book-sm-windows.jpg"><a title="Windows on the Prophecy of Isaiah" href="https://squareup.com/market/hebraeuspress/new-windows-on-the-prophecy-of-isaiah-study-tools-for-understanding-isaiah-by-avraham-gileadi">Windows on the Prophecy of Isaiah</a><span>Many examples of analyzing or “searching” Isaiah’s words and the tools needed to do one’s own investigation for Judeo-Christian readers.</span></li>
    </ul>
</div>