<ul class="chapter-selection">
    {{#chapters}}
    <li><a class="btn {{button_class}} btn-chapter-sel" href="{{app_url}}/{{selection_number}}#concordance">{{selection_number}}</a></li>
    {{/chapters}}
</ul>