<ul class="chapter-selection">
    {{#chapters}}
        <li><a class="btn {{button_class}} btn-chapter-sel" href="/bible/{{book_abbr}}/{{selection_number}}">{{selection_number}}</a></li>
    {{/chapters}}
</ul>