<ul class="chapter-selection cs-top non-mobile">
    {{#chapters}}
    <li><a class="btn {{button_class}} btn-chapter-sel" href="/{{selection_number}}">{{selection_number}}</a></li>
    {{/chapters}}
</ul>