<form class="navbar-form navbar-left" role="search">
    <div class="input-group index-search col-sm-3 pull-right non-mobile">
            <input name="search-box" type="text" class="form-control search-field" placeholder="Search the Concordance">
            <span class="input-group-btn">
                <button class="btn btn-warning" type="submit"><i class="fa fa-search"></i></button>
            </span>
            <span id="search-error"></span>

    </div><!-- /Search -->
</form>