<form role="search">
    <div class="input-group">
        <input name="search-box" type="text" class="form-control search-field" placeholder="Search Isaiah"  value="{{search_term}}">
        <span class="input-group-btn">
            <button class="btn btn-warning" type="submit"><i class="fa fa-search"></i></button>
        </span>
        <span id="search-error"></span>
    </div><!-- /Search -->
</form>