<h1 class="title-chapters"><a href="{{app_url}}/"><i class="fa fa-book"></i></a><i class="fa fa-angle-right"></i><a href="#chaptermodal" class="modal-trigger" data-toggle="modal">Isaiah {{chapter_number}}</a></h1>