<div id="widget_testimonials" class="widget aside-underline">
    <h2>Testimonials</h2>
    <p><a class="btn btn-warning" href="{{app_url}}/testimonials">Share your testimonial with others</a></p>
</div>