<div class="row home-testimonials">

    <hr>

    <h2>Testimonials</h2>

    <p>“Dr. Gileadi’s work will render obsolete almost all the speculations of Isaiah scholars over the last one hundred years, enabling scholarship to proceed along an entirely new line, opening new avenues of approach for others to follow”—Professor Roland K. Harrison, Wycliffe College, Toronto, Canada.</p>

    <p>“Only one who is truly at home not only with the Hebrew but with the ancient manner of biblical thought could have produced such an insightful and ground-breaking book”—Professor S. Douglas Waterhouse, Andrews University, Berrien Springs, Michigan.</p>

    <p>“Dr. Gileadi has achieved a major breakthrough in the investigation of a book of such complexity and importance as the Book of Isaiah”—Professor David Noel Freedman, University of Michigan, Ann Arbor, Michigan.</p>

    <p>“Dr. Gileadi has clearly demonstrated his mastery of the Book of Isaiah and of the scholarly literature dealing with it”—Professor Ronald Youngblood, Bethel Theological Seminary, San Diego, California.</p>

    <p>“Dr. Gileadi is the only LDS scholar I know of who is thoroughly competent to teach the words of Isaiah”—Professor Hugh Nibley, Brigham Young University, Provo, Utah. (1. 6. 2003)</p>

    <p>“Dr. Gileadi’s translation [of the Book of Isaiah] is clear and smooth, allowing the reader to appreciate the power and beauty of Isaiah as conveyed in the Hebrew original”—Professor Herbert M. Wolf, Wheaton College, Wheaton, Illinois.</p>

    <p>“Dr. Gileadi has produced a translation of the Book of Isaiah which is modern in its linguistic approach, but which also preserves all the values of more traditional renderings. This constitutes an advance upon other modern translations”—Professor R. K. Harrison, Editor-in-Chief, New King James Version.</p>

    <p>“Isaiah Decoded is a huge breakthrough for the seeker of truth. Gileadi has brought to light eternal truths about the nature of God and our relationship to him that have lain buried for centuries in the dust of time”—Guy Wins, fifth-generation Jewish diamond dealer from Antwerp, Belgium.</p>

    <p>“Gileadi is the only scholar I know who has been able to express the Jewish expectation of the Messiah in relation to the life and mission of Jesus of Nazareth”—Daniel Rona, Israeli tour guide, Jerusalem, Israel.</p>

    <p>“Dr. Gileadi has awakened a whole new depth of my understanding of Isaiah’s prophetic message. His books and tapes illuminate the urgent relevance of Isaiah’s writings to our own day”—Becky Douglas, supervisor and sponsor of three orphanages in India, Atlanta, Georgia.</p>

    <p>“Gileadi has uncovered an amazing message written in a divine code by the prophet–poet Isaiah. This will give comfort, hope, and joy to masses of people as they cope with the perplexing events now unfolding before their eyes”—Fenton Tobler, thirty years school principal, Las Vegas, Nevada.</p>

    <p>“What power of understanding Dr. Gileadi has brought through the Book of Isaiah! He is surely to Isaiah and the end-time as Isaac Newton was to science and the Age of Enlightenment”—Kaye Bullock, midwife of over 2,000 home births, Tucson, Arizona.</p>

    <p>“Dr. Gileadi's understanding of the textual structure of Isaiah thoroughly explodes biblical minimalists' claim that the book was written by different authors over a long period of time”—Damon Casale, biblical researcher, Tampa, Florida.</p>

    <p>“Without a doubt one of the most influential writers of all time, Gileadi has awakened critical truths vital for navigating through these times. His research is a rare combination of scholarship and divine inspiration”—Jennifer Orten, editor, Chino Hills, California.</p>

    <p>“Avraham Gileadi has done for the Book of Isaiah what Stephen Hawking did for quantum physics. He has rolled back the ancient scroll to reveal a timeless message for all in modern times, Jew and Gentile”—Robert Kay, Utah Torah Education Society, Salt Lake City.</p>

    <p>“Dr. Gileadi's translation of Isaiah is alive with meaning. After reading many Isaiah commentaries and still feeling confused, I read Dr. Gileadi's books and the lights turned on”—David G. Young, Naturopathic Physician, Battle Ground, Washington.</p>

    <p>“Dr. Gileadi's research has become the benchmark by which all other works on Isaiah will be judged. His love of Isaiah shows a depth of understanding never before seen, creating in me and others the same love”—Charles Scott Grace, JD, Llm, DDS, Boise, Idaho.</p>

    <p>“Avraham Gileadi's interpretation of Isaiah unveils not only the Book of Isaiah but the whole scriptural canon, pointing us to a clearer understanding of the climactic events now unfolding as Israel's long awaited reconciliation approaches”—Clyde Daniel Mead, author, Cheyenne, Wyoming.</p>

    <p>“Dr. Gileadi has entirely changed my depth of vision, empowering my students and I with keys that unlock all scripture. What a joy to have a student jump out of his seat or look up with tear-filled eyes at a layered meaning of Isaiah!”—Rhonda Pickering, Christian School Administrator, Ocean View, Hawaii.</p>

    <p>"Feeling compelled to understand the “end time” from my youth, I searched dozens of commentaries for thirty years without finding a scholar whose ideas agree with the Canon. That ended when a friend suggested Gileadi’s works"—Eric Martineau, MBA, MS, Veracruz, México.</p>

    <p>“Avraham Gileadi's works on Isaiah serve as no other in teaching this book from its basic level all the way to the serious scholar. One can’t enter into Isaiah studies without contending with the concepts Gileadi brings to the forefront”—Tom Roberts, Ph.D., St. Elias Seminary, Purcellville, Virginia.</p>

    <p>"The Book of Isaiah has been to the world as a gift of tongues with no one to interpret it. Avraham Gileadi's research, decoding, and explanation of Isaiah unfolds its inspired message to the novice and scholar alike"—Robert M. Sorensen, Mechanical Technician, Friendsville, Pennsylvania.</p>

    <p>"Having read Dr. Avraham Gileadi's literary works on Isaiah, I have found that no others compare to his comprehensive analysis. My life has been profoundly affected by the expanded knowledge and understanding I have acquired"—Jacob Winsor, Financial Planner, Riverside, California.</p>

    <p>“Dr. Gileadi’s writings have awakened in me a true understanding of Isaiah's prophetic message for our time. I feel that his work can have a significant influence in helping us prepare for the catastrophic world events Isaiah foresaw”—Jonathan W. Adams, Director of Engineering, Waco, Texas.</p>

    <p>“Avraham Gileadi has made a great contribution to the world by helping people to understand Isaiah. He has opened up my eyes to Isaiah, and through Isaiah to all the prophets”—Larry S. Ferguson, Real Estate Agent, Hamilton, Missouri.</p>

    <p>"Dr. Gileadi’s expertise has at last made understanding the Book of Isaiah a reality. I have thoroughly enjoyed this process and recommend his publications to anyone searching for a clear understanding"—Carrie Whitmore, Executive Secretary, Bacova, Virginia.</p>

</div>