<div class="row home-testimonials">

    <hr>

    <h2>Testimonials</h2>

    <p>Dr. Gileadi&rsquo;s work will render obsolete almost all the speculations of Isaiah scholars over the last one hundred years, enabling scholarship to proceed along an entirely new line, opening new avenues of approach for others to follow&rdquo;&mdash;Professor Roland K. Harrison, Wycliffe College, Toronto, Canada.</p>

    <p>&ldquo;Only one who is truly at home not only with the Hebrew but with the ancient manner of biblical thought could have produced such an insightful and ground-breaking book&rdquo;&mdash;Professor S. Douglas Waterhouse, Andrews University, Berrien Springs, Michigan.</p>

    <p>&ldquo;Dr. Gileadi has achieved a major breakthrough in the investigation of a book of such complexity and importance as the Book of Isaiah&rdquo;&mdash;Professor David Noel Freedman, University of Michigan, Ann Arbor, Michigan.</p>

    <p>&ldquo;Dr. Gileadi has clearly demonstrated his mastery of the Book of Isaiah and of the scholarly literature dealing with it&rdquo;&mdash;Professor Ronald Youngblood, Bethel Theological Seminary, San Diego, California.</p>

    <p>&ldquo;Dr. Gileadi is the only LDS scholar I know of who is thoroughly competent to teach the words of Isaiah&rdquo;&mdash;Professor Hugh Nibley, Brigham Young University, Provo, Utah. (1. 6. 2003)</p>

    <p>&ldquo;Dr. Gileadi&rsquo;s translation [of the Book of Isaiah] is clear and smooth, allowing the reader to appreciate the power and beauty of Isaiah as conveyed in the Hebrew original&rdquo;&mdash;Professor Herbert M. Wolf, Wheaton College, Wheaton, Illinois.</p>

    <p>&ldquo;Dr. Gileadi has produced a translation of the Book of Isaiah which is modern in its linguistic approach, but which also preserves all the values of more traditional renderings. This constitutes an advance upon other modern translations&rdquo;&mdash;Professor R. K. Harrison, Editor-in-Chief, New King James Version.</p>

</div>