<!-- Start Alexa Certify Javascript -->

<script type="text/javascript">
    _atrk_opts = { atrk_acct:"J58Wf1a8n500M/", domain:"isaiahexplained.com",dynamic: true};
    (function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
</script>
<noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=J58Wf1a8n500M/" style="display:none" height="1" width="1" alt="" /></noscript>

<!-- End Alexa Certify Javascript -->

<!-- Begin OrangeSoda Tracking Code
-->
<script language="javascript" type="text/javascript">
    var trackCid = 94037;
    var trackTid = '';
</script>
<script type="text/javascript">
    var proto = (("https:" == document.location.protocol) ? "https://" : "http://");
    document.write(unescape("%3Cscript src='" + proto + "otracking.com/js/TrackingV2.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<!-- End OrangeSoda Tracking Code --><!-- Begin Google Tracking Code  -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-27395353-1', 'auto');
    ga('send', 'pageview');

</script>
<!-- End Google Tracking Code -->