<!-- Sidebar Widget -->
<div id="widget_vignettes" class="widget aside-underline">
    <h2>Isaiah Video Highlights</h2>
    <ul id="index-aside" class="tab-sections">
        <li><a href="#" title="Isaiah Video Highlight 1" data-toggle="modal" data-target="#highlight1"><i class="fa fa-youtube-play"></i> Isaiah Video Highlight 1</a></li>
        <li><a href="#" title="Isaiah Video Highlight 2" data-toggle="modal" data-target="#highlight2"><i class="fa fa-youtube-play"></i> Isaiah Video Highlight 2</a></li>
        <li><a href="#" title="Isaiah Video Highlight 3" data-toggle="modal" data-target="#highlight3"><i class="fa fa-youtube-play"></i> Isaiah Video Highlight 3</a></li>
        <li><a href="#" title="Isaiah Video Highlight 4" data-toggle="modal" data-target="#highlight4"><i class="fa fa-youtube-play"></i> Isaiah Video Highlight 4</a></li>
        <li><a href="#" title="Isaiah Video Highlight 5" data-toggle="modal" data-target="#highlight5"><i class="fa fa-youtube-play"></i> Isaiah Video Highlight 5</a></li>
        <li><a href="#" title="Isaiah Video Highlight 6" data-toggle="modal" data-target="#highlight6"><i class="fa fa-youtube-play"></i> Isaiah Video Highlight 6</a></li>
        <li><a href="#" title="Isaiah Video Highlight 7" data-toggle="modal" data-target="#highlight7"><i class="fa fa-youtube-play"></i> Isaiah Video Highlight 7</a></li>
    </ul>
</div>

<div id="widget_vignettes" class="widget aside-underline">
    <h2>Isaiah Video Vignettes</h2>
    <ul id="index-aside" class="tab-sections">
        <li><a href="#" title="Isaiah Video Vignette 1" data-toggle="modal" data-target="#vig1"><i class="fa fa-youtube-play"></i> Isaiah Video Vignette 1</a></li>
        <li><a href="#" title="Isaiah Video Vignette 2" data-toggle="modal" data-target="#vig2"><i class="fa fa-youtube-play"></i> Isaiah Video Vignette 2</a></li>
        <li><a href="#" title="Isaiah Video Vignette 3" data-toggle="modal" data-target="#vig3"><i class="fa fa-youtube-play"></i> Isaiah Video Vignette 3</a></li>
        <li><a href="#" title="Isaiah Video Vignette 4" data-toggle="modal" data-target="#vig4"><i class="fa fa-youtube-play"></i> Isaiah Video Vignette 4</a></li>
        <li><a href="#" title="Isaiah Video Vignette 5" data-toggle="modal" data-target="#vig5"><i class="fa fa-youtube-play"></i> Isaiah Video Vignette 5</a></li>
        <li><a href="#" title="Isaiah Video Vignette 6" data-toggle="modal" data-target="#vig6"><i class="fa fa-youtube-play"></i> Isaiah Video Vignette 6</a></li>
        <li><a href="#" title="Isaiah Video Vignette 7" data-toggle="modal" data-target="#vig7"><i class="fa fa-youtube-play"></i> Isaiah Video Vignette 7</a></li>
    </ul>
</div>