<!--<div id="widget_vignettes" class="widget">
    <h2>Isaiah Video Vignettes</h2>
    <ul id="index-aside" class="tab-sections">
        <li><a title="Isaiah Vignette 1" href="/resources/key-features-of-the-prophecy-of-isaiah/"><i class="fa fa-youtube-play"></i> Isaiah Vignette 1</a></li>
    </ul>
</div>-->

<!-- Sidebar Widget -->

<div id="widget_vignettes" class="widget">
    <h2>Isaiah Video Vignettes</h2>
    <ul id="index-aside" class="tab-sections">
        <li><a href="#" title="Isaiah Vignette 1" data-toggle="modal" data-target=".vig_1"><i class="fa fa-youtube-play"></i> Isaiah Vignette 1</a></li>
    </ul>
</div>