<div id="widget_webinar" class="widget aside-underline">
    <h2>Weekly Isaiah Webinar</h2>
    <p>Starting June 2015 for only $10 per month!</p>
    <a class="btn btn-warning" href="http://www.isaiahinstitute.com/p/webinars.html" target="_blank">Register Now!</a>
</div>