<div id="widget_webinar" class="widget">
    <h2>Weekly Webinar</h2>
    <p>Starting June 2015 for only $10 per month!</p>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="NLZR7URGXJL94">
        <input type="image" src="http://www.vectyr.com/dev/isaiah/subscribe.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
</div>