<main class="col-xs-12 col-sm-8 left-column" style="padding-top: 0;" role="main">
    <h1 class="title-chapters non-mobile">{{book_title}}</h1>
    <hr>
    <div class="row chapter-table">
        <ul>
            {{#book_chapters}}
                <li>
                    <a href="/bible/{{book_abbr}}/{{chapter_number}}">{{chapter_number}}</a>
                </li>
            {{/book_chapters}}
        </ul>
    </div>
</main>
{{> asides.chapter-index}}