<main class="col-xs-12 col-sm-8 left-column" style="padding-top: 0;" role="main">
    <h1 class="title-chapters non-mobile"><a href="/bible"><i class="fa fa-book"></i></a><i class="fa fa-angle-right"></i><a href="/bible/{{book_abbr}}">{{book_title}}</a> {{chapter_number}}</h1>
    <hr>
    <!--<div class="row chapter-table">-->
    <div class="one-col-padding scripture-text" id="scripture_area">
        {{#book_verses}}
            <p id="verse_{{verse_number}}">{{verse_number}} {{scripture_text}}</p>
        {{/book_verses}}
    </div>
</main>
{{> asides.chapter-index}}