<main class="col-xs-12 col-sm-8 left-column" role="main">

    <h4 class="mini-header">Apocalyptic Commentary</h4>

    <div class="chapter-heading"><i>King Ahaz' transgression of the terms of his covenant leads to a hostile world
            power gaining supremacy.</i></div>

    <hr>

    <div class="one-col-padding">

        <div class="commentary">
            <span class="prose"><span class="verse-number">1</span> When Ahaz son of Jotham, the son of Uzziah, was king of Judah, Rezin king of Aram and Pekah son of Remaliah king of Israel came up to Jerusalem to wage war against it, but could not overpower it.</span>
        </div>
        <p>Two generations of kings from the time Isaiah receives his prophetic commission, an expansionist Assyria threatens to invade the kingdom of Aram (Syria), the ten-tribed Northern Kingdom of Israel, and the Southern Kingdom of Judah and to annex them into its empire. When King Ahaz of Judah refuses to join Aram and Israel in an alliance to resist Assyria, they invade the Southern Kingdom to overthrow Ahaz and put a puppet ruler on his throne who will join their coalition. Ahaz, moreover, becomes an important type in the Book of Isaiah of an end-time ruler who proves disloyal to Israel’s God.</p>
        <hr>
        <div class="commentary">
            <span class="prose"><span class="verse-number">2</span> And when the house of David was informed that Aram was leading Ephraim on, the king-s mind and the minds of his people were shaken, as trees in a forest are shaken by a gale.</span>
        </div>
        <p>As descendants of King David, Ahaz and his cabinet of princes are known as the “house of David.” The ten-tribed Northern Kingdom of Israel, often led by a ruler of the tribe of Ephraim, is known simply as “Ephraim” (Isaiah 11:13; Hosea 5:3–14). Besides implying a time of judgment, storm imagery identifies the king’s fear with that of his people, denoting a single reprobate category. Jehovah’s people and the nations who yield to fear aren’t the righteous but the wicked (Isaiah 8:12–15; 12:2; 33:14; 41:5). As here, Isaiah uses the metaphor of “trees” to represent people (Isaiah 14:8; 37:24; 61:3).</p>
        <hr>
        <div class="commentary">
            <span class="prose"><span class="verse-number">3</span> Then Jehovah said to Isaiah, Go out and meet Ahaz, you and your son Shear-Jashub,<sup>1</sup> at the end of the aqueduct of the Upper Reservoir, on the road to the Laundry Plaza.</span>
        </div>
        <p>During Ahaz’ reign, when Isaiah couldn’t prophesy directly, he did so indirectly by giving his sons portending names such as Shear-Jashub (se’ar yasub), “A Remnant Shall Repent” or “A Remnant Shall Return.” Symbolic of the Davidic dynasty, the perpetual Gihon Spring—the “Upper Reservoir”—was the place where Davidic kings were anointed (1 Kings 1:33–39). Jehovah’s message to Ahaz was thus to remind him of the Davidic Covenant. If he kept its terms, Jehovah would protect him and his people. If he didn’t, only a repentant remnant of his people would survive a future calamity.</p>
        <hr>
        <div class="commentary">
            <span class="prose"><span class="verse-number">4</span> Say to him, See to it that you remain calm and unafraid. Be not intimidated by these two smoking tail ends of kindling, by the burning anger of Rezin and Aram and the son of Remaliah,</span>
        </div>
        <p>The exhortation to remain “calm and unafraid” implies trust in Jehovah and in the protection clause of the Davidic Covenant. Divine protection never fails so long as the terms of the covenant are met when the people keep the king’s law and the king keeps God’s law. The rulers of Aram and the Northern Kingdom are but “smoking tail ends of kindling”—their fires are almost out. Jehovah will make sure they won’t accomplish their goal. Instead of Pekah king of Israel appearing by his full name, he appears only under his surname—“the son of Remaliah”—an intentional derogatory deficiency.</p>
        <hr>
        <div class="commentary">
            <span class="prose inline"><span class="verse-number">5</span> even though Aram has conceived an evil plot against you, as has Ephraim and the son of Remaliah, who say,</span>
            <span class="commentary prose inline"><span class="verse-number">6</span> Let us invade Judah and stir up trouble there. We will take it for ourselves by force and set a ruler over it-the son of Tabeal.</span>
        </div>
        <p>The two northern rulers’ scheme to invade the Kingdom of Judah and replace Ahaz with one of their own—the son of Tabeal—is an “evil” plot (ra‘a) because it contravenes Jehovah’s unconditional promise to King David of an everlasting dynasty of kings to rule on David’s throne (Psalm 89:3–4; Jeremiah 33:17–21). The name Tabeal—a compound of the words “not” (’al) and “good” (tab/tob)—implies that the proposed puppet ruler is not a descendant of David. Because the word “good” signifies covenant keeping and covenant blessing, a name that means “No Good” implies the opposite.</p>
        <hr>
        <div class="commentary">
		<span class="poetry"><span class="verse-number">7</span> Thus says my Lord Jehovah:
			<span class="indent">It shall not occur or transpire.</span>
		</span>
		<span class="poetry"><span class="verse-number">8</span> For as surely as Damascus is the capital of Aram
			<span class="indent">and Rezin the head of Damascus, within sixty-five<sup>2</sup> years shall Ephraim be shattered as a nation.</span>
		</span>
		<span class="poetry"><span class="verse-number">9</span> But as surely as Samaria is the capital of Ephraim
			<span class="indent">and the son of Remaliah the head of Samaria,</span>
			you will not believe it,
			<span class="indent">because you are not loyal.</span>
		</span>
        </div>
        <p>A scribal error very likely accounts for the figure "sixty-five years." Historically, Isaiah's prophecy was fulfilled within just a few years. Assyria conquered Aram and Israel during Ahaz' reign, so perhaps "six or five" is closer to Isaiah's prediction. The words "capital" and "head" (ro's) are identical in Hebrew. A play on words?"You will not believe it, because you are not loyal" ('im lo' ta'aminu ki lo' te'amenu)-reflects Ahaz' disloyalty to Jehovah. Jehovah's unconditional covenant with David nonetheless ensures that the northern kings' infringing on Ahaz' rights will suffer covenant curses.</p>
        <hr>
        <div class="commentary">
		<span class="prose inline">
			<span class="verse-number">10</span> Again Jehovah addressed Ahaz, and said,
		</span>
		<span class="prose inline">
			<span class="verse-number">11</span> Ask a sign for yourself from Jehovah your God, whether in the depths below or in the heights above.
		</span>
		<span class="prose inline">
			<span class="verse-number">12</span> But Ahaz said, I will not. I will not put Jehovah to the test.
		</span>
        </div>
        <p>Isaiah’s word to Ahaz—“from Jehovah your God”—is twofold: (1) it is a symbolic reminder of Jehovah’s covenant with King David, Ahaz’ ancestor, including the idea that the scheme to overthrow Ahaz will bring covenant curses on those who attempt it (vv 1–9); and (2) it constitutes a “sign” or “confirmation” (’ot) that Jehovah will fulfill his promise (vv 10–17). Ahaz, however, responds with pious hypocrisy, quoting Deuteronomy 6:16 about not putting Jehovah to the test. In his disloyalty and inability to believe Jehovah’s word, Ahaz refuses confirmation and thus puts himself above Isaiah. </p>
        <hr>
        <div class="commentary">
            <span class="prose"><span class="verse-number">13</span> Then Isaiah said, Take heed, O house of David! Is it not enough for you to try the patience of men? Must you also try the patience of my God?</span>
        </div>
        <p>By addressing Ahaz as “the house of David,” Isaiah reminds Ahaz verbally, not just symbolically, of his duty toward his people under the terms of the Davidic Covenant. At the same time, he rebukes Ahaz for his people’s suffering under his oppressive rule. In addition, Isaiah alters the covenant formula “your God” (v 11) to “my God,” inferring that by rejecting Jehovah’s word Ahaz has rejected his God, breaking the terms of the Davidic Covenant. Meanwhile, the presence of Isaiah’s son Shear-Jashub (“A Remnant Shall Return”) symbolically predicts the consequences of Ahaz’ recalcitrance.</p>
        <hr>
        <div class="commentary">
            <span class="prose"><span class="verse-number">14</span> Therefore will my Lord of himself give you a sign: the young woman with child shall give birth to a son and name him Immanuel.<sup>3</sup></span>
        </div>
        <p>Ahaz’ disloyalty provides the context of Jehovah’s response to Ahaz. Although Matthew applies Isaiah’s prophecy of the son Immanuel to Jesus (Matthew 1:22–23), that interpretation doesn’t qualify as a personal “sign” or “confirmation” (’ot) to Ahaz. As the name Immanuel (‘immanu ’el)—“God Is with Us”—appears three times (Isaiah 7:14, 8:8, 10), its full meaning is determined within its fuller context. That includes the king of Assyria/Babylon’s invasion of the land of Immanuel in the days of Immanuel (vv 16–20), as happened a generation later in the days of King Hezekiah, Ahaz’ own son:</p>
        <p>“My Lord will cause to come up over them the great and mighty waters of the River—the king of Assyria in all his glory. He will rise up over all his channels and overflow all his banks. He will sweep into Judea [like] a flood and, passing through, reach the very neck; his outspread wings will span the breadth of your land, O Immanuel. . . . You may take courage in one another, but shall be in fear; you may arm yourselves, but shall be terrorized. Though you hold consultations, they shall come to nought; though you make proposals, they shall not prove firm: God is with us!” (Isaiah 8:7–10).</p>
        <p><i>Immanuel.</i> Within the larger context of Isaiah’s prophecy, moreover, the son Immanuel is one of three who represent three spiritual categories of people in Jehovah’s Day of Judgment: (1) Immanuel—“God Is with Us”—an elect category whom Jehovah is with, for whose sake he delivers his people; (2) Shear-Jashub—“A Remnant Shall Repent/Return”—those who “repent” (swb) of transgression and “return” (swb) in an end-time exodus to Zion; and (3) Maher-Shalal-Hash-Baz—“Hasten the Plunder, Hurry the Spoil”—those whom the archtyrant destroys on account of their wickedness (Isaiah 8:1–4).</p>
        <p><i>The young woman with child.</i> As the term Isaiah uses—“young woman” (‘alma)—isn’t the Hebrew word for “virgin” (betula), and as the tense of the Hebrew verb “to be with child” or “to be pregnant” (hara) is present, not future, a “sign” or “confirmation” (’ot) to Ahaz such as this would be most meaningful if the woman was known to him under the immediate circumstances—if she were present, for example, at the Laundry Plaza (v 3). The historical context of Isaiah’s Immanuel prophecy, in other words, and its particular choice of terms, helps determine the full meaning of this verse.</p>
        <p><i>Shall give birth to a son.</i> While Jehovah’s sign to Ahaz doesn’t exclude Matthew’s interpretation—that in this instance Isaiah was prophesying of Jesus—that interpretation doesn’t accord with the prophecy’s primary intent in Isaiah’s prophecy as a whole. Indeed, it is in the nature of Hebrew prophecy to contain several levels of meaning. On the other hand, Hezekiah—Ahaz’ son—in all respects qualifies as the prophesied Immanuel, whose people Israel’s God is with when he delivers them from the Assyrian army that takes up a position at the very same Laundry Plaza (v 3; Isaiah 36:1–2; 37:33–36).</p>

    </div> <!-- End One Col Padding -->

    <hr>

    <div class="bottom-links pull-right"><?php include('nav-links-light.php'); ?></div>

    <ul class="footnotes">
        <li><sup>1</sup> That is, <i>A Remnant Shall Return.</i></li>
        <li><sup>2</sup> Many commentators: <i>six or five.</i></li>
        <li><sup>3</sup> That is, <i>God Is with Us.</i></li>
    </ul>

</main>

{{> asides.isaiah}}