<main class="col-xs-12 col-sm-8 left-column" role="main">

    <h4 class="mini-header">Isaiah Institute Translation</h4>
    <div class="top-links pull-right">{{> navigation.links-light}}</div>
    {{> widgets.tab-titles}}

    <div class="chapter-heading"><i>{{chapter_heading}}</i></div>

    <hr>

    <div class="one-col-padding">
        {{{commentary_html}}}
    </div> <!-- End One Col Padding -->

    <hr>

    <div class="bottom-links pull-right">{{> navigation.links-light}}</div>

    <ul class="footnotes">
        {{#footnotes}}
            <li id="commentary-footnote-{{letter}}"><sup>{{letter}}</sup>{{verse_number}} {{{footnote_text}}}</li>
        {{/footnotes}}
    </ul>

    {{> widgets.ad-commentary}}
</main>

<!--{\{> asides.commentary}}-->
{{> asides.isaiah}}