<main class="col-xs-12 col-sm-8 left-column" role="main">

    <h4 class="mini-header">Interactive Translation & Concordance</h4>

    <div class="chapter-heading"><i>King Ahaz' transgression of the terms of his covenant leads to a hostile world
            power gaining supremacy.</i></div>

    <hr>

    <div class="one-col-padding">

	<span class="prose">
		<span class="verse-number">1</span> The <a id="c1v1-VISION" href="page-concordance-a.php">vision</a> of <a id="c1v1-ISAIAH" href="page-concordance-a.php">Isaiah</a> the <a id="c1v1-SON" href="page-concordance-a.php">son</a> of <a id="c1v1-AMOZ" href="page-concordance-a.php">Amoz</a> which he <a id="c1v1-BEHELD" href="page-concordance-a.php">beheld</a> concerning <a id="c1v1-JUDEA" href="page-concordance-a.php">Judea</a> and <a id="c1v1-JERUSALEM" href="page-concordance-a.php">Jerusalem</a> during the <a id="c1v1-REIGNS" href="page-concordance-a.php">reigns</a> of <a id="c1v1-UZZIAH" href="page-concordance-a.php">Uzziah</a>, <a id="c1v1-JOTHAM" href="page-concordance-a.php">Jotham</a>, <a id="c1v1-AHAZ" href="page-concordance-a.php">Ahaz</a>, and <a id="c1v1-HEZEKIAH" href="page-concordance-a.php">Hezekiah</a>, <a id="c1v1-KINGS" href="page-concordance-a.php">kings</a> of <a id="c1v1-JUDAH" href="page-concordance-a.php">Judah</a>:
	</span>
        <div class="spacer"></div>
	<span class="poetry">
		<span class="verse-number">2</span><a id="c1v2-HEAR" href="page-concordance-a.php">Hear</a>, O <a id="c1v2-HEAVENS" href="page-concordance-a.php">heavens</a>! <a id="c1v2-GIVE" href="page-concordance-a.php">Give</a> <a id="c1v2-HEED" href="page-concordance-a.php">heed</a>, O <a id="c1v2-EARTH" href="page-concordance-a.php">earth</a>!
		<span class="indent"><a id="c1v2-JEHOVAH" href="page-concordance-a.php">Jehovah</a> has <a id="c1v2-SPOKEN" href="page-concordance-a.php">spoken</a>:</span>
		I have <a id="c1v2-REARED" href="page-concordance-a.php">reared</a> <a id="c1v2-SONS" href="page-concordance-a.php">sons</a>, <a id="c1v2-BROUGHT" href="page-concordance-a.php">brought</a> them up,
		<span class="indent">but they have <a id="c1v2-REVOLTED" href="page-concordance-a.php">revolted</a> against me.</span>
	</span>

	<span class="poetry">
		<span class="verse-number">3</span> The <a id="c1v3-OX" href="page-concordance-a.php">ox</a> <a id="c1v3-KNOWS" href="page-concordance-a.php">knows</a> its <a id="c1v3-OWNER" hhref="page-concordance-a.php">owner</a>,
		<span class="indent">the <a id="c1v3-ASS" href="page-concordance-a.php">ass</a> its <a id="c1v3-MASTER-S" href="page-concordance-a.php">master?s</a> <a id="c1v3-STALL" href="page-concordance-a.php">stall</a>,</span>
		but <a id="c1v3-ISRAEL" href="page-concordance-a.php">Israel</a> does not <a id="c1v3-KNOW" href="page-concordance-a.php">know</a>;
		<span class="indent">my <a id="c1v3-PEOPLE" href="page-concordance-a.php">people</a> are <a id="c1v3-INSENSIBLE" href="page-concordance-a.php">insensible</a>.</span>
	</span>

    </div> <!-- End One Col Padding -->

</main>

{{> asides.isaiah}}