<main class="col-xs-12 col-sm-8 left-column" role="main">

    {{> widgets.tab-titles}}

    <h4 class="mini-header">Interactive Translation & Concordance</h4>

    <div class="chapter-heading"><i>{{chapter_heading}}</i></div>

    <hr>

    <div class="one-col-padding">
	    {{{concordance_html}}}
    </div> <!-- End One Col Padding -->

    {{> widgets.ad-concordance}}
</main>

{{> asides.isaiah}}