<main class="col-xs-12 col-sm-8 left-column" role="main">

    <h4 class="mini-header">Isaiah Institute Translation</h4>

    <div class="chapter-heading"><i><?php echo get_book_chapter_header($book_title, $chapter); ?></i></div>

    <hr>

    <div id="scripture_area" class="one-col-padding scripture-text">
        <?php echo getIITHtml($book_title, $chapter); ?>
        <!--
        <span class="prose">
            <a href="#versemodal" class="modal-trigger verse-number prose" data-toggle="modal">1</a> When Ahaz son of Jotham, the son of Uzziah, was king of Judah, Rezin king of Aram and Pekah son of Remaliah king of Israel came up to Jerusalem to wage war against it, but could not overpower it.
        </span>
        <span class="prose">
            <a href="#versemodal" class="modal-trigger verse-number prose" data-toggle="modal">2</a> And when the house of David was informed that Aram was leading Ephraim on, the king’s mind and the minds of his people were shaken, as trees in a forest are shaken by a gale.
        </span>
        <div class="spacer"></div>
        <span class="prose inline">
            <a href="#versemodal" class="modal-trigger verse-number prose" data-toggle="modal">3</a> Then Jehovah said to Isaiah, Go out and meet Ahaz, you and your son Shear-Jashub,<sup>1</sup> at the end of the aqueduct of the Upper Reservoir, on the road to the Laundry Plaza. </span>
        <span class="prose inline">
            <a href="#versemodal" class="modal-trigger verse-number prose" data-toggle="modal">4</a> Say to him, See to it that you remain calm and unafraid. Be not intimidated by these two smoking tail ends of kindling, by the burning anger of Rezin and Aram and the son of Remaliah,
        </span>
        <span class="prose inline">
            <a href="#versemodal" class="modal-trigger verse-number prose" data-toggle="modal">5</a> even though Aram has conceived an evil plot against you, as has Ephraim and the son of Remaliah, who say,
        </span>
        <span class="prose inline">
            <a href="#versemodal" class="modal-trigger verse-number prose" data-toggle="modal">6</a> Let us invade Judah and stir up trouble there. We will take it for ourselves by force and set a ruler over it—the son of Tabeal.
        </span>
        <div class="spacer"></div>
        <span class="poetry">
            <a href="#versemodal" class="modal-trigger verse-number" data-toggle="modal">7</a> Thus says my Lord Jehovah:
            <span class="indent">It shall not occur or transpire.</span>
        </span>
        <span class="poetry">
            <a href="#versemodal" class="modal-trigger verse-number" data-toggle="modal">8</a> For as surely as Damascus is the capital of Aram
            <span class="indent">and Rezin the head of Damascus,</span>
            within sixty-five<sup>2</sup> years shall Ephraim
            <span class="indent">be shattered as a nation.</span>
        </span>
        <div class="spacer"></div>
        <span class="poetry">
            <a href="#versemodal" class="modal-trigger verse-number" data-toggle="modal">9</a> But as surely as Samaria is the capital of Ephraim
            <span class="indent">and the son of Remaliah the head of Samaria,</span>
        you will not believe it,
            <span class="indent">because you are not loyal.</span>
        </span>
        <div class="spacer"></div>
        <span class="prose">
            <a href="#versemodal" class="modal-trigger verse-number prose" data-toggle="modal">13</a> Then Isaiah said, Take heed, O house of David! Is it not enough for you to try the patience of men? Must you also try the patience of my God?
        </span>
        <div class="spacer"></div>
        <span class="prose">
            <a href="#versemodal" class="modal-trigger verse-number" data-toggle="modal">20</a> In that day my Lord will use a <a href="#defmodal" class="modal-trigger def-trigger red" data-toggle="modal">razor</a> hired at the River – the king of Assyria – to shave your head and the hair of your legs, and to cut off even your beard.
        </span>
        <div class="spacer"></div>
        <span class="prose">
            <a href="#versemodal" class="modal-trigger verse-number" data-toggle="modal">21</a> In that day a man will keep alive a young cow and a pair of sheep. <a href="#versemodal" class="modal-trigger verse-number" data-toggle="modal">22</a> And because of their plentiful milk, men will eat the cream. All who remain in the land will feed on cream and honey.
        </span>
        -->
    </div> <!-- End One Col Padding -->

    <hr>

    <div class="bottom-links pull-right"><?php include('nav-links-light.php'); ?></div>

    <ul class="footnotes">
        <li><sup>1</sup> That is, <i>A Remnant Shall Return.</i></li>
        <li><sup>2</sup> Many commentators: <i>six or five.</i></li>
        <li><sup>3</sup> That is, <i>God Is with Us.</i></li>
    </ul>

</main>

<?php include('aside-isaiah.php'); ?>